- edit.target.editor_account = current_user
- parent_id = (params[:organization_id] || params[:project_id] || params[:account_id])

%tr{ id: "edit_#{edit.to_param}", parent_id: parent_id }
  %td
    - edit_counter ||= 1
    .edit{ class: "#{edit.to_param} #{'alt' if edit_counter.even?}" }
      .edit_actions
        .undo_block= render partial: 'undo_block', locals: { edit: edit }
      .in_avatar.clear
        - if edit.account.name == 'The Ohloh Hamster'
          %p.twitter-text
            &nbsp;OH&nbsp;
        - else
          = avatar_for(edit.account)
      .inside
        %p.nomargin{ class: edit_title_class(edit) }
          %span.strong
            = link_to edit.id, show_edit_path(edit), class: 'show_edit_btn', remote: true,
                    data: { toggle: 'modal', target: '#edit-details.modal', keyboard: true }
            %span - #{edit_show_subject(edit)}
          %span.editor_details
            by
            = link_to h(edit.account.name), account_path(edit.account)
            %span.date= edit_humanize_datetime(edit.created_at)
