.clearfix

- if @edits.present?
  #edits_list
    %table.table.table-striped.alt.table-condensed
      %tbody
        %tr{ id: 'dingus-row' }
          %td
            = render 'shared/search_dingus', collection: @edits, filter_type: :checkbox
        = render partial: 'edit', collection: @edits
  = will_paginate @edits
- elsif !params[:query].blank?
  .alert.alert-info
    %a.close{ href: '#', 'data-dismiss' => 'alert' } x
    %i.icon-info-sign!= '&nbsp;'
    = t(:no_matches)
- if @edits.blank?
  .clearfix
  %h4= t('.no_edits_found')
