.clearfix

#edits_list
  %table.table.table-striped.alt.table-condensed
    %tbody
      %tr{ id: 'dingus-row' }
        %td
          = render 'shared/search_dingus', collection: @edits, filter_type: :checkbox, no_match_found_type: :flash
      = render partial: 'edit', collection: @edits if @edits.present?

- if params[:query].present? && @edits.blank?
  = render 'shared/alert', message: t('shared.search_dingus.no_match_found.no_match')
- elsif @edits.blank?
  .clearfix
  %h4= t('.no_edits_found')

= will_paginate @edits, class: 'oh_pagination'

.modal.fade#edit-details{ role: 'dialog', tabindex: -1 }
  .modal-dialog{ role: 'document' }
    .edit_spinner= image_tag 'spinner.gif'
