.clearfix

.full_row
  - if @edits.any?
    %table.table.table-striped.table-condensed
      %tbody
        %tr{ id: 'dingus-row' }
          %td
            -# render_table_dingus(true, @edits, true, nil, (project_edits_page? || orgs_edits_page?))

- if !@edits.empty?
  #edits_list{ style: 'margin-top:-20px;' }
    %table.table.table-striped.alt.table-condensed
      %tbody
        = render partial: 'edit', collection: @edits
  = will_paginate @edits
- elsif !params[:query].blank?
  .alert.alert-info
    %a.close{ href: '#', 'data-dismiss' => 'alert' } x
    %i.icon-info-sign!= '&nbsp;'
    = t(:no_matches)
- if @edits.blank?
  .clearfix
  %h4= t('.no_edits_found')
