:ruby
  content_for(:html_title) { t('.page_title', name: @parent.name) }
  account_context
  page_context[:select_footer_nav] = :edit_history

%meta{ name: 'ROBOTS', content: 'NOINDEX, NOFOLLOW' }

#edits_account
  %h2.float_left
    = link_to t(:settings), settings_account_path(@parent)
    &nbsp;:&nbsp;<strong>#{t('.openhub_edit_history')}</strong>

  = render partial: 'index'

  .col-md-12
    .about-account-basics-card
      .card-header
        %h4.card-title
          %span.soft= t(:about)
          = t('.edit_history')
        %button.expand-toggle{ type: 'button', 'aria-label' => 'Expand about section' }
          %i.fa.fa-chevron-down
      .card-content
        .about-content-wrapper
          %ul
            %li= t('.help_1')
            %li= t('.help_2')
            %li= t('.help_3')
