:ruby
  content_for(:html_title) { t('.page_title', name: @parent.name) }
  page_context[:select_top_menu_nav] = 'select_projects'
  page_context[:select_footer_nav] = nil

%meta{ name: 'ROBOTS', content: 'NOINDEX, NOFOLLOW' }
.project_content_title
  %h2.pull-left
    = link_to t(:settings), settings_project_path(@parent)
    &nbsp;:&nbsp;#{t('.openhub_edit_history')}
  = project_analysis_timestamp(@parent)

= render partial: 'index'

%h4.nomargin
  %span.soft #{t(:about)} #{t('.openhub_edit_history')}
.margin_left_25.col-md-5
  %ul
    %li= t('.help_1')
    %li= t('.help_2')
    %li= t('.help_3')
