%meta{ name: 'ROBOTS', content: 'NOINDEX, NOFOLLOW' }
- content_for(:html_title) { t('.page_title', name: @parent.vanity_url) }

#license-edit-page
  .license-edit-breadcrumb
    = link_to t('.licenses'), licenses_url
    %span.license-edit-sep /
    = link_to h(truncate(@parent.name, length: 42)), license_url(@parent), title: @parent.name
    %span.license-edit-sep /
    %span= t('.openhub_edit_history')
  .license-edit-header
    %h1.license-edit-title
      %i.fa.fa-history
      = t('.openhub_edit_history')

  = render partial: 'index'
