:ruby
  oldest_code_set_time = project.best_analysis.oldest_code_set_time
  name_class = show_name ? 'name' : 'noname'

= render partial: 'footer_css'

.project_footer
  .link_container
    = link_to project_url(project), target: '_blank', class: 'project_link' do
      = t('.more')
      = image_tag(widget_ohloh_logo_url)
  = link_to project_url(project), target: '_blank', class: "project_link #{name_class}", title: project.name do
    = truncate(project.name, length: 50) if show_name
    - if oldest_code_set_time
      = t('.updated', at: oldest_code_set_time.to_s(:mdy))
