:ruby
  widget ||= @widget
  project = widget.project
  analysis = project.best_analysis
  factoids = project.best_analysis.factoids

= render partial: 'factoids_css'

.factoids
  %ul
    - if analysis.nil?
      %li
        %img{ src: widget_image_url('fact_info.png') }
        = t('.not_ready')
        = link_to t('.progress'), project_enlistments_url(project), target: '_blank'
    - else
      - if analysis.main_language
        %li
          %img{ src: widget_image_url('fact_info.png') }
          = link_to t('.mostly_written', lang: analysis.main_language.nice_name),
          languages_summary_project_analysis_url(project, id: 'latest'), target: '_blank'
      - factoids.reject { |f| f.type.to_s =~ /FactoidDistribution|FactoidStaff/ }.each do |factoid|
        %li
          %img{ src: factoid_image_path(factoid) }>
          = link_to(factoid, project_factoids_url(project, anchor: factoid.type), target: '_blank')

  = render partial: 'footer', locals: { project: project, show_name: true }
