:ruby
  project = @widget.project
  ohloh_code_url = 'http://code.openhub.net/project?pid=&ipid=#{project.koders_status.try(:koders_id)}'

= render partial: 'ohloh_code_header'
= render partial: 'search_all_code_js', locals: { term: t('.search') }

#ohloh_widget_code
  .widget_search_project_code
    %table{ width: '100%', cellpadding: 0, cellspacing: 0 }
      %tr
        %td.browse_code_top{ colspan: 2 }
          %h2.header= t('.search')
      %tr
        %td{ width: '15%', valign: 'middle' }
          = link_to project.decorate.icon(:med), ohloh_code_url, style: 'padding-bottom: 10px', target: '_blank'
        %td.project_title.center{ valign: 'middle', width: '85%' }
          = link_to truncate(project.name, length: 50), ohloh_code_url,
            target: '_blank', class: 'project_name', title: project.name
          %br
          %form.search.no_margin_bottom{ action: '//code.openhub.net/search', method: :get,
            target: '_blank', onsubmit: 'return validate_ohloh_search_form(this.s.value)' }
            %input{ type: :hidden, name: 'browser', value: 'Default' }
            %input{ type: :hidden, name: 'fp', value: @project.koders_status.try(:koders_id) }
            %input.search_code{ type: :text, name: 's', value: t('.enter'),
              onfocus: 'onFocus(this);', onblur: 'onBlur(this);' }
            %input.icon_search{ type: 'image', src: widget_image_url('search_icon.png') }
      %tr
        %td.right{ colspan: '2' }
          = render partial: 'ohloh_code_footer'
