%td.text-left{ class: klass.to_s }= link_to summary.language_name, language_path(summary.language)
%td.center{ class: klass.to_s }= summary.code_added
%td.center{ class: klass.to_s }= summary.code_removed
%td.center{ class: klass.to_s }= summary.comments_added
%td.center{ class: klass.to_s }= summary.comments_removed
%td.center{ class: klass.to_s }= summary.blanks_added
%td.center{ class: klass.to_s }= summary.blanks_removed
