%td.text-left{ class: "#{ klass }" }= link_to summary.language_name, language_path(summary.language)
%td.center{ class: "#{ klass }" }= summary.code_added
%td.center{ class: "#{ klass }" }= summary.code_removed
%td.center{ class: "#{ klass }" }= summary.comments_added
%td.center{ class: "#{ klass }" }= summary.comments_removed
%td.center{ class: "#{ klass }" }= summary.blanks_added
%td.center{ class: "#{ klass }" }= summary.blanks_removed
