- if request.xhr?
  %td.center= @commit.diffs.count
  %td.center= @lines_added
  %td.center= @lines_removed
  %td.center{ title: @commit.code_set.code_location.url.to_s.reverse.truncate(25).reverse,
              style: 'word-break: break-all' }
    = @commit.code_set.code_location.url
- else
  %ul.nomargin.unstyled
    %li
      - if @commit.code_set.code_location.url =~ /github\.com/
        %span.icon-github-sign
      = t('.repository')
      %strong= h @commit.code_set.code_location.url
    %li
      %span.icon-file
      = pluralize(@commit.diffs.count, 'file')
      = t('.modified')

    - if @lines_added.zero? && @lines_removed.zero?
      %li= t('.no_code_detected')
    - else
      %li{ style: 'color:green' }
        %span.icon-plus-sign
        = pluralize(@lines_added, t('.line'))
        = t('.added')
      %li{ style: 'color:red' }
        %span.icon-minus-sign
        = pluralize(@lines_removed, t('.line'))
        = t('.removed')
    %li{ style: 'text-align: right' }
      = link_to t('.more_details'), project_commit_path(@project, @commit)
