- content_for(:html_title) { t('.html_title', name: @project.name) }
- page_context[:select_footer_nav] = :commits

.project_content_title
  %h2.pull-left= t('.commits')
  = project_analysis_timestamp(@project)

- if @analysis.empty?
  = render 'projects/show/no_analysis_summary'
- else
  :ruby
    @all_time_summary     = @analysis.all_time_summary.nil? ? NilAnalysisSummaryWithNa.new : @analysis.all_time_summary
    @twelve_month_summary = @analysis.twelve_month_summary
    @twelve_month_summary = NilAnalysisSummaryWithNa.new if @twelve_month_summary.nil?
    @thirty_day_summary   = @analysis.thirty_day_summary
    @thirty_day_summary   = NilAnalysisSummaryWithNa.new if @thirty_day_summary.nil?

  .col-md-12
    .well.margin_left_20.margin_right_20
      %center
        %table.data-table{ style: 'width: 60%' }
          %tbody
            %tr.border_bottom
              %th{ width: '25%', align: 'right' } &nbsp;
              %th.text-right{ width: '25%', align: 'right' }= t('.all_time')
              %th.text-right{ width: '25%', align: 'right' }= t('.12_month')
              %th.text-right{ width: '25%', align: 'right' }= t('.30_day')
            %tr{ style: 'margin-top:8px' }
              %td{ width: '25%' } #{t('.commits')}:
              = render 'summary', attribute: :commits_count

            %tr.border_bottom
              %td= t('.contributors')
              = render 'summary', attribute: :committer_count

            %tr
              %td= t('.files_modified')
              = render 'summary', attribute: :files_modified

            %tr
              %td= t('.lines_added')
              = render 'summary', attribute: :lines_added

            %tr.border_bottom
              %td= t('.lines_removed')
              = render 'summary', attribute: :lines_removed

    .col-md-12.no_margin_left
      %h4= t('.commits_per_month')
      - commits_chart_url = commits_history_project_analysis_url(project_id: @project.to_param, id: 'latest')
      .chart.watermark440#code_analysis_chart{ 'datasrc' => commits_chart_url, style: 'height: 340px' }

    .clearfix
    %h4= link_to t('.most_recent_commits'), project_commits_path(@project)
    = render 'commit', commits: @commits, search_dingus: false
    = link_to t('.see_all_commits'), project_commits_path(@project), class: 'btn btn-small btn-primary'
