.well.col-md-10.col-md-offset-1
  .wrapper
    .pull-left.margin_right_5.margin_top_5
      = t('aliases.contributions_by')
    .pull-left.margin_right_5.chosen#value_select
      = select_tag :commit_name_id, options_for_select(@committer_names.pluck(:name, :id)),
        class: 'chzn-select value-select', url: preferred_names_project_aliases_path(@project)

    .pull-left.margin_right_5.margin_top_5
      %span= t('aliases.attributed_to')
    .pull-left.margin_right_5
      #preferred_name= render partial: 'preferred_names'

    .pull-left.margin_right_5
      %span.spinner= image_tag 'spinner.gif'
    .clearfix
  .act.margin_top_5
    - if logged_in? && @project.edit_authorized?
      = submit_tag t('aliases.save_alias'), class: 'submit btn btn-primary btn-small', id: 'submit_button'
    - else
      = disabled_button t('aliases.save_alias'), class: 'btn-primary'
