:ruby
  content_for(:html_title) { t('.title', project_name: @project.name) }
  page_context[:select_footer_nav] = nil
  @alias ||= Alias.new
  @committer_names ||= Alias.committer_names(@project)

#alias-new-page
  .alias-page-header
    %h2.alias-page-title
      = link_to t('settings'), settings_project_path(@project)
      %span.alias-page-title__sep &rsaquo;
      = link_to t('aliases.aliases'), project_aliases_path(@project)
      %span.alias-page-title__sep &rsaquo;
      = t('aliases.new_alias')

  .row
    .col-md-8.col-sm-10.col-xs-12.center-block
      - if @committer_names.length.zero?
        .alert.alert-info.alert-block.modern-alert
          .alert-accent-strip
          .alert-inner
            = t('.no_more_alias')
      - else
        .oh-card
          = form_for [@project, @alias] do
            = render partial: 'fields'

  = render partial: 'about_aliases'
