:ruby
  name = account.name
  kudo = Kudo.where(sender: current_user, target: account)
  action = '' #new_kudo_path(account_id: account.to_param)

- unless !logged_in? || current_user == account
  - if kudo
    = form_for kudo, {action: account_kudo_path(current_user, kudo), method: :post} do |f|
      = f.hidden_field '_method' , 'delete'
      = f.submit "<i class='icon-undo'></i> Undo Kudo", {class: "btn kudo-btn #{css}"}
  - else
    = link_to 'Give Kudo', '#', class: "btn kudo-btn #{css}", onclick: "tb_show('Give Kudos to #{name}', '#{action}', false); return false;"
