.control-group
  = f.label :name, t('.name'), class: 'control-label required'
  .controls
    = f.text_field :name, class: 'form-control'
    - error_tag @license, :name
    %p.help-block= t('.name_help')

.control-group
  = f.label :vanity_url, t('.url_name'), class: 'control-label required'
  .controls
    .input-prepend.license-url-prepend
      %span.add-on= 'http://www.openhub.net/licenses/'
      - read_only = @license.persisted? ? true : false
      = f.text_field :vanity_url, readonly: read_only, class: 'form-control check-availability',
        autocomplete: 'off',
        'data-original-value' => License.find_by(id: @license).try(:vanity_url),
        'data-ajax-path' => license_check_availabilities_path,
        'data-preview-base-url' => licenses_url
    = render 'shared/availability_preview'
    - error_tag @license, :vanity_url, class: 'error url_name'
    %p.help-block= t('.vanity_url_help')

.control-group
  = f.label :url, t('.homepage'), class: 'control-label'
  .controls
    = f.text_field :url, class: 'form-control'
    - error_tag @license, :url
    %p.help-block= t('.homepage_help')

.control-group
  = f.label :description, t('.license_text'), class: 'control-label'
  .controls
    = find_and_preserve(f.text_area(:description, max_length: 50_000, rows: 10,
      class: 'form-control edit-description'))
    - error_tag @license, :description
    .clearfix
    %p.help-block= t('.license_help')

.actions
  - btn_value = @license.persisted? ? t('.save_changes') : t('.save_license')
  %input.btn.btn-primary{ type: 'submit', value: btn_value }
  .pull-right.margin_right_35
    - if current_user_is_admin?
      = f.label :locked, class: 'checkbox' do
        = f.check_box :locked
        = t('.locked')
