- content_for(:html_title) { t('.title', name: @license.name) }

#license
  %h1
    = link_to t('.license'), licenses_path
    &nbsp;:
    = link_to h(truncate(@license.name, length: 42)), license_url(@license), title: @license.name
  %h2= t('.edit_license')

.col-md-10
  .well
    = form_for @license do |f|
      %fieldset
        = render 'fields', f: f
