- content_for(:html_title) { t('.title') }

#license-edit-page
  .license-edit-breadcrumb
    = link_to t('.licenses'), licenses_path
    %span.license-edit-sep /
    %span= t('.new_license')
  .license-edit-header
    %h1.license-edit-title
      %i.fa.fa-plus
      = t('.new_license')
  .oh-card.col-md-8
    = form_for @license do |f|
      %fieldset
        = render 'fields', f: f
