- content_for(:html_title) { t('.title', name: @license.name) }

#license-show-page
  .license-show-breadcrumb
    = link_to t('.license'), licenses_path
    %span.license-show-sep /
    %span.license-show-name{ title: @license.name }= h(truncate(@license.name, length: 60))

  .oh-card.margin_top_20
    .license-show-header
      %h1.license-show-title
        %i.fa.fa-balance-scale
        = h(@license.name)
      .license-show-actions
        - if current_user_is_admin? || !@license.locked
          = link_to t('.edit_license'), edit_license_path(@license),
              class: "btn btn-default btn-sm license-action-btn #{'needs_login' unless logged_in?}"
        = link_to t('.view_history'), license_edits_path(@license), class: 'btn btn-default btn-sm license-action-btn'
        - if @license.url.present?
          = link_to h(@license.url), class: 'btn btn-default btn-sm license-action-btn', target: '_blank', rel: 'noopener noreferrer' do
            %i.fa.fa-external-link
            = t('.home_page')

    .license-show-body
      - if @license.description.blank?
        .license-no-description
          %i.fa.fa-info-circle
          = link_to t('.provide_license'), edit_license_path(@license)
      - else
        .license-description= simple_format(html_escape(@license.description))

      - if @license.url.present?
        .license-url-block
          %i.fa.fa-link
          %span= t('.read_more')
          = link_to h(@license.url), h(@license.url), target: '_blank', rel: 'noopener noreferrer'

    .license-show-footer
      = link_to t('.add_new_license'), new_license_path, class: 'btn btn-primary'
