- @login = OpenStruct.new
= form_for(@login, as: :login, url: oh_sessions_path, html: { method: :post, id: 'signin_form' }) do |f|
  %fieldset
    .signup-field-group
      = f.label(:login, t('.login_or_email'), class: 'signup-field-label')
      .signup-field-input-wrapper
        %i.fa.fa-user.signup-field-icon
        = f.text_field(:login, class: 'signup-field-input', placeholder: t('.login_or_email'))

    .signup-field-group
      = f.label(:password, t('.password'), class: 'signup-field-label')
      .signup-field-input-wrapper
        %i.fa.fa-lock.signup-field-icon
        = f.password_field(:password, class: 'signup-field-input', placeholder: t('.password'))

    .signin-remember-me
      %label.signin-checkbox-label
        = f.check_box :remember_me
        = t('.remember_me')

    - if @ask_for_recaptcha
      .signup-field-group
        = render 'shared/captcha'

    .signup-field-actions
      %input.signup-submit-btn{ type: 'submit', value: t('.log_in') }
