- content_for(:html_title) { t '.page_title' }

.sessions-new{ style: 'margin-top: 1em;' }
  .col-sm-7
    %h2= t('.page_header')
    %p= t('.account_help1')
    .well
      %ul
        %li= t('.account_help2')
        %li= t('.account_help3')
        %li= t('.account_help4')
    %p
      %a.btn.btn-success{ href: new_account_path(invite: params[:invite]) }= t('.register_today')
      != t('.register_today_cta')
  .col-sm-5
    = render 'sessions/sign_in'
    .inset
      %p
        %a.command{ href: new_password_reset_path }= t('.forgot_password')
        %br
        %a.command{ href: new_activation_resend_path }= t('.resend_activation_email')
