%fieldset
  .control-group
    = f.label :title, t('.title'), class: 'control-label'
    .controls
      = f.text_field :name, class: 'col-md-8'
      - if @forum.errors[:name]
        %p.error= @forum.errors[:name]
  .control-group
    = f.label :position, t('.position'), class: 'control-label'
    .controls
      = f.text_field :position, size: 5
  .control-group
    = f.label :description, t('.description'), class: 'control-label'
    .controls
      = f.text_area :description, rows: 10, class: 'col-md-10'
