%fieldset
  .control-group
    = f.label :title, t('.title'), class: 'control-label required'
    .controls
      = f.text_field :name, class: 'span8'
    - if @forum.errors[:name]
      %p.error = {@forum.errors[:name] }

  .control-group
    = f.label :position, t('.position'), class: 'control-label'
    .controls
      = text_field :position, size: 5

  .control-group
    = f.label :description, t('.description'), class: 'control-label'
    .controls
      = text_area :description, rows: 10, class: 'span10'
