/ Note: Determine why glyphicons are not rendering.
/ Refactor this into a partial for new/edit html pages.
- if flash[:alert]
  .alert.alert-danger.alert-color
    %span.glyphicon.glyphicon-exclamation-sign
    %span.text-size= flash[:alert]
    %span.glyphicon.glyphicon-remove.float_right

%h1.margin_top_0
  %span= link_to t('.forums'), forums_url
.clear

.row
  .col-md-8.margin_top_20.float_left
    %h2= t('.edit_forum')

.well.col-md-11.margin_left_20
  .col-md-7
    = form_for @forum do |f|
      = render partial: 'form', locals: { f: f }
      = f.submit t('.save_forum'), class: 'btn btn-small btn-primary'
      = link_to t('.cancel'), forum_path(@forum), class: 'btn btn-small'
