- content_for :html_title do
  = t('.edit_forum_title')

- if flash[:alert]
  = render 'forums/error_alert'

%br
%h1.margin_top_0
  %span= link_to t('.forums'), forums_url

.clear

.row
  .col-md-8.margin_top_20.float_left
    %h2= t('.edit_forum')

.well.col-md-11.margin_left_20
  .col-md-7
    = form_for @forum do |f|
      = render partial: 'form', locals: { f: f }
      = f.submit t('.save_forum'), class: 'btn btn-small btn-primary', style: 'height: 33px;'
      = link_to t('.cancel'), forum_path(@forum), class: 'btn btn-small'
