- content_for :html_title do
  = t('.openhub_forums')

%h1= t('.forums')
= render partial: '/forums/notice'

%h2.soft.margin_top_20= t('.active_topics')
= render partial: '/topics/current_discussions', object: @recent_topics

.center
  = link_to t('.recent_posts'), all_posts_path, class: 'btn btn-info btn-small'
  = link_to t('.unanswered_posts'), all_posts_path(sort: :unanswered), class: 'btn btn-info btn-small'

%h2.soft= t('.all_forums')
%table.table.table-striped
  %thead
    %tr
      %th{ width: '70%' }
        %h4.nomargin.strong.margin_bottom_0= t('.forums')
      %th.center{ width: '15%' }
        %h4.nomargin.center.strong.margin_bottom_0= t('.topics')
      %th.center{ width: '15%' }
        %h4.nomargin.center.strong.margin_bottom_0= t('.posts')
  %tbody
    - @forums.each do |forum|
      - class_name = (@forums.last == forum) ? 'border_bottom_color' : ''
      %tr{ class: class_name }
        %td.first
          %h3.nomargin
            = link_to forum.name, forum_path(forum)
          %p.nomargin= forum.description
        %td.center= forum.topics_count
        %td.center= forum.posts_count

- if current_user_is_admin?
  = link_to t('.new_forum'), new_forum_path, class: 'btn btn-primary btn-small disabled'
