%h1.margin_bottom_20= t('.forums')
%h2.soft= t('.active_topics')
= render partial: '/topics/current_discussions', object: @recent_topics

.center
  = link_to t('.recent_posts'), all_posts_path, class: 'btn btn-info btn-small'
  = link_to t('.unanswered_posts'), all_posts_path(unanswered: true), class: 'btn btn-info btn-small'

%h2.soft= t('.all_forums')
%table.table.table-striped
  %thead
    %tr
      %th{ width: '70%' }
        %h4.nomargin.strong= t('.forums')
      %th.center{ width: '15%' }
        %h4.nomargin.center.strong= t('.topics')
      %th.center{ width: '15%' }
        %h4.nomargin.center.strong= t('.posts')
  %tbody
    - @forums.each do |forum|
      %tr
        %td.first
          %h3.nomargin
            = link_to forum.name, forum_path(forum)
          %p.nomargin= forum.description
          / TODO: Changing the below from forum.topics_count to forum.topics.count
          / creates an extremely large query. Figure out how to address this issue.
          / This also incorrectly displays the wrong information when a topic/post
          / is created because the topics_count and posts_count are not incremented.
        %td.center= forum.topics_count
        %td.center= forum.posts_count

- if current_user_is_admin?
  = link_to t('.new_forum'), new_forum_path, class: 'btn btn-primary btn-small'

