%h1.margin_bottom_20
  %span= link_to t('.forums'), forums_url
.clear

.row
  .col-md-8.float_left
    %h2= t('.new_forum')

.well.span11
  .col-md-7
    = form_for @forum do |f|
      = render partial: 'form', locals: { f: f }
      .actions
      = f.submit t('.create'), class: 'btn btn-primary btn-small'
  .clear
