%h1.margin_bottom_0
  = link_to t('.forums'), forums_url
  \:
  = @forum.name

%table.table.table-striped
  %thead
    %tr
      %th.first.col-md-3
        %h4.nomargin.strong= t('.topic')
      %th.col-md-1
        %h4.nomargin.center.strong= t('.replies')
      %th.col-md-1
        %h4.nomargin.center.strong= t('.views')
      %th.col-md-3
        %h4.nomargin.center.strong= t('.last_post')
  %tbody
    = render partial: 'topics/topic', collection: @topics
.row
  .col-md-12
    = link_to t('.add_new_topic'), new_forum_topic_path(@forum), class: 'btn btn-primary btn-mini'
    = will_paginate @topics, style: 'margin-top: -26px'
