- content_for :html_title do
  = t('openhub_show', name: @forum.name.to_s)

%h1
  = link_to t('.forums'), forums_url
  \:
  = @forum.name

= render partial: '/forums/notice'

%table.table.table-striped
  %thead
    %tr
      %th.first.col-md-4
        %h4.nomargin.strong.margin_bottom_0= t('.topic')
      %th.col-md-1
      %th.col-md-1
        %h4.nomargin.center.strong.margin_bottom_0= t('.replies')
      %th.col-md-1
        %h4.nomargin.center.strong.margin_bottom_0= t('.views')
      %th.col-md-3
        %h4.nomargin.center.strong.margin_bottom_0= t('.last_post')
  %tbody
    = render partial: 'topics/topic', collection: @topics
.col-md-12{ style: 'margin-left: -15px' }
  .col-md-1
    = link_to t('.add_new_topic'), new_forum_topic_path(@forum),
      class: 'btn btn-primary btn-mini disabled'
  .col-md-11{ style: 'margin-top: -20px' }
    = will_paginate @topics
