.col-md-
  %form
    %fieldset
      %legend_without_border_bottom#authorized_apps= t('.authorized_apps')
      .col-md-12
        %p.help-block.margin_left_20= t('.registered_applications')
        %br
      - if @oauth_applications.present?
        %table.table.span5{ style: 'border: 1px solid #ddd;' }
          %tbody
            - @oauth_applications.each do |oauth_application|
              - api_key = ApiKey.find_by(oauth_application: oauth_application)
              %tr
                %td
                  %h3= oauth_application.name
                  %p= api_key.description
                %td{ style: 'width: 90px;' }
                  - path = account_revoke_oauth_access_path(@account, oauth_application)
                  = link_to t('.remove'), path, class: 'btn btn-danger'
      - else
        %span.well.col-md-10.margin_left_20= t('.no_registered_applications')
