.col-md-
  %form
    %fieldset
      %legend_without_border_bottom#authorized_apps= t('.authorized_apps')
      .col-md-12
        %p.help-block.margin_left_20= t('.registered_applications')
        %br
      - if @active_authorizations.blank?
        %span.well.col-md-10.margin_left_20= t('.no_registered_applications')
      - else
        %table.table.span5{ style: 'border: 1px solid #ddd;' }
          %tbody
            -# TODO: OAuth Ticket work needs to be completed first before adding this part.
            - @active_authorizations.each do |authorization|
              %tr
                %td
                  %h3= authorization.api_key.name
                  %p= authorization.api_key.description
                %td{ style: 'width: 90px;' }
                  -# TODO: OAuth Ticket work needs to be completed first before adding this part.
                  = link_to(t('.remove'), revoke_account_authorization_path(@account, authorization),
                    class: 'btn btn-danger', method: :delete)