.row.padding_one_top
%h4.margin_left_15.margin_bottom_0
  .soft.inline= t('.about')
  = t('.privacy')
.col-md-5
  %ul.margin_left_40
    %li= t('.privacy_policy_html', href: link_to(t('.privacy_policy'), 'https://community.blackduck.com/s/article/Black-Duck-Open-Hub-Open-Hub-Privacy-Policy'))
    %li= t('.admin_emails_from_openhub')
    %li= t('.opting_in')
.col-md-5
  %ul.margin_left_40
    %li= t('.opting_out')
    %li= t('.openhub_oauth_html', href: link_to(t('.oauth_api'), 'http://blog.openhub.net/oauth/'))
