- content_for(:html_title) do
  - t('.edit_privacy_title', account: @account.name)
- page_context[:select_footer_nav] = :settings

- account_context

%h2.alter-password-heading
  = link_to t('.settings'), settings_account_path(@account)
  = ' : '
  %span.account-basics-title= t('privacy.privacy_text.privacy')
#privacy_edit_page
  .row
    .col-md-6
      .oh-card
        = form_for(@account, url: account_privacy_account_path) do |f|
          %fieldset
            %legend.margin_bottom_0= t('.manage_email')
            .control-group.col-md-12.margin_left_5
              %h4= t('.administrative_email')
              %p.admin_email_notice= t('.send_admin_email')
              %br
              %h4= t('.other_openhub_email')
              %p.admin_email_notice= t('.admin_email_notice')
              %br
              .controls.admin_email_notice
                %p.email_opt_status
                  = f.radio_button(:email_master, 'false', id: 'account_email_master_false')
                  = f.label(:email_master, t('.dont_send_email'), value: 'false')
                  %br
                  = f.radio_button(:email_master, 'true', id: 'account_email_master_true')
                  = f.label(:email_master, t('.do_send_email'), value: 'true')
                %ul.chosen#email_status{ style: 'padding-left: 25px' }
                  %li.margin_bottom_13
                    %span= t('.please')
                    = f.label :email_kudos, t('.notices_ive_received'), class: 'sr-only'
                    = f.select :email_kudos, [['include', true], ['exclude', false]], {}, class: 'select_box value-select'
                    %span= t('.notices_ive_received')
                    %br
                  %li{ style: 'width: 370px' }
                    %span= t('.please')
                    = f.label :email_posts, t('.replies_to_forum_topics'), class: 'sr-only'
                    = f.select :email_posts, [['include', true], ['exclude', false]], {}, class: 'select_box value-select'
                    %span= t('.replies_to_forum_topics')
                %br
                %p.help-inline= t('.never_ask_for_personal_email')
              .actions
                %br
                = submit_tag(t('.save_changes'), id: 'Submit', class: 'btn btn-primary')
    = render partial: 'authorized_apps'
= render partial: 'privacy_text'
