:ruby
  title ||= widget.vars[:title] || stack.friendly_name
  limit ||= widget.vars[:projects_shown] || 8
  clear_class = widget.vars[:noclear] ? 'clearfix' : ''
  icon_size = widget.icon_width.to_i == 16 ? [:tiny] : [:small, { width: 24, height: 24 }]

.stack{ class: clear_class, id: "stack_#{stack.id}", style: "width:#{width}px" }
  %h4= title
  .icons
    - stack.projects.limit(limit).order(:logo_id).each do |project|
      = project.decorate.icon(*icon_size)
  - if widget.more > 0
    %p.promo-more-link= t('.more', more: widget.more)
  .ohloh
    = image_tag('widget_logos/openhublogo.png')
