:ruby
  title ||= widget.vars[:title] || stack.friendly_name
  limit ||= widget.vars[:projects_shown] || 8
  inner_width = width - 14
  clear_class = widget.vars[:noclear] ? 'clearfix' : ''

.stack{ class: clear_class, id: "stack_#{stack.id}", style: "width:#{inner_width}px" }
  %h4= title
  = eliminate_whitespace do
    .icons
      - stack.projects.limit(limit).order('logo_id is null').each do |project|
        = project.decorate.icon(:tiny)
  - if widget.more > 0
    %p= t('.more', more: widget.more)
  .clearfix
  .ohloh
    = image_tag(widget_ohloh_logo_url)
