- if position.name.present?
  %p
    - name_fact = position.decorate.name_fact
    - if name_fact
      = link_to position.decorate.project_contributor_or_show_path do
        - if name_fact.commits > 1
          = name_fact.commits
          = t('commits_menu')
        - else
          1
          = t('commits_menu').singularize
      - main_language = name_fact.primary_language
      - unless main_language.nil?
        = t('.in_mostly')
        = main_language.nice_name
