- project_name = params[:position].present? ? params[:position][:project_oss] : position.try(:project).try(:name)
- project_name ||= params[:project_name]
%fieldset.position-fields
  .position-field-group
    %label.position-label.required{ for: 'position_project_oss' }= t('.project_name')
    = f.text_field :project_oss, class: 'form-control autocompletable',
    value: project_name,
    data: { source: '/autocompletes/project' }
    - error_tag(position, :project_oss)
    %p.position-help= t('.enter_openhub_project_name')

  .position-field-group
    %label.position-label{ for: 'position_committer_name' }= t('.committer_name')
    = f.text_field :committer_name, class: 'form-control autocompletable',
    value: params[:committer_name],
    data: { source: '/autocompletes/contributions', prerequisite_input: true }
    - error_tag(position, :committer_name)
    %p.position-help
      = t('.enter_scm_committer_id')
      %br
      = t('.leave_this_blank')

  .position-field-group.position_affiliation
    %label.position-label{ for: 'position_organization_id' }= t('affiliation')
    .controls.chosen#value_select
      = f.select :organization_id, OrganizationDecorator.select_options, {}, class: 'form-control chzn-select value-select'
      - error_tag(position, :organization_id)
      = f.text_field :organization_name, class: 'form-control hidden', placeholder: t('.affiliation.placeholder')
      = f.hidden_field :affiliation_type
      - error_tag(position, :organization_name)
    %p.position-help= t('.enter_name_of_company_or_organization')

  .position-field-group
    %label.position-label{ for: 'position_title' }= t('.role_on_project')
    = f.text_field :title, class: 'form-control'

  .position-field-group
    %label.position-label{ for: 'position_description' }= t('.describe_contributions')
    = f.text_area :description, rows: 8, class: 'form-control position-textarea', value: @position.description

  - date_selector_options = { order: [:month, :year], prompt: true, end_year: Time.current.year, start_year: 1980 }

  .position-field-group
    %fieldset.position-fieldset
      %legend.position-label= t('.when_did_u_start')
      .position-radio-group
        %label.position-radio-label
          = radio_button_tag :start_date_type, nil, !position.start_date?, class: 'choose-automatic'
          = t('.calculate_from_first_commit')
        %label.position-radio-label
          = radio_button_tag :start_date_type, nil, position.start_date?, id: 'manual-start-date'
          = t('.specify_date_manually')
      .position-date-group{ role: 'group', 'aria-label' => t('.when_did_u_start') }
        = f.date_select :start_date, date_selector_options, { class: 'chzn-select value-select' }
    - error_tag(position, :start_date)

  .position-field-group
    %fieldset.position-fieldset
      %legend.position-label= t('.when_did_u_stop')
      .position-radio-group
        %label.position-radio-label
          = f.radio_button :ongoing, false, checked: @position.new_record?, class: 'choose-automatic'
          = t('.calculate_from_last_commit')
        %label.position-radio-label
          = f.radio_button :ongoing, true
          = t('.i_have_this_position')
        %label.position-radio-label
          = f.radio_button :ongoing, false, id: 'manual-stop-date'
          = t('.specify_date_manually')
      .position-date-group{ role: 'group', 'aria-label' => t('.when_did_u_stop') }
        = f.date_select :stop_date, date_selector_options, { class: 'chzn-select value-select' }
    - error_tag(position, :stop_date)

  .position-field-group
    .position-expand-toggle
      = link_to 'javascript:', class: 'collapsed' do
        %i.fa.fa-chevron-down.position-expand-icon
        = t('.describe_projects_and_languages')
      = link_to t('.describe_projects_and_languages'), 'javascript:', class: 'expanded hidden'
    .hidden#additional-fields
      .position-field-group
        %label.position-label{ for: 'position_language_exp' }= t('.what_did_u_program_in')
        #position_languages
          = render 'language_selector'
        %p.position-help= t('.list_regular_languages')
      .position-field-group
        %label.position-label= t('.describe_open_source_projects')
        #project-experience-form
          - @position.project_experiences.build
          = f.fields_for :project_experiences do |ff|
            .position-project-exp
              %p.position-help= t('.enter_project_name')
              = ff.text_field :project_name, class: 'form-control autocompletable', aria: { label: t('.enter_project_name') }
              %button.btn.btn-sm.btn-default.remove{ type: :button }= t('remove')
              - error_tag(ff.object, :project_name)
          = button_tag 'Add another project', class: 'btn btn-sm btn-default', type: :button, id: 'add-project-experience'

  .position-actions
    - submit_text = params[:invite].blank? ? :Submit : :Next
    = submit_tag(submit_text, class: 'btn btn-primary position-btn-submit', id: :saveForm)
    - if allow_delete
      = link_to 'Delete Position', [@account, @position], method: :delete, data: { confirm: t('.delete_forever') },
                                                          class: 'btn btn-danger position-btn-delete'
