- page_context[:select_footer_nav] = :positions

- content_for :html_title do
  = t('.edit_title', name: @account.name)

%h3
  = link_to t('contribution'), account_positions_path(@account)
  = precede ' : ' do
    = t('edit')

.well.col-md-11.center-block
  = form_for [@account, @position], html: { id: :position_form } do |f|
    = render 'fields', f: f, position: @position, allow_delete: true
