:ruby
  content_for(:html_title) { t('.page_title', name: @account.name) }
  page_context[:keywords] = "openhub, #{h(@account.name)}, #{h(@account.login)}"
  page_context[:description] = t('.contributions_on_open_hub', name: @account.name)
  page_context[:select_top_menu_nav] = :select_people
  page_context[:select_footer_nav] = :positions

%h2.pull-left= t('contribution')
.padding_top_5
  = render 'accounts/show/account_analysis_timestamp', best_account_analysis: @account.best_account_analysis

.clearfix
#positions-index-page
  - if @account.positions.exists?
    = render 'commits_by_projects_extended'
    .row.mezzo.padding_one_top
      - @positions.each do |position|
        = render 'commits_by_individual_projects', position: position
      = will_paginate @positions
  - else
    %p= t('.no_contributions_to_display')

- if current_user == @account
  = link_to new_account_position_path(@account), class: 'btn btn-small btn-primary' do
    %i.icon-plus-sign
      &nbsp;
    = t('.claim_contribution')
