.oh-card.contribution-activity
  .contribution-activity__header
    %h4.contribution-activity__title= t('.activity_on', name: @project.name, committer: committer)
    - if account
      = link_to h(t('.see_full_profile', name: committer)), account_path(account), class: 'contribution-activity__profile-link'
  - unless fact.nil?
    - spark_url = commits_compound_spark_project_contributor_url(project_id: @project.to_param, id: fact.name_id)
    .contribution-activity__body
      .contribution-activity__avatar
        = image_tag avatar_img_path(@contribution.person, 64), class: 'contribution-activity__avatar-img', alt: h(@contribution.person.try(:name).to_s)
      .contribution-activity__stats
        .contribution-stat
          %span.contribution-stat__label= t('.all_commits')
          %span.contribution-stat__value= fact.commits
        .contribution-stat
          %span.contribution-stat__label= t('.12_mo_commits')
          %span.contribution-stat__value= fact.twelve_month_commits
        .contribution-stat
          %span.contribution-stat__label= t('.30_day_commits')
          %span.contribution-stat__value= fact.thirty_day_commits
      .contribution-activity__rank
        - person = @contribution.person
        - path = person.nil? ? '#' : rankings_people_path(show: person.id)
        .contribution-stat
          %span.contribution-stat__label= t('.overall_rank')
          %span.contribution-stat__value= link_to avatar_small_laurels(person && person.kudo_rank), path, class: 'laurel'
        .contribution-stat
          %span.contribution-stat__label= t('.first_commit')
          %span.contribution-stat__value= fact.first_checkin.to_s(:dmy)
        .contribution-stat
          %span.contribution-stat__label= t('.last_commit')
          %span.contribution-stat__value= fact.last_checkin.to_s(:dmy)
    .contribution-activity__meta
      %span.contribution-activity__scm-label= t('.scm_names')
      %span.contribution-activity__scm-value= @contribution.scm_names.map(&:name).join(', ')
    .contribution-activity__history
      %span.contribution-activity__history-label= t('.history')
      .contribution-activity__spark
        = image_tag spark_url, class: 'contribution-activity__spark-img', alt: ''
