:ruby
  name = contribution.person.name.try(:name)
  fact = contribution.contributor_fact
  kudo = Kudo.where(sender_id: current_user.id, project_id: @project.id, name_id: fact.name_id).first
  action = new_kudo_path(contribution_id: contribution.id)
  kudo_for = t('.kudo_for', name: name)

- unless !logged_in? || current_user == @account
  - if kudo
    = form_for kudo, action: account_kudo_path(current_user, kudo), method: :delete, class: 'kudo_action' do
      = button_tag type: 'submit', class: 'btn kudo-btn btn-info btn-mini' do
        %icon.icon-undo
        = t('.undo_kudo')
  - else
    = link_to '#', class: 'btn kudo-btn btn-primary btn-mini',
    onclick: "tb_show('#{kudo_for}', '#{action}', false); return false;" do
      %svg.kudo-btn-icon{ xmlns: 'http://www.w3.org/2000/svg', viewBox: '0 0 24 24', fill: 'none', stroke: 'currentColor', 'stroke-width': '2', 'stroke-linecap': 'round', 'stroke-linejoin': 'round' }
        %path{ d: 'M14 9V5a3 3 0 0 0-3-3l-4 9v11h11.28a2 2 0 0 0 2-1.7l1.38-9a2 2 0 0 0-2-2.3z' }
        %path{ d: 'M7 22H4a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2h3' }
      = t('.give_kudo')
