:ruby
  facts = name_fact.name_language_facts

%h4= t('.title')

- if name_fact && facts.any?
  %table.table.table-striped.center-block{ style: 'width:70%' }
    %tr
      %th{ width: '3%' }
      %th{ width: '25%', scope: 'col' }= t('.language')
      %th{ width: '12%', scope: 'col' }= t('.aggregate')
      %th{ width: '10%', scope: 'col' }= t('.total_commits')
      %th{ width: '12%', scope: 'col' }= t('.total_changed')
      %th{ width: '10%', scope: 'col' }= t('.ratio')

    - facts.each do |nlf|
      %tr
        %td{ style: "background-color: ##{language_color(nlf.language.name)}" }
          &nbsp;
        %td
          = link_to nlf.language.nice_name, language_path(nlf.language)
        %td.center= months_or_years(nlf.total_months)
        %td.center= number_with_delimiter(nlf.total_commits)
        %td.center= number_with_delimiter(nlf.total_activity_lines)
        %td.center
          = nlf.comment_ratio ? number_with_precision(nlf.comment_ratio.to_f * 100.0, precision: 1).to_s + '%' : '-'

    - if facts.size > 1
      %tr
        %td
        %td= t('.all_languages')
        %td.center= months_or_years(name_fact.man_months)
        - if defined?(contribution) && contribution
          %td.center
            = link_to number_with_delimiter(name_fact.commits),
            project_contributor_commits_path(contribution.project, contribution)
        - else
          %td.center= number_with_delimiter(name_fact.commits)
        %td.center= number_with_delimiter(facts.map(&:total_activity_lines).sum)
        %td.center
          - if name_fact.comment_ratio
            = number_with_precision(name_fact.comment_ratio.to_f * 100.0, precision: 1).to_s + '%'
          - else
            '-'

- else
  .row
    .col-md-7
      .well
        %p.inset_middle= t('.not_measured')
