- if contribution.position.blank?
  .oh-card.contribution-unclaimed
    .contribution-unclaimed__header
      %i.icon-exclamation-sign.contribution-unclaimed__icon
      %span.contribution-unclaimed__title= t('.do_you_know')
    %p.contribution-unclaimed__help= t('.help_out')
    .contribution-unclaimed__actions
      .contribution-unclaimed__action
        = link_to_claim_position contribution, t('.claim')
        %p.contribution-unclaimed__desc
          = t('.are_you')
          %br
          = t('.add')
      .contribution-unclaimed__action
        = link_to t('.send_invite'), new_contributor_invite_path(contribution), class: 'btn contribution-unclaimed__invite-btn'
        %p.contribution-unclaimed__desc
          = t('.know')
          %br
          = t('.invite_him')
