:ruby
  name = people.first&.name&.name
  name_id ||= people.first&.name&.id
  from_show_page ||= false
  unclaimed_people = people if from_show_page
  unclaimed_people ||= people.to_a.first(UNCLAIMED_TILE_LIMIT)

= form_tag(claim_committer_path(name_id), method: :post) do
  .people-card.unclaimed-card
    .people-card__body
      .unclaimed-card__header
        %h4.unclaimed-card__name
          - if from_show_page
            = name
          - else
            = link_to(h(truncate(name, length: 70)), committer_path(name_id))
        = submit_tag t('.claim_these_contributions'), class: 'btn btn-primary unclaimed-card__btn'
      .unclaimed-card__grid
        - unclaimed_people.each do |unclaimed_person|
          - project = unclaimed_person.project
          .unclaimed-card__item
            = render 'committers/unclaimed_tile', project: project, name_fact: unclaimed_person.name_fact
            %input.hidden{ type: 'checkbox', name: 'project_ids[]', value: project.id, checked: 'checked' }
        - if people.length > UNCLAIMED_TILE_LIMIT && !from_show_page
          .unclaimed-card__more
            = link_to t('.and_more', length: people.length - UNCLAIMED_TILE_LIMIT), committer_path(name_id)
