:ruby
  name = people.first.name.name
  name_id ||= people.first.name.id
  from_show_page ||= false
  unclaimed_people = people if from_show_page
  unclaimed_people ||= people.to_a.first(UNCLAIMED_TILE_LIMIT)

= form_tag(claim_committer_path(name_id), method: :post) do
  .well.col-md-12.col-sm-12.col-xs-12.unclaimed_committers_box
    .header_row{ style: 'padding-bottom: 0;' }
      .pull-left
        %h4.no_margin_bottom{ style: 'margin: 0;' }
          = from_show_page ? name : link_to(h(truncate(name, length: 70)), committer_path(name_id))
      .pull-right
        = submit_tag t('.claim_these_contributions'), class: 'btn btn-mini btn-primary'
    .clearfix

    .entire_commits_container
      - unclaimed_people.each do |unclaimed_person|
        - project = unclaimed_person.project
        .inner
          .single_container
            .group
              = render 'committers/unclaimed_tile', project: project, name_fact: unclaimed_person.name_fact
              %input.hidden{ type: 'checkbox', name: 'project_ids[]', value: project.id, checked: 'checked' }
      - if people.length > UNCLAIMED_TILE_LIMIT && !from_show_page
        .inner.more
          .single_container.show_more
            %span
              = link_to t('.and_more', length: people.length - UNCLAIMED_TILE_LIMIT), committer_path(name_id)
