- content_for :custom_head do
  %meta{ name: t('.meta_name'), content: t('.meta_content') }
- content_for(:html_title) { t('.title', current_user: current_user.nil? ? nil : "#{current_user.name}  : ") }
- page_context[:select_top_menu_nav] = :select_people

.committers_index
  .account_header_inner
    #account_name
      %h1= t('.people')
      .info_row
        .info
          %i.fa.fa-code
          = t('.heading')
    %h3.claim-breadcrumb
      = link_to t('.unclaimed_committer_ids'), committers_path
      %span.claim-breadcrumb__sep :
      = link_to h(@name.name), committer_path(@name.id)
      %span.claim-breadcrumb__action= t('.claim')

.committers-page-body
  - if @positions.present?
    = form_tag(save_claim_committer_path(@name.id), method: :post) do
      .claim-positions-grid
        = render partial: 'position', collection: @positions
      .claim-submit-row
        %input.btn.btn-primary.unclaimed-card__btn{ type: 'submit', value: t('.save_claim') }
  - else
    .oh-card
      %p.claim-empty= t('.nothing_to_claim')
