- content_for(:html_title) { html_title }
- page_context[:select_top_menu_nav] = :select_people

.account_header
  .account_header_inner
    .header_back_row
      = link_to committers_path, class: 'header-back-link' do
        %i.fa.fa-chevron-left
        = t('.heading')
    .header_flex_container
      #account_icon.committer-icon-placeholder
        %i.fa.fa-user
      #account_header
        #account_name
          %h1= @name.name
        .info_row
          .info
            %i.fa.fa-code
            = t('.people')

= render 'people/unclaimed_person', name_id: @name.id, people: @people, from_show_page: true
