- has_permission = logged_in? && @project.edit_authorized?
.table-responsive
  %table.table.table-striped
    %thead
      %tr
        %th.col-xs-2.no-left-padding= t('.repo_url')
        %th.col-xs-2=  t('.badge_type')
        %th.col-xs-3= t('.badge_url')
        %th.col-xs-3= t('.badge_image')
        %th.col-xs-2= t('.actions')
    %tbody
      - @project.project_badges.undeleted.each do |badge|
        - if badge.valid?
          %tr
            %td.col-xs-2.no-left-padding= badge.repository.try(:url)
            %td.col-xs-2= badge.class.name
            %td.col-xs-3= badge.try(:badge_image)
            %td.col-xs-3
              = image_tag badge.try(:badge_image)
            %td.col-xs-2
              - if has_permission
                = link_to t('.remove'), project_project_badge_path(@project, badge), class: 'icon-trash btn btn-mini btn-danger', method: :delete
              - else
                = disabled_button bootstrap_icon('icon-trash', t('.remove')), class: 'btn-mini btn-danger pull-right'
      %tr#add_new_badge_form{ style: "#{'display: none' if @project_badge.errors.empty?}"}
        = form_for @project_badge, url: project_project_badges_path(@project) do |f|
          %td.col-xs-2.no-left-padding
            = f.select :repository_id, @project.repositories.map{|r| [r.url, r.id]}, {}, id: 'select_project_repo',class: 'col-xs-10 chzn-select'
            - error_tag @project_badge, :repository_id
          %td.col-xs-2
            = f.select :type, @badges, { include_blank: true }, id: 'select_project_badge', class: 'col-xs-10 chzn-select'
            - error_tag @project_badge, :type
          %td.col-xs-4#badge_url_input_container
            .cii_badge_url.badge_template{class: "#{'hidden' unless @project_badge.type=='CiiBadge'}"}
              = "https://bestpractices.coreinfrastructure.org/projects/"
              = f.text_field :url, {class: 'badge_url_holder'}
              = "/badge"
            .travis_badge_url.badge_template{class: "#{'hidden' unless @project_badge.type=='TravisBadge'}"}
              = "https://api.travis-ci.org/"
              = f.text_field :url, {class: 'badge_url_holder'}
            - error_tag @project_badge, :url
          %td.col-xs-3#badge_image_container
            = image_tag @project_badge.try(:badge_image)
          %td.col-xs-1
            %btn.icon-edit.btn.btn-mini.btn-primary#save_badge= t('.save_badge')
