.table-responsive
  %table.table
    %thead
      %tr
        %th.col-xs-3.no-left-padding= t('project_badges.repo_url')
        %th.col-xs-3=  t('project_badges.badge_type')
        %th.col-xs-3= t('project_badges.badge_url')
        %th.col-xs-3= t('project_badges.badge_image')
    %tbody
      - @active_badges.each do |badge|
        %tr
          %td.col-xs-3.no-left-padding= badge.code_location.url
          %td.col-xs-3= badge.class.badge_name
          %td.col-xs-3= badge.badge_url
          %td.col-xs-3
            = image_tag badge.badge_url, alt: 'Badge not available'
