.table-responsive
  %table.table.pb-table
    %thead.pb-table__head
      %tr
        %th.pb-col-repo= t('project_badges.repo_url')
        %th.pb-col-type= t('project_badges.badge_type')
        %th.pb-col-url= t('project_badges.badge_url')
        %th.pb-col-image= t('project_badges.badge_image')
    %tbody.pb-table__body
      - @active_badges.each do |badge|
        %tr
          %td.pb-col-repo= badge.code_location.url
          %td.pb-col-type= badge.class.badge_name
          %td.pb-col-url= badge.badge_url
          %td.pb-col-image
            = image_tag badge.badge_url, alt: 'Badge not available'
