.table-responsive
  %table.table.table-striped
    %thead
      %tr
        %th.col-xs-2.no-left-padding= t('.repo_url')
        %th.col-xs-2=  t('.badge_type')
        %th.col-xs-3= t('.badge_url')
        %th.col-xs-3= t('.badge_image')
        %th.col-xs-2= t('.actions')
    %tbody
      - @active_badges.each do |badge|
        - if badge.valid?
          %tr
            %td.col-xs-2.no-left-padding= badge.repository.try(:url)
            %td.col-xs-2.selected_badge_val= badge.class.badge_name
            %td.col-xs-3
              - if badge.type == "TravisBadge"
                = "https://api.travis-ci.org/"
              - else
                = "https://bestpractices.coreinfrastructure.org/projects/"
              = text_field_tag('url', badge.identifier, class: 'edit_url_field badge_url_holder', 'data-val': badge.identifier)
              %i.fa.fa-check-circle.url_update_btn.hidden{ data: { 'url': project_project_badge_path(@project, badge)}}
              = "/badge" if badge.type == "CiiBadge"
            %td.col-xs-3.badge_image_container
              = image_tag badge.try(:badge_image)
            %td.col-xs-2
              = link_to t('.remove'), project_project_badge_path(@project, badge), class: 'icon-trash btn btn-mini btn-danger col-xs-12', method: :delete
      %tr#add_new_badge_form{ style: "#{'display: none' if @project_badge.errors.empty?}"}
        = form_for @project_badge, url: project_project_badges_path(@project), html: { id: 'new_project_badge' } do |f|
          %td.col-xs-2.no-left-padding
            = f.select :repository_id, @repositories, {}, id: 'select_project_repo',class: 'chzn-select'
            - error_tag @project_badge, :repository_id
          %td.col-xs-2
            = f.select :type, @badges, { include_blank: true }, id: 'select_project_badge', class: 'chzn-select badge_image_val selected_badge_val'
            - error_tag @project_badge, :type
          %td.col-xs-3#badge_url_input_container
            = f.hidden_field :identifier, class: 'badge_url_field'
            .cii_badge_url.badge_template{class: "#{'hidden' unless @project_badge.type=='CiiBadge'}"}
              = "https://bestpractices.coreinfrastructure.org/projects/"
              = text_field_tag('cii_url', @project_badge.identifier, class: 'badge_url_holder')
              = "/badge"
            .travis_badge_url.badge_template{class: "#{'hidden' unless @project_badge.type=='TravisBadge'}"}
              = "https://api.travis-ci.org/"
              = text_field_tag('travis_url', @project_badge.identifier, class: 'badge_url_holder')
            - error_tag @project_badge, :identifier
          %td.col-xs-3.badge_image_container
            = image_tag @project_badge.try(:badge_image) unless @project_badge.identifier
          %td.col-xs-2
            %btn.icon-edit.btn.btn-mini.btn-primary.col-xs-12#save_badge= t('.save_badge')
