:ruby
  content_for(:html_title) { t('.page_title', name: @project.name) }
#project_badges_page
  %h2.pull-left.title
    = link_to t(:settings), settings_project_path(@project)
    \: #{t('.title')}
  - if logged_in? && @project.edit_authorized?
    .badge_table_container
      = render 'editable_badges_table'
    .clearfix
    - btn_css = 'display: none;' unless @project_badge.errors.empty?
    %btn.btn.btn-primary#add_badge_btn{ style: btn_css }= t('.new_badge')
  - else
    .badge_table_container
      = render 'badges_table'
