- page_context[:select_footer_nav] = :widgets

- content_for(:html_title) { t('.page_title', who: @account.name) }

.clearfix
.project_content_title.margin_bottom_10
  %h2= t('.widgets')
  %p
    = t('.embed')
    = t('.select')

.clearfix
  = render partial: 'widget', collection: @widgets

  %p.soft= t('.asks')
