- page_context[:select_footer_nav] = :widgets

- content_for :html_title do
  = succeed ' : Widgets' do
    = @account.name

.clearfix
.mezzo.project_content_title.margin_bottom_10
  %h2= t('.widgets')
  %p
    = t('.embed')
    = t('.select')

.clearfix
  = render partial: 'widget', collection: @widgets

  %p.soft= t('.asks')
