%fieldset
  .control-group
    %label.control-label.required Title
    .controls
      = f.text_field :title, class: 'span6'
      %span.help-inline==by #{ current_user.login }
      -error_tag @topic, :title
      %p.help-block Enter the topic's title

  - if @topic.new_record?
    .control-group
      %label.control-label.required Message
      .controls
        = f.fields_for :posts do |f|
          = f.text_area :body, rows: 10, cols: 40, style: 'width: 95%'
          -error_tag @post, :body
        %p.help-block This will be the first post.

  - if current_user_is_admin? and not @topic.new_record?
    .control-group#topic_forum_id
      %label.control-label{for: 'topic_forum_id'} Forum
      #value_select.chosen.controls
        = f.select :forum_id, Forum.all.map {|x| [x.name, x.id] },{}, {class: 'chzn-select value-select'}

  - if current_user_is_admin?
    #topics_form_checkbox.controls
      %label.checkbox.inline
        = f.check_box :sticky, choice: 'Sticky'
        %span Sticky
      %label.checkbox.inline
        = f.check_box :closed, choice: 'Closed'
        %span Closed

    = render partial: 'shared/captcha'