- if topic.posts.present?
  %tr{ class: "#{'border_bottom_color' if @topics.last}" }
    %td
      %p.nomargin
        - if topic.sticky?
          %span.soft= t('.sticky')
        %span{ class: "#{'strong' if topic.sticky?}" }
          = link_to h(topic.title), topic_path(topic), class: 'entry-title', rel: 'bookmark'
        by
        = topic.account.name
    %td.center
      - if topic.closed
        %span.label.label-danger.close_specifications= t('.closed')
      - elsif topic.created_at >= 30.minutes.ago
        %span.label.label-info= t('.new')
      - elsif topic.posts.last.created_at <= 6.months.ago
        %span.label.label-default.stale_specifications= t('.stale')
      - elsif topic.posts.last.created_at >= 30.minutes.ago
        %span.label.label-success= t('.recent_post')
    %td.center= (topic.posts_count - 1)
    %td.center= topic.hits
    %td.last.right.small.text-center
      - last_post = topic.posts.last
      - if last_post
        = time_ago_in_words(last_post.created_at)
        by
        = last_post.account.name
