%h1= link_to @forum.name, forum_path(@forum)

= form_for @topic do |f|
  %fieldset
    .control-group
      %label.control-label.required= t('.title')
      .controls
        = f.text_field :title, class: 'col-md-6'
        - error_tag @topic, :title
        %span.help-inline
          by #{ current_user.login }
          %p.help-block= t('.enter_topic_title')

  - if current_user_is_admin? && !@topic.new_record?
    .control-group#topic_forum_id
      %label.control-label{ for: 'topic_forum_id' }= t('.forum')
      .controls.chosen#value_select
        = f.select :forum_id, Forum.all.map { |x| [x.name, x.id] }, {}, class: 'chzn-select value-select'

  - if current_user_is_admin?
    .controls
      / .checkbox.inline{ style: 'margin-left: -20px;' }
      / NOTE: Why is this being rendered as a label?
      = f.check_box :sticky, choice: t('.sticky')
      /   %span= t('.sticky')
      / %label.checkbox.inline{ style: 'margin-top: 10px;' }
      /   = f.check_box :closed, choice: t('.closed')
      /   %span= t('.closed')
      
/ = render partial: 'shared/captcha'
/   %br
/ = f.submit t('.save_changes')
