%h1.margin_bottom_20
  %span= link_to t('.forums'), forums_url
  \:
  = link_to @forum.name, forum_path(@forum)

%h2= t('.new_topic')
.well.col-md-11
  .col-md-9
    = form_for [@forum, @topic], html: { class: 'topic_form' } do |f|
      = render partial: 'form', locals: { f: f }
      .actions
      = f.submit t('.create_topic'), class: 'btn btn-primary btn-small'
  .col-md-2.no_margin_left{ style: 'margin-top: -10px' }

  = render 'shared/markdown_help'
