- content_for :html_title do
  = t('.topic_show', forum: @forum.name, topic: @topic.title)

.col-md-12
  = render partial: 'forums/breadcrumb', locals: { forum: @forum }
  = render partial: 'topics/title', locals: { topic: @topic }
  = render partial: 'topics/action_group', locals: { topic: @topic }

.col-md-12
  = render partial: 'posts/post', collection: @posts
  = will_paginate @posts

  .well
    - if @topic.closed?
      %br
      - if (@topic.account == current_user)
        %p= t('.close_topic_message_1')
        - url = link_to(t('.reopen'), forum_topics_path(@forum, @topic, topic: { closed: false }), method: :put)
        %p= t('.reopen_message_html', link: url)
      - else
        %p= t('.closed_topic_message_2')
        %p= t('.closed_topic_message_3')
    - else
      = render partial: 'posts/reply'

  - collection_of_all_topics = @topic.forum.topics
  %ul.pager
    %li.pull-left
      = link_to_unless collection_of_all_topics.index(@topic).zero?, t('.previous_topic_html'),
        previous_topic(collection_of_all_topics, @topic)
    %li.pull-right
      = link_to_if next_topic?(collection_of_all_topics, @topic), t('.next_topic_html'),
        next_topic(collection_of_all_topics, @topic)
