.col-md-12
  %h1.margin_bottom_20
    = link_to t('.forums'), forums_path
    \:
    = link_to @forum.name, forum_path(@forum)

  %h2.float_left.no_margin_top{ style: 'max-width: 740px' }
    = @topic.title
  - if @topic.closed
    %span.label.label-important.float_left{ style: 'margin: 16px 0 0 10px;' }
    closed
  .btn-group.float_right
  - if current_user_is_admin? && !@topic.closed
    = button_to t('.close'), topic_path(@topic, topic: { closed: true }),
      method: :put, data: { confirm: t('.close_confirmation') }, class: 'btn btn-mini'
  - if current_user_is_admin?
    = button_to t('.move'), move_topic_path(@topic), method: :get, class: 'btn btn-mini', id: 'move_link'
    / TODO: Determine how to make this javascript work for page rendering.
    / = javascript_tag 'MoveTopic.init()'
  - if current_user_is_admin?
    = button_to t('.spam'), make_spammer_account_accesses_path(@topic.account), method: :post,
      data: { confirm: t('.spam_confirmation', user: @topic.posts.first.account.name) },
      class: 'btn btn-mini btn-warning'
  - if current_user_is_admin? || (@topic.posts.count == 1 && @topic.account == current_user)
    = button_to t('.delete'), topic_path(@topic), method: :delete, data: { confirm: t('.delete_confirmation') },
      class: 'btn btn-danger btn-mini'
  - if (current_user_is_admin? || (@topic.account == current_user)) && @topic.closed
    = button_to t('.reopen'), topic_path(@topic, topic: { closed: false }), method: :put,
      data: { confirm: t('.reopen_confirmation') }, class: 'btn btn-mini btn-info'
  .clear
    = render partial: 'posts/post', collection: @posts
    = will_paginate @posts

  .well#post_reply
    - if @topic.closed?
      %br
      - if (@topic.account == current_user)
        %p= t('.close_topic_message_1')
        - url = link_to(t('.reopen'), forum_topics_path(@forum, @topic, topic: { closed: false }), method: :put)
        %p= t('.reopen_message_html', link: url)
      - else
        %p= t('.closed_topic_message_2')
        %p= t('.closed_topic_message_3')
    - else
      = render partial: 'posts/reply'

  - collection_of_all_topics = @topic.forum.topics
  %ul.pager
    %li.previous
      = link_to_unless collection_of_all_topics.index(@topic).zero?, t('.previous_topic_html'),
        previous_topic(collection_of_all_topics, @topic)
    %li.next
      = link_to_if next_topic?(collection_of_all_topics, @topic), t('.next_topic_html'),
        next_topic(collection_of_all_topics, @topic)
