.col-md-12
  %h1.margin_bottom_20
    = link_to t('.forums'), forums_path
    \:
    = link_to @forum.name, forum_path(@forum)

  %h2.float_left.no_margin_top{ style: 'max-width: 740px' }
    = @topic.title
  - if @topic.closed
    %span.label.label-important.float_left{ style: 'margin: 16px 0 0 10px;' }
      closed
  .btn-group.float_right
    - if current_user_is_admin? && !@topic.closed
      = button_to t('.close'), topic_path(@topic),
        method: :put, data: { confirm: t('.close_confirmation') },
        class: 'btn btn-mini'

    / TODO: Rewrite Move and Spam as model methods and not controller methods

    / - if (current_user_is_admin?)
    /   = link_to "Move", move_dialog_topic_path(@topic), {:class => "btn btn-mini", :id => "move_link"}
    /   - content_for :javascript do
    /     = javascript_tag("MoveTopicLink.init();")
    / - if current_user_is_admin? && !@topic.account.admin?
    /   = link_to "SPAM!", make_spammer_account_path(@topic.posts.first.account),
    / {:method => :post, :confirm => "Are you sure you want to mark #{@topic.posts.first.account.name} as a spammer,
    / disabling the account and removing all posts?", :class => "btn btn-mini btn-warning",
    / :title => "Mark #{@topic.posts.first.account.name} as spammer!" }

    - if current_user_is_admin? || (@topic.posts.count == 1 && @topic.account == current_user)
      = button_to t('.delete'), topic_path(@topic), method: :delete, data: { confirm: t('.delete_confirmation') },
        class: 'btn btn-danger btn-mini'

    - if (current_user_is_admin? || (@topic.account == current_user)) && @topic.closed
      = button_to t('.reopen'), topic_path(@topic), method: :put, data: { confirm: t('.reopen_confirmation') },
        class: 'btn btn-mini btn-info'

  .clear
    / TODO: make sure to do posts/post
    = render partial: 'posts/post', collection: @posts
    = will_paginate @posts

    / TODO: This logic is broken

    / .well#post_reply
    / - if @topic.closed?
    /   %p
    /     - if (@topic.account == current_user)
    /       %p t(.close_topic)
    /       %p
    /         As the user who created this topic, you may
    /         = link_to t('.reopen'), forum_topic_path(@forum, @topic, topic: { closed: '0' }), method: :put
    /         the topic if you feel your question  was not answered or need more information on this topic.
    /     - else
    /       %p Comments to this topic are now closed. Please create a new topic to get technical support.
    /       %p The user who created the topic can reopen this topic at any time.
    / - else
    /   = render partial: 'posts/reply'

  - collection_of_all_topics = @topic.forum.topics
  %ul.pager
    %li.previous
      = link_to_unless collection_of_all_topics.index(@topic).zero?, t('.previous_topic_html'),
        previous_topic(collection_of_all_topics, @topic)
    %li.next
      = link_to_if next_topic?(collection_of_all_topics, @topic), t('.next_topic_html'),
        next_topic(collection_of_all_topics, @topic)
