.org-header-banner
  .org-header-container
    .org-header-content
      .org-header-logo-section
        = @organization.decorate.icon(:med)

      .org-header-info
        .org-header-title
          %h1= link_to h(@organization.name), organization_path(@organization)

        .org-header-stats
          - if @organization.projects_count
            %span.stat-item
              %icon.icon-code-fork
              = pluralize(@organization.projects_count, t('.portfolio_project'))
          - if @organization.affiliators_count
            %span.stat-item
              %icon.icon-user
              = pluralize(@organization.affiliators_count, t('.affiliated_committer'))

      .org-header-actions
        = link_to settings_organization_path(@organization), class: 'org-header-settings-btn' do
          %icon.icon-cogs
          = t('.settings')

.clearfix &nbsp;
= render partial: 'layouts/partials/alert'
