- if @outside_projects.empty?
  %p= t('organizations.outside_projects.no_outside_projects')
- else
  %h3= t('organizations.outside_projects.outside_projects')
  %table.table.table-striped.table-condensed
    %thead
      %tr{ id: 'dingus-row' }
        %td{ colspan: '10' } &nbsp;
      %tr
        %th{ style: 'width: 190px;' }= t('organizations.outside_projects.header_name')
        %th.center{ style: 'width: 50px;' } &nbsp;
        %th.center{ style: 'width: 150px;' }= t('organizations.outside_projects.header_claimed_by')
        %th.center{ style: 'width: 90px;' }= t('organizations.outside_projects.header_i_use_this')
        %th.center{ style: 'width: 110px;' }= t('organizations.outside_projects.header_community_rating')
        %th.center{ style: 'width:120px;' }= t('organizations.outside_projects.header_num_of_affiliates')
        %th.center{ style: 'width:130px;' }
          = t('organizations.outside_projects.header_all_time_commits')
          %br
          %span.small= t('organizations.outside_projects.header_by_current_affiliates')
    %tbody
      - @outside_projects.each do |project|
        %tr
          %td{ style: 'padding: 10px;' }
            = project.decorate.icon(:small)
            = link_to h(truncate(project.name, length: 23)), project_path(project), title: project.name
          %td.left
            %div{ style: 'margin-top: -25px; position: relative' }
              - project_activity_level_class(project, :twenty)
          %td{ style: 'padding-top: 15px; text-align: center;' }
            - if project.organization
              = link_to h(project.organization.name), organization_path(project.organization)
          %td{ style: 'padding-top: 15px; text-align: center;' }= project.user_count
          %td{ style: 'padding-top: 15px; text-align: center;' }
            %span.center!= rating_stars('average_rating_stars', project.rating_average || 0)
          %td{ style: 'padding-top: 15px; text-align: center;' }= project.contribs_count
          %td{ style: 'padding-top: 15px; text-align: center;' }= project.commits
  = render partial: 'pagination', locals: { count: @outside_projects.total_entries,
                                            text: t('organizations.outside_projects.see_all_num_outside_projs',
                                                     num: @outside_projects.total_entries),
                                            url: outside_projects_organization_path(@organization),
                                            collection: @outside_projects }
  .clear &nbsp;
