%h3= t('organizations.outside_committers.title')
- if @outside_committers.empty?
  %p= t('organizations.outside_committers.no_committers')
- else
  %table.table.table-striped.table-condensed#outside_committers_list
    %thead
      %tr{ id: 'dingus-row' }
        %td{ colspan: '10' } &nbsp;
      %tr
        %th{ rowspan: 2, style: 'width: 160px;' }= t('.contributor_name')
        %th.center{ rowspan: 2, style: 'width: 70px;' }= t('.kudos')
        %th.foss_level_title{ rowspan: 2, style: 'width: 85px;' }
          = image_tag('icons/foss-no-bg.png')
          = t('organizations.outside_committers.level')
        %th.center{ rowspan: 2, style: 'width:150px' }
          %strong= t('organizations.outside_committers.affiliated_with')
        %th{ rowspan: 2, style: 'width: 20px;' } &nbsp;
        %th.center{ colspan: 2 }
          %strong= t('organizations.outside_committers.contribution_to_portfolio')
      %tr
        %th.center{ style: 'width: 250px' }= t('organizations.outside_committers.projects')
        %th.center{ style: 'width: 88px' }= t('organizations.outside_committers.twelve_month_commits')

    %tbody
      - @outside_committers.each do |account|
        - projects = Project.where(id: account.projs)
        %tr
          %td.name
            %a.pull-left{ href: account_path(account) }
              = image_tag avatar_img_path(account, 32), size: '32x32', style: 'margin-right:8px;'
            %a{ href: account_path(account), title: h(account.name) }
              = truncate(account.name, length: 20)
              - if current_user.id == account.id
                %span (You)
          %td.kudo_rank_column.center!= avatar_small_laurels(account.person.kudo_rank)
          %td.center
            .mini-badges-section{ style: 'margin:0; position:relative;height: 0px' }
              = render 'accounts/badges_row',
                badges: [FOSSerBadge.new(account, positions_count: account.positions.count)], hide_foss_logo: true
          %td.affiliated_with.center
            - if account.organization_id.nil?
              = t('organizations.outside_committers.unaffiliated')
            - else
              = link_to h(account.organization.name), organization_path(account.organization)
          %td &nbsp;
          %td
            - project_links = projects.map { |p| link_to h(truncate(p.name, length: 25)), project_path(p), title: p.name }
            = expander(project_links.join(', '), 130, 300, /<\/a>/, 4)
          %td.center= account.twelve_mo_commits
  - count = @outside_committers.total_entries
  = render partial: 'pagination', locals: { count: count,
                                            text: t('organizations.outside_committers.see_all_outside_committers',
                                                     count: count),
                                            url: outside_committers_organization_path(@organization),
                                            collection: @outside_committers }
.clear &nbsp;
