- partial_dir = 'organizations/show/pictogram'
- print_path = print_infographic_organization_path(@organization)

#org_infographic
  .infographic-header= @organization.name

  .infographic-main
    #section1
      .col1
        = render partial: "#{partial_dir}/outside_committers", locals: @graphics.outside_committers
        .commits-text
          = render partial: "#{partial_dir}/outside_committers_commits", locals: @graphics.outside_committers
      .col2{ @graphics.other_attributes('out_commits', positioning: true) }
        .svg-arrow{ @graphics.arrow_attributes('out_commits', 'right') }
        

    #infographic_box{ default_view: @view }
      .content
        .col1
          = render partial: "#{partial_dir}/portfolio_projects", locals: @graphics.portfolio_projects
        .col2
          .svg-arrow{ @graphics.arrow_attributes('affl_commits', 'left', 130) }
        .col3
          = render partial: "#{partial_dir}/affiliated_committers", locals: @graphics.portfolio_commits
      .portfolio-stats
        = render partial: "#{partial_dir}/portfolio_commits", locals: @graphics.portfolio_commits
      .footer_line

    #section2
      .col1{ @graphics.other_attributes('affl_commits_out', positioning: true) }
        .svg-arrow{ @graphics.arrow_attributes('affl_commits_out', 'right', 140) }
        
      .col2
        = render partial: "#{partial_dir}/outside_projects", locals: @graphics.outside_project_commits
        .commits-text
          = render partial: "#{partial_dir}/outside_project_commits", locals: @graphics.outside_project_commits

  .infographic-footer
    .footer-col1
      = render 'shared/creativecommons_license'
    .footer-col2
      %a{ href: 'https://community.blackduck.com/s/article/Black-Duck-Open-Hub-Unveiling-the-Retooled-Organization', target: '_blank', rel: 'noopener noreferrer' }
        = t('organizations.show.about_graphic')
    .footer-col3
      .about Black Duck | OpenHub
      - if print_icon
        %a.print_infographic{ href: '#', url: print_path }
          %i.icon-print
          = t('organizations.show.print_graphic')
