:ruby
  content_for(:html_title) { t('.page_title', name: @account.name) }
  page_context[:select_top_menu_nav] = 'select_people'
  page_context[:select_footer_nav] = :stacks

.row
  .col-md-9
    %h2.pull-left= t('.stacks')
    - if current_user == @account
      %a.btn.btn-mini.btn-primary{ href: stacks_path, data: { method: :post },
                                   style: 'margin:8px 19px 0 0; float: right;' }
        %i.icon-plus-sign= t '.new_stack'
    .clear

.row
  .col-md-9
    - @stacks.each do |stack|
      .well.piano{ id: "stack_#{stack.id}" }
        - if stack.account == current_user
          = icon_button(stack_path(stack), text: t('.remove'), size: 'mini', type: 'danger',
            icon: 'trash', data: { confirm: t('.delete_confirm', name: stack.title) },
            method: :delete, style: 'float: right; display: block; margin-top: 10px;')
        %h4.nomargin
          %a.name{ href: stack_path(stack), title: stack.title }= stack.title
        %a.description{ href: stack_path(stack), title: stack.title }
          %p.nomargin.soft= stack.description
        .clear
          - stack.projects.order(Arel.sql('logo_id IS NULL, stack_entries.created_at DESC')).to_a.each do |project|
            - project_link(project, :tiny, title: project.name)
        %a{ href: stack_widgets_path(stack) }= t('.embed')
    - if @stacks.blank?
      .inset
      - if current_user == @account
        %p= t('.no_stack_fix_that_html', link: link_to(t('.new_stack'), stacks_path, method: :post, class: 'command'))
      - else
        %p= t('.no_stack')
      &nbsp;
  .col-md-3
    .well
      .inset.stack_definition
        %h5.soft= t('.what_is_a_stack')
        - lamp_link = link_to('LAMP', 'http://wikipedia.org/wiki/LAMP_(software_bundle)')
        %p!= t('.stack_explanation', link: lamp_link)
        %p= t('.max_stacks_desc')
= will_paginate @stacks
