- good = @duplicate.good_project

%fieldset
  %legend= t('.legend_html', name: truncate_project_name(@duplicate.bad_project.name))
  .control-group.clearfix
    %label.control-label.required= t('.good_label_html', name: truncate_project_name(@duplicate.bad_project.name))
    .controls
      = text_field_tag :good_project, good.try(:name), class: 'autocompletable', style: 'width: 95%;',
      data: { source: '/autocompletes/project_duplicates', select: 'duplicatesSelect' }
      .hidden#new_duplicate_spinner= image_tag 'spinner.gif'
      - error_tag @duplicate, :good_project

  .control-group.clearfix#good_project_url_label{ class: good ? '' : ' hidden' }
    %label.control-label= t('.original_url')
    .controls
      - if good
        %a#good_project_url{ base: projects_url, href: project_url(good) }= project_url(good)
      - else
        %a#good_project_url{ base: projects_url, href: '#' }

  .control-group.clearfix
    %label.control-label= t('.comment')
    .controls
      = preserve do
        = form.text_area(:comment, rows: 10, cols: 80, max_length: 1000, style: 'width: 95%;')

  = form.hidden_field :bad_project_id
  = form.hidden_field :good_project_id

  .actions
    %input.btn.btn-primary{ type: 'submit', value: button_text }
