- good = @duplicate.good_project

%fieldset.duplicate-fieldset
  %legend.duplicate-legend= t('.legend_html', name: truncate_project_name(@duplicate.bad_project.name))

  .duplicate-field-group
    %label.duplicate-label.required{ for: 'good_project' }= t('.good_label_html', name: truncate_project_name(@duplicate.bad_project.name))
    = text_field_tag :good_project, good.try(:name), id: 'good_project', class: 'form-control duplicate-input',
    data: { source: '/autocompletes/project_duplicates', select: 'duplicatesSelect' }
    .hidden#new_duplicate_spinner= image_tag 'spinner.gif', alt: ''
    - error_tag @duplicate, :good_project

  .duplicate-field-group#good_project_url_label{ class: good ? '' : 'hidden' }
    %label.duplicate-label= t('.original_url')
    - if good
      %a.duplicate-url#good_project_url{ base: projects_url, href: project_url(good) }= project_url(good)
    - else
      %a.duplicate-url#good_project_url{ base: projects_url, href: '#' }

  .duplicate-field-group
    %label.duplicate-label{ for: 'duplicate_comment' }= t('.comment')
    = form.text_area(:comment, id: 'duplicate_comment', rows: 6, max_length: 1000, class: 'form-control duplicate-textarea')

  = form.hidden_field :bad_project_id
  = form.hidden_field :good_project_id

  .duplicate-actions
    %input.btn.btn-primary.duplicate-submit{ type: 'submit', value: button_text }
