.oh-card.duplicate-instructions
  %h4.duplicate-instructions__title
    %span.soft= t(:about)
    = t('.header')
  %ul.duplicate-instructions__list
    %li= t('.help1')
    %li
      = t('.help2')
      %ul
        - link = link_to(html_escape(@project.name), project_path(@project), title: html_escape(@project.name))
        %li!= t('.help3', project: link)
        %li= t('.help4', name: @project.name)
