- content_for(:html_title) { t('.page_title') }

%h3= t('.title')

.col-md-12
  %ul.nav.nav-tabs
    %li.active
      = link_to t('.unresolved'), '#unresolved-duplicates', 'data-toggle' => :tab
    %li
      = link_to t('.resolved'), '#resolved-duplicates', 'data-toggle' => :tab

  .tab-content
    .tab-pane.fade.in.active#unresolved-duplicates
      = render collection: @unresolved_duplicates, partial: 'duplicate', locals: { resolved: false }
      = will_paginate @unresolved_duplicates

    .tab-pane.fade#resolved-duplicates
      = render collection: @resolved_duplicates, partial: 'duplicate', locals: { resolved: true }
      = will_paginate @resolved_duplicates
