- if project.best_analysis.last_commit_time
  - if project.best_analysis.relative_comments
    - factoid = project.best_analysis.factoids.find { |f| f.is_a?(FactoidComments) }
    - case factoid
    - when FactoidCommentsVeryHigh
      %span.status.good= link_to(t('.very_high'), project_factoids_path(project, anchor: factoid.type))
    - when FactoidCommentsHigh
      %span.status.good= link_to(t('.high'), project_factoids_path(project, anchor: factoid.type))
    - when FactoidCommentsLow
      %span.status.warning= link_to(t('.low'), project_factoids_path(project, anchor: factoid.type))
    - when FactoidCommentsVeryLow
      %span.status.bad= link_to(t('.very_low'), project_factoids_path(project, anchor: factoid.type))
    - when FactoidCommentsAverage
      %span.status.good= link_to(t('.average'), project_factoids_path(project, anchor: factoid.type))
    - else
      = t('.no_comments_found')
  - else
    = t('.no_comments_found')
- elsif project.enlistments.count > 0
  %span.soft= t('.pending')
- else
  %span.soft= t('.no_data')
