- if !project.best_analysis.nil? && project.best_analysis.last_commit_time
  - if !project.best_analysis.twelve_month_summary.nil?
    - tms = project.best_analysis.twelve_month_summary
    - if tms.committer_count > 0
      - str = pluralize_with_delimiter(tms.committer_count, t('compares.developer'))
      = link_to(str, project_contributors_path(project, time_span: '12 months', sort: 'latest_commit'))
    - else
      %span.status.warning= t('no_activity')
  - else
    %span.soft= t('compares.no_data')
- elsif project.enlistments.count > 0
  %span.soft= t('compares.pending')
- else
  %span.soft= t('compares.no_data')
