- if !project.best_analysis.nil? && project.best_analysis.last_commit_time
  - factoid = project.best_analysis.factoids.find { |f| f.is_a?(FactoidActivity) }
  - factoid ||= project.best_analysis.factoids.find { |f| f.is_a?(FactoidTeamSizeZero) }
  - case factoid
  - when FactoidActivityIncreasing
    %span.status= link_to(t('compares.increasing'), project_factoids_path(project, anchor: factoid.class))
  - when FactoidActivityDecreasing
    %span.status= link_to(t('compares.decreasing'), project_factoids_path(project, anchor: factoid.class))
  - when FactoidTeamSizeZero
    %span.status= link_to(t('compares.no_activity'), project_factoids_path(project, anchor: factoid.class))
  - else
    %span.status= t('compares.stable')
- elsif project.enlistments.count > 0
  %span.soft= t('compares.pending')
- else
  %span.soft= t('compares.no_data')
