- content_for(:html_title) { t('.html_title') }

.col-md-7#welcome-message-container
  = render 'welcome'
  %p
    = link_to t('.login_text'), new_session_path, class: 'btn btn-success'
    != t('.login_link_description')

.col-md-5.no_right_padding
  - if flash[:message]
    %p= flash[:message]
  - unless @account.invite_code.blank?
    %p= t('.invite_code_message')
  = render 'fields'
