- content_for(:html_title) { project_pages_title t('.page_title') }
- page_context[:select_footer_nav] = :settings

.project_content_title
  %h2.pull-left
    = link_to t(:settings), settings_parent_path(@parent)
    &#58; #{t(:managers_link_name)}
  = project_analysis_timestamp(@project)
.row
  .col-md-8
    - if @manages.any?
      = render partial: 'manage', collection: @manages
    - else
      = render 'shared/alert', message: t('.nobody_manages_yet')
    - if @parent.is_a?(Organization) && current_user_is_admin?
      %a.btn.btn-primary{ href: new_parent_manager_path(@parent), style: 'margin-left: 30px;' }= t('.new_manager')

  - if @parent.is_a?(Project)
    .col-md-4
      - unless @parent.active_managers.include?(current_user)
        %a.btn.btn-primary{ href: new_parent_manager_path(@parent), style: 'margin-left: 30px;' }= t('.new_cta')
      .clear &nbsp;
      .padding_one_top
        - if !@parent.active_managers.include?(current_user)
          .well
            %h5.nomargin= t('.help_header_first1')
            %p= t('.help_body_first1')
            %br
            %h5.nomargin= t('.help_header_first2')
            %p= t('.help_body_first1')
        - elsif !@parent.manages.pending.blank?
          .well
            %h4.nomargin= t('.help_header_existing', target: html_escape(@parent.name))
            %p.soft= t('.help_body_existing1')
            %p.soft= t('.help_body_existing2')
            %p.soft= t('.help_body_existing3')

= render partial: 'about'
