- unsubscribe_emails_link = link_to(t('here').downcase, @unsubscribe_emails_url)

= t('.dear_blank', to: @kudo.account.name)
%br
= t('.body_1', from: @kudo.sender.name)
- unless @kudo.message.blank?
  = simple_format t('.message', message: @kudo.message, sender: @kudo.sender.name)

!= simple_format t('.body_2', my_account: link_to(nil, @my_account_url))
!= simple_format t('.body_3', email_settings_link: link_to(nil, @email_settings_url),
                    unsubscribe_emails_link: unsubscribe_emails_link)
