.pull-right.soft#analysis_timestamp
  %i
    - unless analysis.nil?
      %i.icon-time
      = t('.analyzed')
      %abbr{ title: analysis.updated_on.to_s(:full) }
        = time_ago_in_words analysis.updated_on
      = t('.ago')

    - if project.is_a?(Organization)
      = t('.project_may_be_current')
    - elsif analysis.oldest_code_set_time.present?
      = t('.based_on')
      %abbr{ title: analysis.oldest_code_set_time.to_s(:full) }
        = time_ago_in_words analysis.oldest_code_set_time
      = t('.ago')
