.pull-right.soft#analysis_timestamp
  %i
    - unless analysis.nil?
      %i.icon-time
      = t('.analyzed')
      %abbr{ title: analysis.updated_on.to_s(:full) }
        = time_ago_in_words analysis.updated_on
      = t('.ago')

    - if project.is_a?(Organization)
      = t('.project_may_be_current')
    - elsif analysis.logged_at.present?
      = t('.based_on')
      %abbr{ title: analysis.logged_at.to_s(:full) }
        = time_ago_in_words analysis.logged_at
      = t('.ago')
