.inset
  %h5
    = link_to t('.markdown'), markdown_syntax_path, class: 'strong external', target: '_blank'

  %p
    [link](http://url.com/)
    %br
    %br
    %em= t('.italic_asterick_html')
    %span.soft= t('.or')
    %em= t('.italic_underscore_html')
    %br
    %strong= t('.bold_asterick_html')
    %span.soft= t('.or')
    %strong= t('.bold_underscore_html')
    %br
    = t('.header_1_html')
    %br
    = t('.header_2_html')
    %br
    %br
    = t('.unordered_list_html')
    %br
    %br
    = t('.ordered_list_html')
