:ruby
  global_search_param = GLOBALLY_SEARCHABLE.include?(controller_name) ? params[:query] : ''
  global_search_param = '' if @avoid_global_search

- unless request.path == root_path
  %form.pull-right#quicksearch{ action: projects_path }
    .dropdown
      .btn-group.ux-dropdown
        %a.btn.btn-small.dropdown-toggle{ 'data-toggle' => 'dropdown' }
          %span.selection= t('projects_menu')
          %span.caret
        %ul.dropdown-menu
          %li
            %a{ val: 'people' }= t('people_menu')
          %li
            %a.default{ val: 'p' }= t('projects_menu')
          %li
            %a{ val: 'orgs' }= t('organizations_menu')
          %li
            %a{ val: 'posts' }= t('forum')
        %input.search.text.global_top_search{ type: :text, name: 'query', placeholder: t('shared.search.search_text'),
        value: global_search_param, autocomplete: 'off' }
        %input.search.hidden{ type: 'hidden', name: 'search_type', id: 'search_type', value: 'projects' }
