:ruby
  search_locals = { collection: language_breakdown, sort_context: :languages }
  # %tr{ id: 'dingus-row' }
  #   %td{ colspan: 8 }= render partial: 'shared/search_dingus', locals: search_locals

%h4
  = t('.title')

%table.table.table-striped.table-condensed
  %thead
    %tr
    %tr
      %th{ width: '3%' }
      %th{ width: '12%',       scope: 'col' }= t('.language')
      %th.center{width: '12%', scope: 'col' }= t('.codes')
      %th.center{width: '14%', scope: 'col' }= t('.comments')
      %th.center{width: '14%', scope: 'col' }= t('.comment_ratio')
      %th.center{width: '11%', scope: 'col' }= t('.blanks')
      %th.center{width: '11%', scope: 'col' }= t('.total_lines')
      %th.left{width: '20%',   scope: 'col' }= t('.total_percent')

    - language_breakdown.each do |lb|
      %tr{ class: cycle('odd','even') }
        %td{ style: "background-color: ##{language_color(lb['language_name'])}" } &nbsp;
        %td
          %span{ itemscope: '' , itemtype: 'http://schema.org/Language' }
            %span{ itemprop: 'name' }= link_to lb.language_nice_name, language_path(lb.language_name)
        %td.right= number_with_delimiter(lb.code_total)
        %td.right= number_with_delimiter(lb.comments_total)
        %td.right= comments_ratio_from_lanaguage_breakdown(lb)
        %td.right= number_with_delimiter(lb.blanks_total)
        %td.right= number_with_delimiter(lb.code_total + lb.comments_total + lb.blanks_total)
        %td
          .bar.pull-left
            .barfill{ style: barfill_css(language_breakdown, lb) }
          %span{ itemscope: '', itemprop: 'aggregateRating', itemtype: 'http://schema.org/AggregateRating' }
            %span.pull-right{ itemprop: 'ratingValue', style: 'margin-left:5px;' }
              = total_percent(language_breakdown, lb)
          .clearfix

    %tr
      %td
      %td.right= t('.total')
      %td.right= number_with_delimiter analysis_total_detail(language_breakdown, 'code')
      %td.right= number_with_delimiter analysis_total_detail(language_breakdown, 'comments')
      %td.right
      %td.right= number_with_delimiter analysis_total_detail(language_breakdown, 'blanks')
      %td.right= number_with_delimiter analysis_total_lines(language_breakdown)
      %td.center
