:ruby
  total_lines = analysis_total_lines(language_breakdown)
  code_lines = analysis_total_detail(language_breakdown, 'code_total')
  comment_lines = analysis_total_detail(language_breakdown, 'comments_total')
  blank_lines = analysis_total_detail(language_breakdown, 'blanks_total')

.well{ style: 'border: none; box-shadow: none; border-radius: 0' }
  %table
    %tr
      %td{ width: '20%', scope: 'col' }= t('.total_lines')
      %td{ width: '5%',  scope: 'col' }= number_with_delimiter(total_lines)
      %td{ width: '10%', scope: 'col' }
      %td{ width: '20%', scope: 'col' }= t('.code_lines')
      %td{ width: '5%',  scope: 'col' }= number_with_delimiter(code_lines)
      %td{ width: '10%', scope: 'col' }
      %td{ width: '20%', scope: 'col' }= t('.percentage_lines')
      %td{ width: '10%', scope: 'col' }= analysis_total_percent_detail(code_lines, total_lines)
    %tr
      %td{ width: '20%', scope: 'col' }= t('.languages')
      %td{ width: '5%',  scope: 'col' }= @languages_breakdown.size
      %td{ width: '10%', scope: 'col' }
      %td{ width: '20%', scope: 'col' }= t('.total_language_lines')
      %td{ width: '5%',  scope: 'col' }= number_with_delimiter(comment_lines)
      %td{ width: '10%', scope: 'col' }
      %td{ width: '20%', scope: 'col' }= t('.percentage_comments')
      %td{ width: '10%', scope: 'col' }= analysis_total_percent_detail(comment_lines, total_lines)
    %tr
      %td{ width: '20%', scope: 'col' }
      %td{ width: '5%',  scope: 'col' }
      %td{ width: '10%', scope: 'col' }
      %td{ width: '20%', scope: 'col' }= t('.total_blank_lines')
      %td{ width: '5%',  scope: 'col' }= number_with_delimiter(blank_lines)
      %td{ width: '10%', scope: 'col' }
      %td{ width: '20%', scope: 'col' }= t('.percentage_blanks')
      %td{ width: '10%', scope: 'col' }= analysis_total_percent_detail(blank_lines, total_lines)
