- content_for :html_title do
  = t('.page_title', name: @project.name)

- page_context[:select_footer_nav] = :languages

.project_content_title
  %h2.pull-left= t('.title')
  = project_analysis_timestamp(@project)

- if @language_breakdown.any?
  %br
  = render partial: 'projects_languages_details', locals: { language_breakdown: @language_breakdown }
  .clearfix

  .col-md-10.padding_one_top
    = render partial: 'analysis_graphs', locals: { project: @project, analysis: @analysis }

  .col-md-12.padding_one_top
    = render partial: 'language_table', locals: { language_breakdown: @language_breakdown }

- elsif @analysis.present?
  %p= t('.no_recognized_languages')
- else
  = render partial: 'projects/show/no_analysis_summary'
