- popular_items.each do |item|
  .top_ten_row
    = set_link(item)
    .top_ten_main
      .top_ten_link
        = set_path(item)
      .top_ten_bar.pull-left{ class: colors, style: "width:#{width(item, required, max)}%" }
        &nbsp;
      .top_ten_label.pull-left
        - if (required == 'most_recent_projects')
          = "#{commit} #{project_count(item, required)}"
        - else
          = pluralize(project_count(item, required), commit)
    .clearfix
