.join_now_card
  .card_inner
    .join_header
      .join_icon
        %i.fa.fa-user-plus
      .join_header_text
        %h3.join_title= t('.join_now')
        %p.join_subtitle= t('.become_part_community')

    .benefits_list
      .benefit_item
        .benefit_icon.benefit_icon_award
          %i.fa.fa-trophy
        .benefit_content
          %h4.benefit_title= t('.track_contributions_title')
          %p.benefit_description= t('.track_contributions_desc')

      .benefit_item
        .benefit_icon.benefit_icon_trending
          %i.fa.fa-line-chart
        .benefit_content
          %h4.benefit_title= t('.gain_recognition_title')
          %p.benefit_description= t('.gain_recognition_desc')

    .join_cta
      = link_to new_account_path(invite: params[:invite], ref: 'homepage'), class: 'btn btn_join_cta' do
        %i.fa.fa-user-plus
        = t('.create_account')
