.container.join_now_home
  .col-md-4.text-center
    %span.icon.icon-group
    %span.bold= t('.claim')
    = t('.contributions')
  .col-md-4.text-center
    %span.icon.icon-cogs
    %span.bold= t('.manage')
    = t('.projects_data')
  .col-md-4.text-center
    %span.icon.icon-hand-right
    %span.bold= t('.highlight')
    = t('.use')
  .clearfix
  .text-center.col-md-12
    = link_to t('.join_now'), new_registration_path(invite: params[:invite], ref: 'homepage'), class: 'btn btn_join_now btn-lg btn-default'
