- content_for(:html_title) { t('.page_title') }
.showcase
  .billboard
    .row
      .col-md-12
        %h2.discover_msg
          = t('.discover_message')
    .row
      .col-md-12.billboard_search
        %form.search#search_form{ action: projects_path }
          %input{ type: :hidden, name: 'ref', value: 'homepage' }
          %input.for_search_all_code{ type: :text, name: 'query', placeholder: t('.search_projects'), id: 'text' }
            %i#icon_text.fa.fa-search

    .row
      .col-md-12
        .global_stats
          #global_statistics
            %p.hide#content-0= t('.counting', count: number_with_delimiter(@home.lines_count.to_i))
            %p.hide#content-1= t('.indexing', count: number_with_delimiter(@home.active_project_count))
            %p.hide#content-2= t('.connecting', count: number_with_delimiter(@home.person_count))
            %p.hide#content-3= t('.tracking', count: number_with_delimiter(@home.repository_count))
.home_page_row
  .col-md-4.col-xs-7.col-sm-6
    %h2.join_now= t('.join_now')
    = render partial: '/home/join_now_home'
  .col-md-8.col-xs-5.col-sm-6
    %h2.wh_new= t('.whats_new')
    = render partial: '/home/whats_new'
.landing.col-md-12.col-sm-12.col-xs-12.last_section
  = home_top_lists
