- total_count ||= 0

- if type == :commits && @project.best_analysis.oldest_code_set_time.present?
  %span.commits_display_date_range.pull-right
    %i.icon-time
    - if TIME_SPANS[params[:time_span]] == :last_30_days
      = (@project.best_analysis.oldest_code_set_time - 30.days).to_s(:mdy)
    - else
      = (@project.best_analysis.oldest_code_set_time - 12.months).to_s(:mdy)
    &mdash;
    = @project.best_analysis.oldest_code_set_time.to_s(:mdy)
.search-filter-bar
  %form
    .search-filter-content
      = render 'shared/search_dingus/page_entries_info', collection: items, total_count: total_count

      .search-section
        %label{for: 'query'}= t('shared.search_dingus.search_bar.search_text')
        .search-input-wrapper
          %input#query{type: 'text', name: 'query', placeholder: t('shared.search_dingus.search_bar.search_text'), value: params[:query]}
          = hidden_field_tag :time_span, params[:time_span]
          %button.search-cancel-btn{ type: 'button', style: (params[:query].blank? ? 'display: none;' : '') }
            %i.fa.fa-times
        %button.search-refresh-btn{ type: 'submit' }
          %i.fa.fa-refresh

      - if type == :contributions
        = render 'shared/search_dingus/sort', sort_context: :contributions, filter_type: nil
