- if params[:query].present? && collection.size.zero?
  - if no_match_found_type == :flash
    = render 'shared/alert', message: t('.no_match')
  - elsif no_match_found_type == :message
    .inset.advanced_search_tips
      %h4= t('.no_match_1_html', query: params[:query])
      %p= t('.no_match_2')
      %ul.margin_left_35
        %li= t('.no_match_3')
        %li= t('.no_match_4')
        %li= t('.no_match_5')
        %li= t('.no_match_6')
