%h4.margin_top_10.margin_bottom_0
  %span.soft= t('.about')
  = t('.code_locations')
.col-md-5.margin_left_30
  %ul
    %li= t('.description1')
    %li= t('.description2')
    %li= t('.description3')
    %li= t('.description4')
    %li
      = t('.description5')
      %strong= t('.description6')
      = t('.description7')
.col-md-5.margin_left_20
  %ul
    %li
      = t('.description8')
      %ul.margin_left_30
        %li
          = t('.description9')
        %li
          = t('.description10')
    %li= t('.description11')
