%fieldset
  .control-group
    %label.control-label.required= t('.scm_type')
    .controls.chosen#value_select
      %select.chzn-select.value-select{ name: 'code_location[scm_type]', id: 'repository_type' }
        = options_for_select_type(@code_location.scm_type)
      - error_tag @code_location, :scm_type
  .control-group
    .controls
      .default-url-tags
        %label.control-label.required= t('.enter_url')
        = f.text_field :url, class: 'col-md-7'
        - error_tag @code_location, :url

      .github.scm_info{ style: 'display: none;' }
        %label.control-label.required= t('.enter_github_username')
        .input-group
          %span.input-group-addon https://github.com/
          = f.text_field :url, class: 'form-control'
        - error_tag @code_location, :url

      .clearfix
      .cvs.scm_info{ style: 'display: none;' }
        %p= t('.example')
        %ul.margin_left_20
          %li= t('.description4')
          %li= t('.description5')
      .svn.scm_info{ style: 'display: none;' }
        %p= t('.example')
        %ul.margin_left_20
          %li= t('.description6')
          %li= t('.description7')
        %p.help-block
          = t('.description8_html')
      .git.scm_info{ style: 'display: none;' }
        %p= t('.example')
        %ul.margin_left_20
          %li= t('.description15')
          %li= t('.description16')
      .hg.scm_info{ style: 'display: none;' }
        %p= t('.example')
        %ul.margin_left_20
          %li= t('.description17')
          %li= t('.description18')
      .bzr.scm_info{ style: 'display: none;' }
        %p= t('.example')
        %ul.margin_left_20
          %li= t('.description19')
          %li= t('.description20')
      .github.scm_info{ style: 'display: none;' }
        %br
        %p= t('.example')
        %ul.margin_left_20
          %li= t('.github_username_example')
  .svn.cvs.scm_info{ style: 'display: none;' }
    .control-group.warning
      %label.control-label= t('.if_required')
      .controls
        = f.text_field :username, placeholder: t('.username'), style: 'display:block;'
        - error_tag @code_location, :username
        = f.text_field :password, placeholder: t('.password'), style: 'display:block;'
        - error_tag @code_location, :password
        %p.help-block.col-md-7
          %strong= t('.warning')
          = t('.description23')
        .clearfix &nbsp;

  .cvs.scm_info{ style: 'display: none;' }
    .control-group
      %label.cotrol-label.required= t('.cvs_module_name')
      .controls
        = f.text_field :branch
        - error_tag @code_location, :branch
        %p.help-block
          = t('.enter_cvs')
          %br
          = t('.create_seperate_enlistment')

  .git.scm_info{ style: 'display: none;' }
    .control-group
      %label.control-label= t('.enter_git')
      .controls
        = f.text_field :branch
        - error_tag @code_location, :branch
        %p.help-block
          = t('.enter_git_name')
          %br
          %strong= t('.if_not_sure')

  .github.scm_info{ style: 'display: none;' }
    %p.help-block
      = t('.github_username_info')
  .control-group
    .controls
      - error_tag @code_location, :failed

  .actions
    - if logged_in? && @project.edit_authorized?
      = submit_tag t('.save_code_location'), class: 'btn btn-primary submit'
      %p.spinner{ style: 'display: none;' }
        = image_tag 'spinner.gif'
        = t('.check_server_connection')
    - else
      = disabled_button t('.save_code_location'), class: 'btn-primary'
