- content_for(:html_title) { t('.html_title', name: @project.name) }
- page_context[:select_footer_nav] = nil

#enlistment-edit-page
  .row.margin_left_5
    .col-md-10.col-md-offset-1
      %h3
        = link_to t('settings'), settings_project_path(@project)
        &nbsp;:&nbsp;
        = link_to t('.code_locations'), project_enlistments_path(@project)
        = t('.ignored_files')
      .oh-card
        = form_for [@project, @enlistment], html: { method: :put } do |f|
          %fieldset
            .control-group
              %label.control-label{ for: 'enlistment_ignore' }
                = t('.ignored_files_for')
                %strong.code-location-url= @enlistment.code_location.nice_url
              .controls
                = find_and_preserve(f.text_area(:ignore, rows: 20, class: 'form-control',
                  style: 'font-family: monospace;'))
                - error_tag @enlistment, :ignore
                %p.help-block
                  = t('.description1')
            .actions
              %input.btn.btn-primary{ type: 'submit', value: t('.save_ignored_files') }
.clearfix

.about-code-locations-card
  .card-header
    %h4.card-title
      %span.soft= t('.about')
      = t('.code_locations_ignored')
    %button.expand-toggle{ type: 'button', 'aria-label' => 'Expand about section' }
      %i.fa.fa-chevron-down

  .card-content
    .about-content-wrapper
      .col-md-5.margin_left_30
        %p= t('.syntax_tips')
        %ul
          %li
            = t('.description6')
            %code= t('.description7')
          %li
            = t('.description8')
            %code= t('.description9')
            = t('.description10')
            %code= t('.description11')
            = t('.description12')
          %li
            = t('.description13')
            %code= t('.description14')
            = t('.description15')
            %code= t('.description16')
            = t('.description17')
          %li
            = t('.description18')
            %code= t('.description19')
            = t('.description20')
          %li
            = t('.description21')
          %li
            = t('.description22')
            %code= t('.description23')
            = t('.description24')
            = t('.description25')
          %li
            = t('.description26')
            %code= t('.description27')
            = t('.description28')
            %code= t('.description29')
            = t('.description30')
      .col-md-5.margin_left_20
        %p= t('.example')
        - other_examples = ''
        - if @examples.present?
          - other_examples << t('.some_random_files')
          - @examples.each do |enlistment|
            - other_examples << t('.disallow_html', enlistment: enlistment)
        %pre
          = t('.excluded_directory_html', other_examples: other_examples)

