- content_for(:html_title) { t('.page_title', name: @project.name) }
- page_context[:select_footer_nav] = nil

#enlistment-edit-page
  .row.margin_left_5
    .col-md-10.col-md-offset-1
      %h3
        = link_to t('settings'), settings_project_path(@project)
        &nbsp;:&nbsp;
        = link_to t('.code_locations'), project_enlistments_path(@project)
        = t('.new')
      .oh-card.enlistment
        = form_for CodeLocation.new, url: project_enlistments_url, html: { method: 'post' } do |f|
          = render partial: 'fields', locals: { f: f }
.clearfix
= render partial: 'about_code_locations'
