- content_for(:html_title) { t('.page_title', name: @project.name) }
- page_context[:select_footer_nav] = :rss
%h2
  %strong= link_to t('.settings'), settings_project_path(@project)
  \:
  %strong= link_to t('.news_feed'), project_rss_subscriptions_path(@project)
  %strong= t('.new')

.clearfix
.col-md-10.oh-card
  = form_for @rss_feed, url: project_rss_subscriptions_url(@project), html: { method: :post } do |f|
    = render partial: 'fields', locals: { f: f }

.clearfix
.about-account-basics-card
  .card-header
    %h4.card-title
      %span.soft= t('.about')
    %button.expand-toggle{ type: 'button', 'aria-label' => 'Expand about section' }
      %i.fa.fa-chevron-down
  .card-content
    .about-content-wrapper
      .col-md-9
        %ul.margin_left_25
          %li= t('.about_1')
          %li= t('.about_2')
