- content_for(:html_title) { t('.page_title', name: @project.name) }
- page_context[:select_footer_nav] = :rss
%h2.pull-left
  = link_to t('.settings'), settings_project_path(@project)
  \:
  = link_to t('.news_feed'), project_rss_subscriptions_path(@project)
  = t('.new')
= render 'shared/analysis_timestamp', analysis: @project.best_analysis, project: @project

.clearfix
.col-md-8.col-md-offset-2
  .well
    = form_for @rss_feed, url: project_rss_subscriptions_url(@project), html: { method: :post } do |f|
      = render partial: 'fields', locals: { f: f }

.clearfix
.coll-md-11
  %h4.soft= t('.about')
  %ul.margin_left_25
    %li= t('.about_1')
    %li= t('.about_2')
