.well.hidden#admin_actions_opened
  %h6= t('.email')
  %p= link_to @account.email, "mailto:#{@account.email}"
  %h6= t('.activity')
  %p.ohloh_activity
    = render partial: 'accounts/show/action_link', locals: { action: 'edits', path: account_edits_url(@account) }
    = render partial: 'accounts/show/posts_link', locals: { posts: @account.posts }
    = render partial: 'accounts/show/action_link',
    locals: { action: 'reviews', css: '', path: account_reviews_url(@account) }

  %h6= t('.actions_title')
  %p
  %p
    - if @account.verifications.empty?
      %a.btn.btn-primary.btn-small{ href: manual_verification_account_accesses_path(@account),
                                    data: { method: 'post' },
                                    title: t('.manual_verification.title', name: @account.name) }
        %i.icon-check
        = t('.manual_verification.link')
    = link_to t('.spammer.link_html'), make_spammer_account_accesses_path(@account),
      method: :post, data: { confirm: t('.spammer.confirm', name: @account.name) },
      class: 'btn btn-warning btn-small', title: t('.spammer.title', name: @account.name)
    &nbsp; &nbsp;
    = link_to t('.not_spammer.link_html'), make_not_spammer_account_accesses_path(@account),
      method: :post, data: { confirm: t('.not_spammer.confirm', name: @account.name) },
      class: 'btn btn-small btn-success', title: t('.not_spammer.title', name: @account.name)
    &nbsp; &nbsp;
    - if @account.access.verified?
      = link_to t('.delete.link_html'), account_path(@account),
        method: :delete, data: { confirm: t('.delete.confirm', name: @account.name) },
        class: 'btn btn-danger btn-small', title: t('.delete.title', name: @account.name)
    - else
      %span{ title: t('.delete.need_verification') }
        %button.btn.btn-default.btn-small{ disabled: 'disabled' }
          = t('.delete.link_html')
    &nbsp; &nbsp;
    = render partial: 'accounts/show/mark_as_bot'
    = link_to t('.panel.close'), 'javascript:void(0);', id: 'close_admin_panel'

.well#admin_actions_closed
  = link_to t('.panel.open'), 'javascript:void(0);', id: 'open_admin_panel'
