/ Expanded state (hidden by default, shown when admin opens the panel)
#admin_actions_opened.hidden
  .admin_panel_header
    .admin_header_left
      .admin_lock_badge
        %i.icon-lock
      %span.admin_panel_title Admin Panel
    = link_to 'javascript:void(0);', id: 'close_admin_panel', class: 'admin_chevron_btn' do
      %i.icon-chevron-up

  .admin_panel_body
    .admin_info_section
      .admin_info_label
        %i.icon-envelope
        %span= t('.email')
      %p.admin_email_link= link_to h(@account.email), "mailto:#{@account.email}"

      .admin_info_label
        %i.icon-bar-chart
        %span= t('.activity')
      .admin_activity_cards
        .admin_activity_card
          %i.icon-edit
          .admin_activity_card_body
            %p.admin_activity_card_title Edits
            = render partial: 'accounts/show/action_link', locals: { action: 'edits', path: account_edits_url(@account) }
        .admin_activity_card
          %i.icon-comment
          .admin_activity_card_body
            %p.admin_activity_card_title Posts
            = render partial: 'accounts/show/posts_link', locals: { posts: @account.posts }
        .admin_activity_card
          %i.icon-check
          .admin_activity_card_body
            %p.admin_activity_card_title Reviews
            = render partial: 'accounts/show/action_link', locals: { action: 'reviews', css: '', path: account_reviews_url(@account) }

    .admin_actions_section
      .admin_info_label.admin_danger_label
        %i.icon-warning-sign
        %span= t('.actions_title')
      .admin_btns_grid
        - if @account.verifications.empty?
          %a.btn.btn-primary.btn-small{ href: manual_verification_account_accesses_path(@account),
                                        data: { method: 'post' },
                                        title: t('.manual_verification.title', name: @account.name) }
            %i.icon-check
            = t('.manual_verification.link')
        = link_to t('.spammer.link_html'), make_spammer_account_accesses_path(@account),
          method: :post, data: { confirm: t('.spammer.confirm', name: @account.name) },
          class: 'btn btn-warning btn-small', title: t('.spammer.title', name: @account.name)
        = link_to t('.non_spammer.link_html'), make_non_spammer_account_accesses_path(@account),
          method: :post, data: { confirm: t('.non_spammer.confirm', name: @account.name) },
          class: 'btn btn-small btn-success', title: t('.non_spammer.title', name: @account.name)
        - if @account.access.verified?
          = link_to t('.delete.link_html'), account_path(@account),
            method: :delete, data: { confirm: t('.delete.confirm', name: @account.name) },
            class: 'btn btn-danger btn-small', title: t('.delete.title', name: @account.name)
        - else
          %span.admin_disabled_btn{ title: t('.delete.need_verification') }
            %button.btn.btn-default.btn-small{ disabled: 'disabled' }
              = t('.delete.link_html')
        = render partial: 'accounts/show/mark_as_bot'
        = link_to 'javascript:void(0);', class: 'admin_close_text_btn' do
          %i.icon-remove
          Close admin panel

/ Collapsed state (visible by default — amber header bar)
#admin_actions_closed
  = link_to 'javascript:void(0);', id: 'open_admin_panel', class: 'admin_panel_header' do
    .admin_header_left
      .admin_lock_badge
        %i.icon-lock
      %span.admin_panel_title Admin Panel
    .admin_chevron_btn
      %i.icon-chevron-down
