:ruby
  lang = @account.most_experienced_language
  bg_color = language_color(lang.try(:name))
  text_color = language_text_color(lang.try(:name))

- if @account.best_vita && lang
  .col-md-7.row
    .inner
      %p
        .col-md-3.left= t('.lang_title')
        .col-md.right.language{ style: "background-color:##{bg_color}; color:##{text_color};" }
          = lang.nice_name

- BaseballCard.new(@account).rows.each do |row|
  .col-md-7.row{row[:css]}
    .inner
      %p
        .col-md-3.left= row[:label]
        .col-md-4.right= row[:value]

