.account_header
  .account_header_inner
    / Back link — top left per Figma
    .header_back_row
      = link_to people_path, class: 'header-back-link' do
        %i.icon-chevron-left
        People

    / Avatar + name + badges row
    .header_flex_container
      #account_icon
        = image_tag avatar_img_path(@account, 128), size: '128x128', itemprop: 'image'
        - lang = @account.most_experienced_language
        - if lang
          - lang_style = "background-color: ##{language_color(lang.name)}; color:##{language_text_color(lang.name)};"
          .primary_language_bg{ style: lang_style }
            = lang.nice_name

      #account_header
        #account_name
          %h1{ itemprop: 'name' }= h(@account.name)
          .info_row
            - if @account.location.present?
              .info
                %i.icon-map-marker
                = @account.location
                %meta{ itemprop: 'homeLocation', content: @account.location }

            - if @account.url.present?
              .info
                = link_to h(@account.url), target: '_blank', title: @account.url, itemprop: 'url', rel: 'nofollow noopener noreferrer' do
                  %i.icon-external-link
                  = h(truncate(@account.url, length: 60))

            .info#account_affiliation
              = render partial: 'accounts/show/header/affiliation', locals: { account: @account }

      / Kudo badges — right side of header row, original 48px shape
      .mini-badges-section
        - badges = @account.badges.map { |badge| BadgeDecorator.new(badge) }
        = render partial: 'accounts/badges_row', locals: { badges: badges, header: :large }

    / Action buttons + analyzed timestamp
    .header_actions
      .header_buttons
        - if my_account?(@account) || current_user_is_admin?
          = link_to bootstrap_icon('icon-cogs', t('.settings')), settings_account_path(@account), class: 'action_button'
        - if current_user_is_admin?
          = link_to bootstrap_icon('icon-legal', t('.view_job')), admin_account_account_analysis_jobs_path(@account), class: 'action_button'
        .kudo_button_wrapper
          = render partial: 'accounts/show/header/kudo_button', locals: { css: 'kudo_action_button' }
        - if !my_account?(@account) && @account.twitter_account.present?
          - twitter_detail = @twitter_detail || TwitterDetail.new(@account)
          = link_to h(twitter_detail.url(request.url)), class: 'link_no_underline twitter_link_header',
          rel: 'popup', title: "Follow @#{@account.twitter_account}" do
            %i.icon-twitter

      / Analyzed timestamp — below buttons row
      = render partial: 'accounts/show/account_analysis_timestamp', locals: { best_account_analysis: @account.best_account_analysis }

= render partial: 'layouts/partials/alert'
