.mezzo
%br
- if flash[:password_changed]
  .alert.alert-success
    %i.fa.fa-check-circle
    %span.text-size= flash[:password_changed]
    %a.close{ 'data-dismiss' => 'alert', href: '#' } ×

  %h2.pull-left= t('.title')
  = render partial: 'accounts/show/vita_timestamp', locals: { best_vita: @account.best_vita }
  .clearfix
  .col-md-5
    .margin_bottom_10px{ itemprop: 'description' }
      = render partial: 'accounts/show/description', locals: { markup: @account.markup, desc_size: ACCOUNT_DESC_LENGTH }
    %h4.projects_used
      = link_to t('.projects_used'), account_stacks_path(@account)
    .stacked_projects
      = render partial: 'accounts/show/stacked_projects'
  .baseball_card
    = render partial: 'accounts/show/baseball_card'
