= form_tag action: :create do
  %fieldset
    .signup-field-group
      %label.signup-field-label
        = t('email_address')
        %span.pwd-required *
      .signup-field-input-wrapper
        %i.fa.fa-envelope-o.signup-field-icon
        = text_field_tag :email, current_user.try(:email), class: 'signup-field-input', placeholder: 'you@example.com'
      - if @errors
        .signup-field-group
          %span.error= @errors

    .signup-field-actions
      = submit_tag t('.submit'), class: 'signup-submit-btn'
