#project_masthead
  .col-md-1.no_padding_left#project_icon
    = link_to project_path(@project), itemprop: 'url' do
      = @project.decorate.icon(:med)
  .col-md-11.no_padding_left#project_header
    .pull-left.project_title
      %h1.pull-left{ itemprop: 'name' }
        = link_to @project.name, project_path(@project), style: 'color: black', itemprop: 'url'
      %small.pull-left.clearfix
        = link_to settings_project_path(@project) do
          %i.icon-cogs
          = t('.settings')
        - if @project.is_a_duplicate
          - if current_user && @project.is_a_duplicate.account == current_user
            |
            = link_to edit_project_duplicate_path(@project, @project.is_a_duplicate) do
              %icon.icon-flag
              = t('.edit_duplicate')
        - else
          |
          = link_to new_project_duplicate_path(@project) do
            %icon.icon-flag
            = t('.report_duplicate')
    .pull-right#widgets
      .pull-left#project_header_activity_indicator
        - project_activity_level_class(@project, :thirtyfive)
        - project_activity_level_text(@project, :thirtyfive)
      %div{ itemtype: 'CreativeWork', itemprop: 'interactionCount' }
        .pull-left#i_use_this_container
          .use_count= link_to number_with_delimiter(@project.user_count), users_project_path(@project)
          %button.btn.btn-mini.btn-grey.iusethis.pull-right{ id: "stackit_#{@project.to_param}",
          class: iusethis_css_class, title: t('.title', name: @project.name, count: @project.user_count) }
            = t('.i_use')
.clearfix
.mezzo.margin_top_15
= yield :header_title if content_for?(:header_title)
= render partial: 'layouts/partials/alert'
