- project = project_index
.well.searchable{ id: "project_#{project.id}" }
  %h2.title.pull-left= link_to project.name.truncate(70), project_path(project), title: project.name
  .pull-right
    .compare
      - project_compare_button(project, t('.compare')) if defined?(compare) && compare
    - if params[:action].to_s != 'check_forge'
      .i_use_this
        - project_iusethis_button(project) if defined?(i_use_this) && i_use_this
  .clear

  .pull-left#inner_content
    %a.pull-left.logo{ href: project_path(project), style: 'max-width: 64px;' }
      - project_icon(project, :med)

    .info.pull-left
      %p
        - if project.organization
          = t('.claimed_by')
          = link_to truncate(project.organization.name, length: 30),
                    organization_path(project.organization), class: 'claimed-by-org', title: project.organization.name
        - else
          &nbsp;

        - if !project.best_analysis.nil? || @analysis
          - analysis = (project.best_analysis || @analysis)
          %i
            %abbr.date{ title: analysis.updated_on }
              = t('.analyzed_ago', time: time_ago_in_words(analysis.updated_on))
        - else
          %span.soft.pull-right
            %i= t('.no_analysis_available')

      .desc
        - if project.description && project.description.strip.size > 340
          = expander(project.description, 300, 340)
        - elsif project.description
          %span.proj_desc_toggle{ style: 'display: inline', id: "proj_desc_#{project.id}_lg" }
            = project.description

    .stats.pull-left
      %p
        - if project.best_analysis.blank?
          = link_to 0, '#'
        - else
          - code_total_str = project.best_analysis.code_total.to_human
          = link_to code_total_str, languages_summary_project_analysis_path(project, 'latest')
        %span= t('.loc')
      %p
        = link_to number_with_delimiter(project.active_committers), summary_project_contributors_path(project)
        %span= t('.current_contributors')
      %p
        - if !project.best_analysis.nil? && project.best_analysis.last_commit_time
          %a{ href: summary_project_commits_path(project) }= time_ago_in_words(project.best_analysis.last_commit_time)
        - else
          = link_to 0, '#'
        %span= t('.since_last_commit')
      %p
        = link_to number_with_delimiter(project.user_count), users_project_path(project)
        %span= t('.users_on_open_hub')

    .reviews-and-pai.pull-left
      - project_activity_level_class(project, :twentyfive)
      - project_activity_level_text(project, :twentyfive)
      .stars!= rating_stars('average_rating_stars', project.rating_average.to_f || 0, true)
      .reviews
        = link_to pluralize_with_delimiter(project.reviews.count, t('.review')), summary_project_reviews_path(project)
      .use_this{ style: 'margin-top: 10px; margin-left: 10px' }
        - if logged_in?
          = render partial: 'projects/show/i_use_this', locals: { project: project }
        - else
          .btn.btn-mini.i_use_this_btn{ 'data-target' => '#LoginModal', 'data-toggle' => 'modal' }= t('.i_use_this')
          .modal.fade#LoginModal{ 'aria-hidden' => 'true', 'aria-labelledby' => 'LoginModalLabel', :role => 'dialog' }
            .modal-dialog.modal-sm
              .modal-content{ style: 'width: 398px' }
                .modal-header
                  %button.close{ 'aria-label' => 'Close', 'data-dismiss' => 'modal', :type => 'button' }
                    %span{ 'aria-hidden' => 'true' } &times;
                  %h4.modal-title#LoginModalLabel= t('.login_required')
                .model-body
                  = render 'sessions/sign_in'

  .add-info
    .main_language.pull-left
      - if project.best_analysis.present? && project.best_analysis.main_language
        - lang = project.best_analysis.main_language.nice_name
        = link_to t('.mostly_written_in', lang: lang), languages_summary_project_analysis_path(project, 'latest')
      - else
        %span= t('.mostly_written_lang_not_available')
    .licenses.pull-right
      = link_to t('.licenses'), project_licenses_path(project)
      - if project.licenses.any?
        = project.licenses.first(3).collect { |l| l.short_name.truncate(12) }.join(', ')
      - else
        %span= t('.no_declared_licenses')
    .clear_both

  .tags
    - unless project.tag_list.blank?
      - tags = project.tag_list.split(' ')
      = tag_icon_link(project)
      = tag_links(tags, 12)
      - if tags.length > 12
        = link_to t('.n_more', n: (tags.length - 12)), project_path(project)
