%meta{ name: 'ROBOTS', content: 'NOINDEX, NOFOLLOW' }
- content_for(:html_title) { @query ? t('.page_title_query', query: @query) : t('.page_title') }
- page_context[:select_top_menu_nav] = 'select_projects'
- content_for :session_projects_banner do
  #sp_menu
    = render 'session_projects/menu'

#projects_index_page
  .projects-container
    / Header Section with Actions
    .projects-header
      %h1= t('.projects')
      .header-actions
        = link_to tags_path, class: 'btn-browse-tags' do
          %i.fa.fa-tag
          = t('.browse_projects')
        = link_to new_project_path, class: 'btn-add-project' do
          %i.fa.fa-plus
          = t('.add_new_project')

        / Header Search with Dropdown
        = render 'shared/search'

    / Search and Filter Bar
    = render 'shared/search_dingus', collection: @projects, sort_context: :projects

    / Projects List
    #projects_index_list
      = render partial: 'project_index', collection: @projects, locals: { compare: true, show_active_committers: true }

    / Modern Pagination
    - if @projects.total_pages > 1
      .modern-pagination
        %button.page-btn{disabled: @projects.current_page == 1, onclick: "window.location.href='?page=#{@projects.current_page - 1}'"}
          %i.fa.fa-chevron-left
        - (1..@projects.total_pages).each do |page|
          %button.page-btn{class: ('active' if page == @projects.current_page), onclick: "window.location.href='?page=#{page}'"}
            = page
        %button.page-btn{disabled: @projects.current_page == @projects.total_pages, onclick: "window.location.href='?page=#{@projects.current_page + 1}'"}
          %i.fa.fa-chevron-right
