%meta{ name: 'ROBOTS', content: 'NOINDEX, NOFOLLOW' }
- content_for(:html_title) { @query ? t('.page_title_query', query: @query) : t('.page_title') }
- page_context[:select_top_menu_nav] = 'select_projects'
- content_for :session_projects_banner do
  .navbar.container#sp_menu
    = render 'session_projects/menu'

#projects_index_header
  %h1.pull-left= t('.projects')
  .pull-right.margin_top_20
    = link_to t('.browse_projects'), tags_path, class: 'btn btn-light btn-mini'
    = link_to t('.add_new_project'), new_project_path, class: 'btn btn-light btn-mini'

.clearfix &nbsp;

= render partial: 'shared/search_dingus', locals: { collection: @projects, sort_context: :projects }
.clear

#projects_index_list
  = render partial: 'project_index', collection: @projects, locals: { compare: true, show_active_committers: true }
  = will_paginate @projects
