%meta{ name: 'ROBOTS', content: 'NOINDEX, NOFOLLOW' }
- content_for(:html_title) { @query ? t('.page_title_query', query: @query) : t('.page_title') }
- page_context[:select_top_menu_nav] = 'select_projects'
- content_for :session_projects_banner do
  #sp_menu
    = render 'session_projects/menu'

#projects_index_page
  .projects-container
    / Header Section with Actions
    .projects-header
      %h1= t('.projects')
      .header-actions
        = link_to tags_path, class: 'btn-browse-tags' do
          %i.fa.fa-tag
          = t('.browse_projects')
        = link_to new_project_path, class: 'btn-add-project' do
          %i.fa.fa-plus
          = t('.add_new_project')

        / Header Search with Dropdown
        = render 'shared/search'

    / Search and Filter Bar
    = render 'shared/search_dingus', collection: @projects, sort_context: :projects

    / Projects List
    #projects_index_list
      = render partial: 'project_index', collection: @projects, locals: { compare: true, show_active_committers: true }

    / Modern Pagination
    - if @projects.total_pages > 1
      .modern-pagination
        - current_page = @projects.current_page
        - total_pages = @projects.total_pages
        %button.page-btn{disabled: current_page == 1, onclick: "window.location.href='?#{request.query_parameters.merge(page: (current_page - 1)).to_query}'"}
          %i.fa.fa-chevron-left
        - visible_pages = []
        - window_size = 2
        - visible_pages << 1
        - if total_pages > 1
          - left = [current_page - window_size, 2].max
          - right = [current_page + window_size, total_pages - 1].min
          - visible_pages << :gap if left > 2
          - visible_pages.concat((left..right).to_a) if left <= right
          - visible_pages << :gap if right < total_pages - 1
          - visible_pages << total_pages
        - visible_pages.each do |page|
          - if page == :gap
            %span.page-ellipsis …
          - else
            %button.page-btn{class: ('active' if page == current_page), onclick: "window.location.href='?#{request.query_parameters.merge(page: page).to_query}'"}
              = page
        %button.page-btn{disabled: current_page == total_pages, onclick: "window.location.href='?#{request.query_parameters.merge(page: (current_page + 1)).to_query}'"}
          %i.fa.fa-chevron-right
