:ruby
  content_for(:html_title) { t('projects.html_title', name: @project.name, title: t('.page_title')) }
  page_context[:select_top_menu_nav] = 'select_projects'
  page_context[:select_footer_nav] = :project_security

%div
  %h2.pull-left= t('.title')
  = project_analysis_timestamp(@project)

.clear

.row
  .col-md-1
    &nbsp;
  .col-md-10#vulnerabilities-data
    .vulnerabilities-filter
      = render partial: 'vulnerabilities/filter'
    .vulnerabilities-datatable
      - if @vulnerabilities
        %table.table.table-striped#table
          %thead
            %tr
              %th.col-md-1 CVE ID
              %th.col-md-1 Severity
              %th.col-md-1 Date Published
              %th.col-md-3 Description
              %th.col-md-3 Versions Affected
          %tbody
            - @vulnerabilities.each do |vulnerability|
              %tr
                %td= vulnerability.cve_id
                %td= vulnerability.severity.titleize
                %td= vulnerability.published_on.to_s(:mdy)
                %td= vulnerability.description
                %td
                  .versions_affected= vulnerability.recent_releases
        .text-center
          = will_paginate @vulnerabilities
      - else
        .no_vulnerability= t('.no_vulnerability')

  .col-md-1
    &nbsp;
