:ruby
  content_for(:html_title) { t('.page_title', name: @project.name) }
  page_context[:select_top_menu_nav] = 'select_projects'
  page_context[:select_footer_nav] = :project_summary

- content_for :twitter_card do
  %meta{ content: 'summary', name: 'twitter:card' }
  %meta{ content: '@Open Hub', name: 'twitter:site' }
  %meta{ content: @project.name, name: 'twitter:title' }
  %meta{ content: project_twitter_description(@project, @analysis), name: 'twitter:description' }
  - if @project.logo
    %meta{ content: @project.logo.attachment.url(:med), name: 'twitter:image' }
  %meta{ content: 'https://www.openhub.net', name: 'twitter:domain' }

%div.separator-div
  = project_analysis_timestamp(@project)

.clear
= render partial: 'projects/show/is_a_duplicate', locals: { project: @project }

.row.row-eq-height.margin_top_two.project_row
  .col-md-4.project_summary_container
    .well
      %h4.text-left= t('.project_summary')
      - size_breach = project_description_size_breached?(@project)
      %section#project_summary{ itemprop: 'description', class: ('vertical_scroll_bar' if size_breach) }
        - if @project.description.present?
          = simple_format @project.description.strip_tags
        - else
          = t('.no_description')
          = link_to t('.add_description'), edit_project_path(@project)

      %section#project_tags{ itemscope: '', itemtype: 'http://schema.org/CreativeWork' }
        %h4.title= tag_icon_link(@project)
        %p.tags
          %span
          - tags = @project.tag_list.split(' ')
          - if tags.any?
            = tag_links(tags)
          - else
            = t('.no_tags')
            - if @project.edit_authorized?
              = link_to t('.add_tags'), project_tags_path(@project)
      - if @project.project_badges.active.present?
        %section#project_badges
          %h4.title= link_to t('project_badges.index.title'), project_project_badges_path(@project)
          = show_badges
          = more_badges_link

  .col-md-4.nutshell_container
    .well
      - p_name = truncate_project_name(@project.name, false, 40)
      %h4.nutshell_heading!= t('.in_a_nutshell', name: @project.name.length > 40 ? p_name : p_name + '...')
      - if @analysis.present?
        = render 'projects/show/factoids'
      - else
        = render partial: 'projects/show/no_analysis_summary'
  .col-md-4.quick_reference_container
    .well
      = render partial: 'projects/show/quick_reference'

.row.mezzo
= render partial: 'projects/show/coverity'

.row.mezzo
= render partial: 'projects/show/licenses'

.row.mezzo.project_row
.project_security
  = render partial: 'projects/show/security'

.row.mezzo
- if @analysis.blank?
  .analysis_blank_container
    .row.project_row
      .col-md-12.blank_message_container
        .col-md-8.analysis_alert_container
          = render partial: 'projects/show/no_analysis_summary'
        .col-md-4#proj_rating= render 'projects/show/community_rating', title: t('.community_rating'), score: @score
        - if @project.enlistments.empty? && @analysis.blank?
          = image_tag('sample_ohloh_analysis.jpg', class: 'col-md-12')
- else
  = render partial: 'projects/show/analysis_summary'
