:ruby
  content_for(:html_title) { t('projects.html_title', name: @project.name, title: t('.page_title')) }
  page_context[:select_top_menu_nav] = 'select_projects'
  page_context[:select_footer_nav] = :users

%div
  %h2.pull-left= t('.users')
  = project_analysis_timestamp(@project)

.clearfix

- if params[:query].nil? && @accounts.none?
  = render 'shared/alert', message: t('.no_users')
- else
  = render partial: 'shared/search_dingus', locals: { collection: @accounts, sort_context: :project_users }

- @accounts.each do |account|
  .row.margin_bottom_25
    .col-md-12
      .col-md-3
        .avatar
          = link_to avatar_img_for(account.person), avatar_path(account.person)
          .avatar_name
            %h4.nomargin= link_to h(account.person.person_name), avatar_path(account.person)
          .margin_left_50.small!= stack_name(account)
      .col-md-6
        %h6.soft.margin_top_0= t('.contributions')
        = render partial: '/projects/person_contribution', locals: { person: account.person }
      .col-md-2.kudo_rank.pull-right
        %h6.soft.margin_top_0= t('.kudo_rank')
        = avatar_small_laurels(account.person.kudo_rank)

= will_paginate @accounts
