- content_for(:html_title) { t('.page_title', name: @parent.name) }
- page_context[:select_footer_nav] = nil
= javascript_include_tag 'permissions.js'

.project_content_title
  %h2.float_left
    = link_to t(:settings), [:settings, @parent]
    &#58; #{t('permissions.permissions')}
  = project_analysis_timestamp(@project) if @project

.row
  .col-sm-6.col-xs-12
    .well
      - url = polymorphic_path([:permissions, @parent])
      = form_for @permission, as: :permission, url: url, html: { method: :put, id: 'permission_show' } do |f|
        %fieldset
          = hidden_field_tag 'permission[baseline_remainder]', @permission.remainder.to_s
          .control-group
            %label.control-label= t 'permissions.show.settings_may_be_changed_by'
            .controls
              %label.radio{ style: 'padding-top: 7px;' }
                = f.radio_button :remainder, 'false', disabled: !current_user_can_manage?
                = t 'permissions.show.everyone'
              %p.help-block= t 'permissions.show.anyone_can_edit_settings'
              %label.radio{ style: 'padding-top: 5px;' }
                = f.radio_button :remainder, 'true', disabled: !current_user_can_manage?
                = t 'permissions.show.managers_only'
              %p.help-block
                - path = @parent.is_a?(Project) && project_managers_path(@parent)
                - path ||= list_managers_organization_path(@parent)
                - linky = link_to t('permissions.show.manager'), path, target: '_blank'
                != t 'permissions.show.only_an_approved_manager', linky: linky

          .actions
            - if current_user_can_manage?
              = submit_tag t(:save_changes), id: 'submit', class: 'btn-sm btn-primary', style: 'display: none'
            - else
              = disabled_button t(:save_changes), class: 'btn-primary'

%h4.nomargin
  %span.soft= t 'permissions.show.about_permissions_1'
  = t 'permissions.show.about_permissions_2'
.col-sm-12.col-xs-12
  %ul
    - parent_name = @parent.class.name
    %li= t 'permissions.show.help_1', name: parent_name
    %li= t 'permissions.show.help_2', name: parent_name.downcase
    %li= t 'permissions.show.help_3', upper_name: parent_name, name: parent_name.downcase
