:ruby
  content_for(:html_title) { t('projects.html_title', name: @project.name, title: t('.page_title')) }
  page_context[:select_top_menu_nav] = 'select_projects'
  page_context[:select_footer_nav] = :project_security

%div
  = project_analysis_timestamp(@project)

.col-md-10.col-md-offset-2
.row
  .col-md-1
    &nbsp;
  .col-md-10
    .row
      %h2= t('.security')
    .row
      %h3{ style: 'font-weight: normal; font-size: 1.4em;' }= t('.vulns_per_version')
      = link_to 'Learn more about BDSAs', 'https://www.blackduck.com/blog/black-duck-security-advisories-benefits.html', class: 'btn btn-primary learn-more btn-sm pull-right', target: '_blank'
  .col-md-1
    &nbsp;
.row
  .col-md-1
    &nbsp;
  .col-md-10
    - if @best_security_set && @releases.present?
      - chart_data = Vulnerability::AllVersionChart.new(@release_history, @bdsa_visible).data
      .row
        %h4.pull-left= t('.major_versions')
        .pull-left
          - select_opts = options_for_select(major_releases(@releases, @project), filter_major_version_param)
          - html_release_opts = { include_blank: 'All',
                          style: 'max-width: 30%; margin-left: 10px',
                          data: { releases: @release_history.to_json, bdsa_visible: @bdsa_visible }, class: 'vulnerability_main_filter' }
          = select_tag 'vulnerability_filter_major_version', select_opts, html_release_opts
        .pull-right.btn-toolbar{ 'aria-label' => '...', :role => 'group', style: 'margin-top: 17px' }
          = release_timespan_widget
      .row
        .pull-right
          .h6= t('.click_and_zoom')
        .watermark440#vulnerability_all_version_chart{ data: { chart: chart_data.to_json } }
    - else
      %p.text-center= t('.no_vulnerability')
  .col-md-1
    &nbsp;

.row
  .col-md-12#vulnerability-chart-divider
    .mezzo.margin_bottom_5

.row
  .col-md-1
    &nbsp;
  .col-md-10#vulnerabilities-data{ "data-source": security_project_path(@project) }
    .row
      .vulnerabilities-filter
        = render partial: 'version_filter'
      .vulnerabilities-datatable
        = render partial: 'vulnerability_table'
  .col-md-1
    &nbsp;
