- page_context[:select_footer_nav] = nil
- content_for(:html_title) { t('.page_title', name: @project.name) }

.project_content_title
  %h2.float_left
    = link_to t(:settings), settings_project_path(@project)
    \:
    = link_to t('links.title').pluralize, project_links_path(@project)
    = %( : #{ t('new') })
  = project_analysis_timestamp(@project)

.clear

.well.col-md-8.col-md-offset-1
  = form_for([@project, @link]) do |f|
    = render 'fields', f: f

.clear
= render partial: 'about_links'
