%tr
  %th
    .label_1{ valign: 'top' }
      - if [:mostly_written, :project_codebase_cost].include?(opts[:help])
        = blog_link_to(link: opts[:help], link_text: label)
      - else
        = label
        - if opts[:graph] && @projects.select { |p| p && p.best_analysis_id }.any?
          %br
          = link_to(t('compares.view_as_graph'), compare_graph_projects_url(opts[:graph]), remote: true)
          .modal.fade#graphModal
            .modal-dialog
              .modal-content
                .modal-header
                  %button.close{ 'data-dismiss' => 'modal', :type => 'button' }
                    %span{ 'aria-hidden' => 'true' } ×
                    %span.sr-only Close
                  %h4.modal-title#myModalLabel= t('.project_comparison_graph')
                .modal-body
                  .panel.panel-default
                    .panel-body
                      #chartContainer
  - @projects.each do |project|
    %td.col-xs-3.col-sm-3.col-md-3{ valign: 'top', style: 'padding-top: 5px;' }
      - if project
        != render partial: "compares/project_cells/#{cell}", locals: { project: project }
      - else
        &nbsp;
