- is_last = api_key_counter == @models.length - 1
.row
  .well.span11{:class => "#{'no_margin_bottom' if (api_key_counter == @models.length - 1)}"}
    %h4.float_left.nomargin= api_key.name || t('api_keys.untitled_application')
    %h5.float_right.timestamp.no_margin_bottom
      %i.icon-time &nbsp;
      = t 'api_keys.created_ago', ago: time_ago_in_words(api_key.created_at)
      ,
      - if api_key.last_access_at
        = t 'api_keys.last_accessed_at', ago: time_ago_in_words(api_key.last_access_at)
      - else
        = t 'api_keys.hasnt_been_used_yet'
    %p.clear_both
      %small= api_key.description

    .span6#api_key_basic_info
      = t('api_keys.api_key_label_2', key: html_escape(api_key.key)).html_safe
      %br
      = t('api_keys.oath_secret_2', secret: (api_key.secret ? html_escape(api_key.secret) : t('api_keys.none'))).html_safe
      - unless api_key.url.to_s.empty?
        %br
        %strong= t('api_keys.home_page_url')
        = link_to api_key.url, api_key.url, :target => '_blank'
        %i.icon-external-link
        %p

    .span4#api_key_request_info
      %h4.nomargin.no_margin_left.span5
        - label_class, icon_class, status, status_appendix = case api_key.status
          - when ApiKey::STATUS_OK
            - ['ok', 'icon-ok', t('api_keys.status_active'), t('api_keys.can_be_used')]
          - when ApiKey::STATUS_LIMIT_EXCEEDED
            - ['limit-exceeded', 'icon-warning-sign', t('api_keys.status_limit_exceeded'), t('api_keys.cannot_be_used_now')]
          - when ApiKey::STATUS_DISABLED
            - ['disabled', 'icon-ban-circle', t('api_keys.status_disabled'), t('api_keys.cannot_be_used_ever')]
        %span.status
          %label.api-key-status{class: label_class}
            != status
            %i{class: icon_class}
        %small.soft= status_appendix
      %h4.nomargin!= t('api_keys.requests_all_time_view', count: api_key.total_count.to_i)
      %h4.nomargin!= t('api_keys.requests_daily_view', count: api_key.daily_count.to_i)
      %h4.nomargin!= t('api_keys.requests_daily_limit_view', count: api_key.daily_limit.to_i)
    .clear

    .span4
      %a.btn.btn-small.btn-primary{href: edit_account_api_key_path(api_key.account, api_key)}
        %i.icon-pencil= t 'api_keys.edit_api_key'
    .clear
