- terms_link = blog_link_to(link: :terms, link_text: t('api_keys.terms_link'))
- terms_2_link = blog_link_to(link: :additional_terms, link_text: t('api_keys.terms_2_link'))
- contacts_link = blog_link_to(link: :contact_form, link_text: t('api_keys.contacts_link'))
- settings_link = link_to(t(:settings), settings_account_path(@account))
- account_api_keys_link = link_to(t(:api_keys_title), account_api_keys_url(@account))
%h2!= "#{settings_link} : #{account_api_keys_link} : #{@meta_title}"

= form_for(@model, as: :api_key, :url => url, :html => {:method => http_method, :id => 'api_key_form'}) do |f|
  %div.span11.center-block.well
    %fieldset
      .control-group
        %label.control-label.required= t 'api_keys.form.application_name'
        .controls
          = f.text_field :name, :max_length => 50, :class => 'span7'
          - error_tag @model, :name

      .control-group
        %label.control-label= t 'api_keys.form.home_page_url'
        .controls
          = f.text_field :url, :max_length => 50, :class => 'span7'
          - error_tag @model, :url
          %p.help-block= t 'api_keys.form.home_page_url_info'

      .control-group
        %label.control-label.required= t 'api_keys.form.description'
        .controls
          = f.text_area :description, :rows => 10, :max_length => 2000, :class => 'span7'
          - error_tag @model, :description
          %p.help-block= t 'api_keys.form.description_info'

      - if current_user_is_admin?
        .control-group
          %label.control-label= t 'api_keys.form.daily_request_limit'
          .controls
            = f.text_field :daily_limit, :max_length => 10, :class => 'span4'
            - error_tag @model, :daily_limit
          %p.help-block= t 'api_keys.form.daily_request_limit_admin'
      - else
        .control-group
          %label.control-label
            = t 'api_keys.form.daily_request_limit'
            = ":"
            = @model.daily_limit || current_object.class::DEFAULT_DAILY_LIMIT
          %p.help-block= t 'api_keys.form.daily_request_limit_user', default_daily_limit: @model.class::DEFAULT_DAILY_LIMIT
      - if @model.new_record?
        .control-group
          %label.checkbox#request_limit
            = f.check_box :terms
            != t 'api_keys.form.agree_to_terms', terms_link: terms_link, terms_2_link: terms_2_link
          - error_tag @model, :terms
      .actions
        %input.btn.btn-primary.btn-small{:type => 'submit', :value => t(:save_changes)}
        %a.btn{href: request.referrer || account_api_keys_path(@account)}= t :cancel
        - unless @model.new_record?
          %a.btn.btn-small.btn-danger{href: account_api_key_path(@account, @model), method: :delete, confirm: t('api_keys.form.delete_confirm')}
            %i.icon-trash= t 'api_keys.form.delete'

%h4.nomargin.no_padding_one_top
  %span.soft= t :about
  = t :api_keys_title
.span5
  %ul
    %li!= t('api_keys.help_1', terms_link: terms_link, terms_2_link: terms_2_link)
    %li= t('api_keys.help_4')
    %li= t('api_keys.help_5')
.span5
  %ul
    %li= t('api_keys.help_6')
    %li!= t('api_keys.help_7', contacts_link: contacts_link)
