- content_for(:html_title) { t :api_keys_title }

%h3.float_left
  = @meta_title
  %a.link_no_underline{ title: t('.download_as_csv'), href: api_keys_path(format: :csv) }= t('api_keys.download_as_csv')

= render partial: 'shared/search_dingus', locals: { collection: @api_keys, sort_option_name: :api_keys }
.clear_both

.api_keys
  - if !@api_keys.empty?
    = render partial: 'admin_api_key', collection: @api_keys, as: 'api_key'
    = will_paginate @api_keys
  - elsif !params[:query].blank?
    .alert.alert-info
      %a.close{ href: '#', 'data-dismiss' => 'alert' } x
      %i.icon-info-sign!= '&nbsp;'
      = t(:no_matches)
