- content_for(:html_title) { t(:api_keys_account_title, name: @account.name) }
- page_context[:select_footer_nav] = :settings

%h2.float_left
  = link_to(t(:settings), settings_account_path(@account))
  &nbsp;:&nbsp;
  = t('api_keys_title')
.clearfix

.api_keys
  - unless @api_keys.empty?
    = render partial: 'api_key', collection: @api_keys
    = will_paginate @api_keys
- if @api_keys.size < ApiKey::KEY_LIMIT_PER_ACCOUNT
  %a.btn.btn-primary.btn-small.margin_top_10{ href: new_account_api_key_path(@account) }= t('api_keys.request_new')

%h4.margin_top_20.margin_bottom_0
  %span.soft= t(:about)
  = t('api_keys_title')
.col-md-6
  %ul.padding_left_30
    - terms_link = blog_link_to(link: :terms, link_text: t('api_keys.terms_link'))
    - terms_2_link = blog_link_to(link: :additional_terms, link_text: t('api_keys.terms_2_link'))
    - url = 'https://github.com/blackducksoftware/ohloh_api#ohloh-api-documentation'
    - getting_started_link = link_to(t('api_keys.getting_started_link'), url, target:'_blank')
    %li!= t('api_keys.help_1', terms_link: terms_link, terms_2_link: terms_2_link)
    %li!= t('api_keys.help_2')
    %li!= t('api_keys.help_3', getting_started_link: getting_started_link)
