- fact = @contribution.contributor_fact

%h4= t('.project_commits')
.col-md-10.center-block
  - if fact.commits.to_i > 0
    #timeline{ project_id: "#{contribution.project_id}", name_id: "#{fact.name_id}", date: fact.last_checkin.to_s }
    %p.right.soft.small
      = t('.approximately')
  - else
    %p.inset_middle= t('.no_commits')
