:ruby
  most_committed_project = language_fact.most_commits_project
  recent_project = language_fact.recent_commit_project
  language = language_fact.language
  language_color = "background-color: ##{language_color(language.name)};"
  language_text_color = "color: ##{language_text_color(language.name)}"

%tr.language_row{ class: cycle('even', 'odd') }
  %td
    .lang_bg{ itemscope: '', itemtype: 'http://schema.org/Language', style: language_color }
      %span{ itemprop: 'name' }
        = link_to language.nice_name.titleize, language_path(language),
        class: 'language_name', style: language_text_color
  %td.center= distance_of_time_in_words_to_now(language_fact.total_months.to_i.months.ago)
  %td.center= number_with_delimiter(language_fact.total_commits)
  %td.center= number_with_delimiter(language_fact.total_activity_lines)
  %td.left
    - if most_committed_project
      = most_committed_project.decorate.icon(:small, width: 24)
      &nbsp;
      = link_to truncate(most_committed_project.name, length: 16), project_path(most_committed_project)
      &nbsp;
      - project_activity_level_class(most_committed_project, :fifteen)
  %td.center
    - if most_committed_project
      - contribution = @contributions[most_committed_project.id].try(:first)
      - if contribution
        = link_to language_fact.most_commits, project_contributor_path(most_committed_project, contribution)
  %td
  %td.left
    - if recent_project
      = recent_project.decorate.icon(:small, width: 24)
      &nbsp;
      = link_to truncate(recent_project.name, length: 16), project_path(recent_project)
      &nbsp;
      - project_activity_level_class(recent_project, :fifteen)
  %td.center
    - if recent_project
      - contribution = @contributions[recent_project.id].try(:first)
      - if contribution
        = link_to language_fact.recent_commit_month.to_s(:by), project_contributor_path(recent_project, contribution)
