- page_context[:select_footer_nav] = :contributors

- content_for :html_title do
  = succeed t('.page_title') do
    = @project.name

.project_content_title
  %h2.pull-left
    = link_to t('.contributors').html_safe, summary_project_contributors_path(@project)
    = t('.listing').html_safe
  = project_analysis_timestamp(@project)
  .clearfix

- if @project.best_analysis.present?
  = render partial: 'contributions', locals: { contributions: @contributions, search_bar: true }
- else
  = render partial: 'projects/show/no_analysis_summary', locals: { analysis: @project.best_analysis }

= will_paginate @contributions
