- page_context[:select_footer_nav] = :contributors

- content_for :html_title do
  = succeed t('.page_title') do
    = @project.name

.project_content_title
  %h2.pull-left
    = link_to t('.contributors').html_safe, summary_project_contributors_path(@project)
    = t('.listing').html_safe
  .clearfix

- if @project.best_analysis.present?
  = render 'shared/search_dingus/commits_or_contributor_search', items: @contributions, type: :contributions, total_count: @contributions.total_entries
  = render partial: 'contributions', locals: { contributions: @contributions }
  = will_paginate @contributions
- else
  = render partial: 'projects/show/no_analysis_summary', locals: { analysis: @project.best_analysis }

