:ruby
  committer_name = h(@contribution.person.effective_name)
  account = @contribution.person.account
  fact = @contribution.contributor_fact
  page_context[:select_footer_nav] = :contributors

- content_for :custom_head do
  = javascript_include_tag('/timeline/timeline-api.js')

- content_for :html_title do
  = succeed t('.page_title') do
    = @project.name
  = committer_name

%h2.pull-left.contributor_name.margin_top_20
  = succeed ' : ' do
    = link_to t('.contributors'), summary_project_contributors_path(@project)
  = committer_name

= project_analysis_timestamp(@project)

.clearfix

= render partial: 'contributions/show/activity', locals: { committer: committer_name, account: account, fact: fact }

.col-md-3.pull-right
  %h4.margin_top_15= t('.recent_kudos')
  %p
    = t('.given_by', name: @project.name)
  - @recent_kudos.each do |kudo|
    %p.nomargin.margin_left_15
      = link_to h(kudo.sender.name), account_url(kudo.sender), id: "kudo_received_link_#{kudo.sender.login}"
      = image_tag "icons/tn_laurel_#{kudo.sender.kudo_rank}.png", alt: "KudoRank #{kudo.sender.kudo_rank}"
      - unless kudo.message.blank?
        %p.margin_left_25{ id: "kudo_received_#{kudo.sender.login}" }
          "#{kudo.message}"

  - if @recent_kudos.empty?
    %p.margin_left_15
      = t('.no_kudos')

  .padding_one_top
  = render partial: 'contributions/show/kudo_button', locals: { contribution: @contribution } if fact.present?
.clearfix

.col-md-12
  = render partial: 'contributions/show/unclaimed_position', locals: { contribution: @contribution }

.col-md-12
  = render partial: 'commits_timeline', locals: { contribution: @contribution }

.col-md-12
  = render partial: 'contributions/show/languages', locals: { contribution: @contribution, name_fact: fact }
