%meta{ name: 'ROBOTS', content: 'NOINDEX, NOFOLLOW' }
- content_for(:html_title) { t('.page_title') }

#tag-cloud-page
  .row.margin_left_30
    .col-md-10
      %h1.margin_bottom_20= t('.tags')

      .oh-card.tag-cloud-search-card
        .tag-cloud-help
          %p= t('.help1')
          %p.margin_bottom_0= t('.help2')

        %form.autocomplete-submit.margin_top_20{ rel: 'tag_jump' }
          %fieldset
            .control-group
              %label.control-label{ for: 'input_tag' }= t('.input_label')
              .controls
                %input.text.tag_autocomplete.autocompletable.form-control#input_tag{ type: :text,
                  data: { source: '/autocompletes/tags', select: 'submitForm' } }
                %p.help-block= t('.input_hint')

      .oh-card.tag-cloud-list-card
        .tag-cloud-grid
          - @tags.each do |tag|
            %a.tag-cloud-item{ href: tags_path(names: tag.name) }
              = tag.name
              %span.tag-cloud-count= "(#{tag.taggings_count})"
        .margin_top_20
          = render 'shared/modern_pagination', collection: @tags
