%meta{ name: 'ROBOTS', content: 'NOINDEX, NOFOLLOW' }
- content_for(:html_title) { t('.page_title') }
- content_for :javascript do
  = javascript_tag "$(document).on('page:change', JumpToTag.init);"

.tags
  %h1.margin_bottom_20.margin_top_20= t('.tags')

  .col-md-10
    %p= t('.help1')
    %p= t('.help2')

  %form.col-md-10{ rel: 'tag_jump' }
    %fieldset
      .control-group
        %label.control-label= t('.input_label')
        .controls
          %input.text.tag_autocomplete.autocompletable#input_tag{ type: :text }
          %p.help-block.margin_bottom_25= t('.input_hint')

  .col-md-12
    - @tags.each do |tag|
      %span.col-md-2
        %a.tag.add{ href: tags_path(names: tag.name) } #{tag.name}&nbsp;(#{tag.taggings_count})
    = will_paginate @tags
