%meta{ name: 'ROBOTS', content: 'NOINDEX, NOFOLLOW' }
- names = params[:names].split.flatten
- content_for(:html_title) { t('.page_title', names: names.collect { |n| "'#{n}'" }.to_sentence) }
- content_for :session_projects_banner do
  #sp_menu
    = render 'session_projects/menu'
#tag-index-page
  .row.margin_left_30
    .col-md-11

      .tag-index-header
        %h1
          %a.tag-index-breadcrumb{ href: tags_path }= t('.tags')
          %span.tag-index-breadcrumb-sep /
          = t('.browse_projects')
        .tag-index-pills
          - names.each do |name|
            %span.tag-index-pill= name

      .oh-card.tag-index-body
        - if @projects.any?
          %p.tag-index-hint= t('.select_a_tag')
        - else
          .tag-index-empty
            %p= t('.no_projects', names: names.to_sentence)
            %a.btn.btn-default{ href: tags_path }= t('.browse_tags')

        = render partial: 'shared/search_dingus', locals: { collection: @projects, search_type: :tags, tags: @related_tags }

        #projects_index_list
          - if @projects.any?
            = render partial: 'projects/project_index', collection: @projects,
                    locals: { compare: true, show_active_committers: true }
            = render 'shared/modern_pagination', collection: @projects
