- content_for(:html_title) do
  = t('.edit_password_title', account: @account.name)

%h2= t('.settings_password_html', href: link_to(t('.settings'), settings_account_path(@account)))
.well.col-xs-12.col-sm-12.col-md-5
  = form_for(@account, url: alter_password_edit_account_path) do |f|
    %fieldset
      %legend.margin_left_30
        = t('.change_your_password')
      .control-group.center_form_position
        %label.required.strong= t('.current_password')
        .controls
          = f.password_field :current_password, class: 'input-xlarge'
          - password_error_tag @account, :current_password
          %p.help-block
            = t('.your_current_password')
      .control-group.center_form_position
        %label.required.strong= t('.new_password')
        .controls
          = f.password_field :password, class: 'input-xlarge'
          - password_error_tag @account, :password
          %p.help-block
            = t('.your_new_password')
      .actions.margin_left_30
        = submit_tag(t('.update_password'), class: 'btn btn-primary btn-small')
.col-md-6
  %h4
    .soft.inline= t('.about')
    = t('.password')
  %ul.margin_left_40
    %li= t('.openhub_foss_resume')
    %li= t('.password_specifications')
    %li= t('.confirmation_email')
