- content_for(:html_title) do
  = t('.edit_password_title', account: @account.name)

%h2.alter-password-heading
  = link_to t('.settings'), settings_account_path(@account)
  = ' : '
  %span.account-basics-title= t('.password')
.oh-card.col-md-7#alter-password-form
  = form_for(@account, url: alter_password_edit_account_path) do |f|
    %fieldset
      %legend.margin_left_30
        = t('.change_your_password')
      .control-group.center_form_position
        = f.label :current_password, t('.current_password'), class: 'required strong'
        .controls
          = f.password_field :current_password, class: 'form-control'
          - password_error_tag @account, :current_password
          %p.help-block
            = t('.your_current_password')
      .control-group.center_form_position
        = f.label :password, t('.new_password'), class: 'required strong'
        .controls
          = f.password_field :password, class: 'form-control'
          - password_error_tag @account, :password
          %p.help-block
            = t('.your_new_password')
      .actions.margin_left_30
        = submit_tag(t('.update_password'), class: 'btn btn-primary btn-small')
.about-account-basics-card.alter-password-about
  .card-header
    %h4.card-title
      %span.soft= t('.about')
      = t('.password')
    %button.expand-toggle{ type: 'button', 'aria-label' => 'Expand about section' }
      %i.fa.fa-chevron-down

  .card-content
    .about-content-wrapper
      .col-md-6
        %ul
          %li= t('.openhub_foss_resume')
          %li= t('.password_specifications')
      .col-md-6
        %ul
          %li= t('.confirmation_email')
