- content_for(:html_title) { t('passwords.title') }

.col-md-12
  %h3= t('passwords.title')

  - if flash[:notice]
    .alert.alert-info= flash[:notice]

  .row
    .col-md-7
      .well
        = form_for :password, url: passwords_path do |f|
          %fieldset
            .form-group
              %label.control-label.required= t('email_address')
              .controls
                = f.text_field :email, type: :email
                - error_tag @password, :email
                %p.help-block= t('.enter_email_address')

            .actions
              = f.submit t('.submit_text'), class: 'btn btn-primary'
