%h4.nomargin
  %col-md.soft= t('about')
  = t('.title')
.col-md-5
  %ul.margin_left_20.margin_top_10
    %li= t('.first')
    %li= t('.second')
    %li= t('.third')
.col-md-5
  %ul.margin_left_20.margin_top_10
    %li= t('.fourth')
