%h4.nomargin
  %col-md.soft= t('about')
  = t('.title')
.margin_top_10
  .col-md-5
    %ul.margin_left_20
      %li= t('.first')
      %li= t('.second')
  .col-md-5
    %ul.margin_left_20
      %li= t('.third')
      %li= t('.fourth')
