:ruby
  if @organization
    content_for(:html_title) { t('.meta_title') }
    page_context[:select_top_menu_nav] = 'select_organizations'
  else
    page_context[:select_top_menu_nav] = 'select_projects'

.project_content_title
  %h2.pull-left
    = link_to t(:settings), settings_parent_path(@parent)
    = t('.heading')
  - unless @organization
    = project_analysis_timestamp(@parent)

.row
  .col-md-10.col-md-offset-1
    .well
      = form_for [@parent, @logo], html: { multipart: true } do |f|
        = render partial: 'fields', locals: { f: f }
      .clear
        &nbsp;

- if @project
  = render partial: 'about_logos'
- elsif @organization
  = render partial: 'about_organization_logos'
