- if @organization
  - content_for(:html_title) { t('.meta_title') }
-# else
  -# @meta_title_final = project_pages_title(t('.page_title'))
.project_content_title
  %h2.float_left
    = link_to t(:settings), settings_parent_path(@parent)
    = t('.heading')
  - unless @organization
    = project_analysis_timestamp(@parent)

.row
  .col-md-10.col-md-offset-1
    .well
      = form_for [@parent, @logo], html: { multipart: true } do |f|
        = render partial: 'fields', locals: { f: f }
      .clear
        &nbsp;

- if @project
  = render partial: 'about_logos'
- elsif @organization
  = render partial: 'about_organization_logos'
