- page_context[:select_top_menu_nav] = @organization ? 'select_organizations' : 'select_projects'
- page_context[:select_footer_nav] = :settings

.project_content_title
  %h2.pull-left
    = link_to t(:settings), settings_parent_path(@parent)
    = t('.heading')
  - unless @organization
    = project_analysis_timestamp(@parent)

.row
  .col-md-10.col-md-offset-1
    .well
      - path = @parent.is_a?(Project) ? project_logos_path(@parent) : organization_logos_path(@parent)
      = form_for @logo, url: path, html: { multipart: true } do |f|
        = render partial: 'fields', locals: { f: f }
      .clearfix
        &nbsp;

- if @project
  = render partial: 'about_logos'
- elsif @organization
  = render partial: 'about_organization_logos'
