%h4.margin_top_20
  %span.soft= t('.about_1')
  = t('.about_2')
.col-md-9
  %p= t('.about_txt')
  %p= t('.example')
  .col-md-9
    %ul.margin_left_25
      %li= t('.url_1')
      %li= t('.url_2')
      %li= t('.url_3')
