.well{ style: "#{Account::Access.new(post.account).admin? ? 'background: #D5E3E9;' : 'background: #e3e3e3'}" }
  / TODO: This code on line 5 causes an encoding issue and relates to ticket OTWO-3419
  / for BlueCloth.
  = String.clean_string(post.body)
  .clearfix.margin_top_10
    .col-md-3.pull-right
      .pull-left
        %a= avatar_img_for post.account, 42
      .pull-left.margin_left_5
        %a.avatar_name{ href: account_path(post.account) }
          = truncate(h(post.account.name), length: 18)
        %small.date.avatar_name
          = t('.replied_ago', date: time_ago_in_words(post.created_at))
    - if (current_user.id == post.account_id) || (current_user_is_admin?)
      .btn.btn-info.btn-mini#post_edit
        .icon-pencil= link_to t('.edit_post'), edit_topic_post_path(post.topic, post),
        id: 'post_edit_specifications'
    .clear
.row
  &nbsp;
