- @posts.each do |post|
  .well{ style: "#{Account::Access.new(post.account).admin? ? 'background: #D5E3E9;' : ''}" }
    / TODO: Look more deeply into stripping tags. The below code removes almost all html except for
    / stars. Ask Peter about markdown for this.
    = String.clean_string(post.body)
    .clearfix.margin_top_10
      .col-md-3.pull-right
        .pull-left
          %a= avatar_img_for post.account, 42
        .pull-left.margin_left_5
          %a.avatar_name{ href: account_path(post.account) }
            = truncate(h(post.account.name), length: 18)
          %small.date.avatar_name
            = time_ago_in_words(post.created_at)
      - if (current_user.id == post.account_id) || (current_user_is_admin?)
        %p= link_to t('.edit_post'), edit_topic_post_path(post.topic, post), class: 'btn btn-mini btn-info'
      .clear
  .row
    &nbsp;
