.well#posts_index
  .col-md-8
    %h4.margin_top_0
      = link_to posts.topic.forum.name, forum_path(posts.topic.forum)
      \:
      = link_to posts.topic.title, topic_path(posts.topic)
      / TODO: Another markdown/blueCloth issue that will need to be addressed.
      / %p= expander(strip_tags(format_text(posts.body)), 200, 250)
      / TODO: Fix text size
      %p.margin_top_15= expander(strip_tags(posts.body), 200, 250)
  .col-md-3
    .float_left
      %p= t('.views')
      %p= t('.author')
      %p= t('.posted')
    .float_right{ style: 'margin-top: -12px' }
      %p{ style: 'font-size: 23px' }= posts.topic.hits
      %p= link_to posts.account.login, account_path(posts.account)
      %p= t('.posted_ago', date: time_ago_in_words(posts.created_at))
  .clear_both
