- if logged_in? 
  - if flash[:bad_reply]
    %p{ style: 'color: red' }= flash[:bad_reply]

  .row
    .col-md-9.pull-left
      %h3= t('.post_a_response')
      = form_for Post.new, url: topic_posts_path(@topic) do |f|
        = render partial: 'posts/fields', locals: { f: f }
    .col-md-2.pull-right.margin_top_15
      = render 'shared/markdown_help'

- else
  %h3= t('.post_a_response')
  = render 'posts/sign_in'