%h1.margin_bottom_20
  = link_to t('.forums'), forums_url
  \:
  %a{ href: forum_path(@post.topic.forum) }= @post.topic.forum.name
.clear
.row
  .col-md-8.float_left
    %h2= t('.edit_post')
  .float_right
    - if current_user_is_admin?
      %h2
        .float_right.btn-group
          = button_to t('.spam'), make_spammer_account_path(@post.account), method: :post,
            data: { confirm: t('.spam_confirmation'), user: @topic.posts.first.account.name },
            class: 'btn btn-small btn-warning'
          = button_to t('.delete'), topic_post_path(@topic, @post), method: :delete,
            data: { confirm: t('.delete_confirmation') }, class: 'btn btn-danger btn-small'

.well.col-md-11
  .col-md-9
    = form_for([@topic, @post], url: topic_post_path(@topic, @post), html: { method: 'put' }) do |f|
      = render partial: 'fields', locals: { f: f }
  .col-md-2.no_margin_left{ style: 'margin-top: -10px' }
  = render partial: 'shared/markdown_help'
