- content_for(:html_title) { @account ? t('.openhub_posts_for_account', name: @account.name) : t('.openhub_posts') }

- if @account
  - account_post_context
  - page_context[:select_footer_nav] = :posts
  .mezzo
  %h1= t('.posts')
  - if @account.posts.count == 0
    #no-posts= t('.no_posts')
  - else
    = render partial: '/forums/notice'
    = render partial: 'shared/search_dingus', locals: { collection: @posts, sort_context: :posts }
    = render partial: 'posts/posts', collection: @posts
    = will_paginate @posts
- else
  %h1
    = link_to t('.forums'), forums_path
    \:
    = t('.posts')
  = render partial: '/forums/notice'
  = render partial: 'shared/search_dingus', locals: { collection: @posts, sort_context: :posts }
  = render partial: 'posts/posts', collection: @posts
  = will_paginate @posts
