:ruby
  content_for(:html_title) { t('.page_title', name: @project.name) }
  page_context[:select_top_menu_nav] = 'select_projects'
  page_context[:select_footer_nav] = :settings
  remaining_tags = Tag::MAX_ALLOWED_PER_PROJECT - @project.tags.length

#project-tags-page
  .project-tags-header
    %h2.project-tags-title
      = link_to t(:settings), settings_project_path(@project)
      %span.project-tags-title__sep &rsaquo;
      = t('.tags')

  .row
    .col-md-6.col-sm-6.col-xs-12
      .oh-card
        %h3.project-tags-card-title= t('.tags_for', name: truncate_project_name(@project.name, 43))
        %p.project-tags-left!= tags_left(remaining_tags)
        .project-tags-current#current_tags
          - @project.tags.sort { |a, b| a.name <=> b.name }.each do |tag|
            %a.project-tag{ tagname: tag.name, class: @project.edit_authorized? ? 'delete tag_remove' : '', href: 'javascript:void(0)', role: 'button', aria: { label: "#{tag.name}#{@project.edit_authorized? ? ' – remove tag' : ''}" } }
              = tag.name
              - if @project.edit_authorized?
                %i.icon-remove.project-tag__remove
            %span.hidden{ tagname: tag.name }
              = image_tag 'spinner.gif', alt: ''

        %form#edit_tags.project-tags-form{ project_id: @project.id, project: @project.to_param,
                       style: remaining_tags > 0 ? '' : 'display: none;', rel: 'tag_edit' }
          %label.project-tags-form__label{ for: 'input_tags' }= t('.add_new_tag')
          .project-tags-form__row
            - if @project.edit_authorized?
              %input.form-control#input_tags{ type: :text, placeholder: t('.enter_tag_here'), aria: { label: t('.enter_tag_here') } }
            - else
              %input.form-control{ type: :text, placeholder: t('.enter_tag_here'), aria: { label: t('.enter_tag_here') }, disabled: true }
            - if @project.edit_authorized?
              %input.btn.btn-primary.project-tags-form__submit#submit{ type: 'submit', value: t('.save_tag') }
            - else
              = disabled_button t('.save_tag'), class: 'btn-primary project-tags-form__submit'
          %p.error.hidden#error &nbsp;
          %span.spinner.hidden= image_tag 'spinner.gif', alt: ''

    .col-md-6.col-sm-6.col-xs-12
      %h3.project-tags-section-title= t('.projects_with_similar_tags')
      #related_projects
        = render partial: 'related_projects'
      .hidden#related_spinner= image_tag 'spinner.gif', alt: ''

  .about-project-basics-card
    .card-header
      %h4
        %span.soft= t(:about)
        = t('.tags')
      %button.expand-toggle{ type: 'button', 'aria-label' => 'Expand about section' }
        %i.fa.fa-chevron-down

    .card-content
      .about-content-wrapper
        .col-md-5.padding_left_45
          %ul
            %li= t('.help1')
            %li= t('.help2', max: Tag::MAX_ALLOWED_PER_PROJECT)
            %li= t('.help3')
        .col-md-5
          %ul
            %li= t('.help4')
            %li= t('.help5')
            %li= t('.help6', max: Tag::MAX_ALLOWED_PER_PROJECT)
