%p
  = t('dear')
  = succeed ',' do
    = @user_who_needs_reply.name

%p
  = @user_who_replied.name
  = t('post_notifier.post_replied_notification.message')
  = succeed '.' do
    = link_to h(@topic.title), @topic

%p
  = succeed ':' do
    = t('post_notifier.post_begins')
  %br
  = @post.body.strip_tags.truncate(300)

= render 'mailers/sign_off', unsubscribe_emails_url: @unsubscribe_emails_url
