%h4.nomargin
  %span.soft= t(:about)
  #{t('.licenses')}
.col-md-5
  %ul{ style: 'padding: 15px;' }
    %li= t('.help1')
    %li= t('.help2')
.col-md-5
  %ul{ style: 'padding: 15px;' }
    %li= t('.help3')
    %li= t('.help4')
