:ruby
  content_for(:html_title) { t('.page_title', name: @project.name) }
  page_context[:select_top_menu_nav] = 'select_projects'
  page_context[:select_footer_nav] = nil

- content_for :header_title do
  .project_content_title
    %h2.pull-left
      = link_to t(:settings), settings_project_path(@project)
      &nbsp;:&nbsp;#{t('.licenses')}

= render partial: 'layouts/partials/alert'

#project-license-index-page
  .row
    .col-md-6
      .oh-card.margin_top_20
        .license-index-card-header
          %h3.license-index-card-title
            %i.fa.fa-certificate
            = t('.declared_licenses')
          = show_license_button(@project)

        - if @project_licenses.any?
          .license-list
            - @project_licenses.each do |project_license|
              .license-list-item
                .license-name
                  %i.fa.fa-file-text-o
                  = project_license.license ? project_license.license.name : ''
                .license-actions
                  - if @project.edit_authorized?
                    %a.btn.btn-sm.btn-danger.btn-remove-license{ href: project_license_path(@project, project_license),
                                                                  data: { method: :delete, confirm: t('.remove_confirm') } }
                      %i.fa.fa-trash
                      = t('.remove')
                  - else
                    = disabled_button bootstrap_icon('icon-trash', t('.remove')), class: 'btn-sm btn-danger'
        - else
          .license-empty-state
            %i.fa.fa-folder-open-o.license-empty-icon
            %p.license-empty-text= t('.no_licenses_for_project')

    .col-md-6
      = render partial: 'project_licenses/about'
