:ruby
  content_for(:html_title) { t('.page_title', name: @project.name) }
  page_context[:select_top_menu_nav] = 'select_projects'
  page_context[:select_footer_nav] = nil

- content_for :header_title do
  .project_content_title
    %h2.pull-left
      = link_to t(:settings), settings_project_path(@project)
      &nbsp;:&nbsp;#{t('.licenses')}
    = project_analysis_timestamp(@project)

- flash.now[:notice] = t('.no_licenses_for_project') if @project_licenses.empty?

.clearfix

- if @project_licenses.any?
  .declared_licenses
    .col-md-7.well.col-md-offset-2
      %h4= t('.declared_licenses')
      %table{ style: 'width: 100%;' }
        %tbody
          - @project_licenses.each do |project_license|
            %tr.license
              %td.col-md-8.padding_one_top= project_license.license ? project_license.license.name : ''
              %td.col-md-4.padding_one_top.last
                .pull-right
                  - if @project.edit_authorized?
                    %a.btn.btn-small.btn-danger{ href: project_license_path(@project, project_license),
                                                data: { method: :delete, confirm: t('.remove_confirm') } }
                      %i.icon-trash= t '.remove'
                  - else
                    = disabled_button bootstrap_icon('icon-trash', t('.remove')), class: 'btn-small btn-danger'
          %tr
            %td.padding_one_top{ colspan: '2' }= show_license_button(@project)
    .clear

- else
  = show_license_button(@project)

= yield page_context[:header_title] if page_context[:header_title]
= render partial: 'project_licenses/about'
