%h4.nomargin
  %span.soft= t('.about')
  = t('.basics')
.col-md-6
  %ul.margin_left_25.margin_top_10
    %li
      = t('.info')
      %a{ href: 'https://community.blackduck.com/s/article/Black-Duck-Open-Hub-Support' }= t('.contact_us')
      = t('.inapropriate')
    %li= t('.url_unique')
    %li= t('.description')
