.about-content-wrapper
  .col-md-5
    %ul
      %li
        = t('.info')
        %a{ href: 'https://community.blackduck.com/s/article/Black-Duck-Open-Hub-Support', target: '_blank', rel: 'noopener noreferrer' }= t('.contact_us')
        = t('.inapropriate')
      %li= t('.url_unique')
  .col-md-5
    %ul
      %li= t('.description')
