.col-md-12.col-sm-12.margin_top_20
  %h4.nomargin
    %span.soft.margin_left_20= t('.about')
    = t('.managers')
  .col-md-10.margin_left_20
    = t('.ability')
    %ul.margin_left_30
      %li= t('.limit')
      %li= t('.edit')
      %li= t('.approve')
    %ul.margin_left_30
      %li= t('.edit_info')

