- if logged_in? && @organization.edit_authorized?
  - if project.organization_id.blank?
    = link_to '#', claim_link_options(@organization, project), class: 'btn btn-small btn-success' do
      %i.icon-plus-sign
      = t('.claim_link')
  - else
    = render partial: '/organizations/active_remove_project_button', locals: { p: project }
- else
  - if project.organization_id.blank?
    = disabled_button(t('.claim_link'), class: 'btn-small btn-success')
  - else
    = disabled_button(bootstrap_icon('icon-trash', 'Remove'), class: 'btn-mini btn-danger')
