- content_for :javascript do
  = javascript_tag "$(document).ready(function(){var a = UrlAvailable;a.object_id='#{ @organization.id }';a.ajax_path='#{organizations_path}/resolve_url_name';a.base_url='#{organizations_url}/';});"

%fieldset
  .control-group
    %label.control-label.required= t('.name')
    .controls
      = f.text_field :name, class: 'col-md-8'
      - error_tag @organization, :name
  .clear &nbsp;
  .control-group
    %label.control-label.required= t('.url')
    .controls
      .input-prepend
        %span.add-on= "http://www.openhub.net/orgs/"
        = f.text_field :url_name, class: 'url_available', data: { id: @organization.id },
        autocomplete: 'off', style: 'width:415px;'
      - error_tag @organization, :url_name, class: 'error url_name'
  .clear &nbsp;

  .control-group
    %label.control-label.required= t('.type')
    .controls
      - Organization::ORG_TYPES.each do |label, val|
        %label.radio.inline
          = f.radio_button :org_type, val
          = label
      .clear{ style: 'margin-bottom:5px;' }
      - error_tag @organization, :org_type
  .clear &nbsp;

  .control-group
    %label.control-label= t('.description')
    .controls
      = find_and_preserve f.text_area(:description, max_length: 800, class: 'col-md-8', size: '40x10')
      - error_tag @organization, :description

  .control-group
    %label.control-label= t('.home')
    .controls
      = f.text_field :homepage_url, class: 'col-md-8'
      - error_tag @organization, :homepage_url

  .actions.clear_left
    - if logged_in? && @organization.edit_authorized?
      %input.btn.btn-primary{ type: 'submit', value: t('.save_changes') }
    - else
      = disabled_button(t('.save_changes'), class: 'btn-primary')
