%tr.manage_projects_header
  %th &nbsp;
  %th.col-md-1= t('.name')
  %th.col-md-1.center= t('.i_use')
  %th.col-md-1.center= t('.lines_of_code')
  %th.col-md-1.center{ style: 'padding-left:5px;' } &nbsp;
  %th.col-md-1.center= t('.committers')
  %th.col-md-1.center= t('.rating')
  %th.col-md-1.center= t('.reviews')
  %th.col-md-2= t('.description')
  %th &nbsp;
