%tr.manage_projects_header
  %th{ style: 'width:48px;' } &nbsp;
  %th.col-md-3.center= t('.name')
  %th.col-md-1= t('.i_use')
  %th.center{ style: 'width:60px;' }= t('.lines_of_code')
  %th.col-md-1.center{ style: 'width:15px; padding-left:5px;' } &nbsp;
  %th.col-md-1.center= t('.committers')
  %th.col-md-1.center{ style: 'width:80px;' }= t('.rating')
  %th.col-md-1.center= t('.reviews')
  %th.col-md-3= t('.description')
  %th{ style: 'width:86px;' } &nbsp;
