.organization-card.searchable{ id: "organization_#{organization.id}" }
  / Organization Header
  .organization-header
    .organization-title-section
      %h2
        = link_to h(organization.name.truncate(70)), organization_path(organization), title: organization.name

  / Organization Content
  .organization-content
    .organization-main
      .organization-icon-desc
        = link_to organization.decorate.icon(:med), organization_path(organization)

        .organization-description
          - description = organization.description.to_s.strip
          - if description.size > 220
            = expander(h(description), 220, 300)
          - elsif description.present?
            = h(description)
          - else
            %span.text-muted= t('organizations.show.no_desc')

    .organization-stats
      .stat-item
        %span.stat-value
          - if organization.projects_count > 0
            = link_to number_with_delimiter(organization.projects_count), projects_organization_path(organization)
          - else
            = number_with_delimiter(organization.projects_count)
        %span.stat-label= t('.projects')
      .stat-item
        %span.stat-value= number_with_delimiter(organization.affiliators_count)
        %span.stat-label= t('.affiliated_committers')
