.organization-card.searchable{ id: "organization_#{organization.id}" }
  / Organization Header
  .organization-header
    .organization-title-section
      %h2
        = link_to h(organization.name.truncate(70)), organization_path(organization), title: organization.name

  / Organization Content
  .organization-content
    .organization-main
      .organization-icon-desc
        = link_to organization.decorate.icon(:med), organization_path(organization)

        .organization-description
          - if organization.description && organization.description.strip.size > 220
            = expander(h(organization.description), 220, 300)
          - elsif organization.description
            = h(organization.description)
          - else
            %span.text-muted= t('organizations.index.no_matches')

    .organization-stats
      .stat-item
        %span.stat-value
          - if organization.projects_count > 0
            = link_to organization.projects_count, projects_organization_path(organization)
          - else
            = organization.projects_count
        %span.stat-label Projects
      .stat-item
        %span.stat-value= number_with_delimiter(organization.affiliators_count)
        %span.stat-label Affiliated Committers
