:ruby
  content_for(:html_title) { t('.page_title', name: @organization.name) }
  page_context[:select_top_menu_nav] = 'select_organizations'
  page_context[:select_footer_nav] = nil

%h2.pull-left
  = link_to t('.settings'), settings_organization_path(@organization)
  = t('.basics')
.clearfix

.row
  .well.col-md-10.col-md-offset-1
    = form_for @current_object, url: organization_path(@organization),
      class: 'center-block', style: 'width:650px' do |f|
      = render partial: 'fields', locals: { f: f }

  = render partial: 'about_basics'
