%h1= t('.title')

= render partial: 'shared/search_dingus', locals: { collection: @organizations, sort_context: :organizations }

- if @organizations.empty?
  = t('.no_matches')
- else
  = render partial: 'organization', collection: @organizations
  = will_paginate @organizations
