- content_for(:html_title) { t('.page_title') }
- page_context[:select_top_menu_nav] = 'select_organizations'

#organizations_index_page
  .organizations-container
    / Header Section with Actions
    .organizations-header
      %h1= t('.title')
      .header-actions
        - if current_user_is_admin?
          = link_to new_organization_path, class: 'btn-add-organization' do
            %i.fa.fa-plus
            = t('.add')

        / Header Search with Dropdown
        = render 'shared/search'

    / Search and Filter Bar
    = render partial: 'shared/search_dingus', locals: { collection: @organizations, sort_context: :organizations }

    / Organizations List
    #organizations_index_list
      - if @organizations.empty?
        .no-results= t('.no_matches')
      - else
        = render partial: 'organization', collection: @organizations

    / Modern Pagination
    = render 'shared/modern_pagination', collection: @organizations
