.row
  %h2.pull-left
    = link_to t('.settings'), settings_organization_path(@organization)
    \:
    = link_to t('.managers'), list_managers_organization_path(@organization)
    = t('.new')

.row.padding_one_top
  .col-md-12
    .col-md-8.well.center-block
      = form_for @manage, url: new_manager_organization_path(@organization), class: 'nomargin' do |f|
        - unless @manage.errors.empty?
          - errors = @manage.errors.full_messages
          - errors = errors.reject { |k,v| k =~ /^ssh.public.key/i || k =~ /^message/i }
          - unless errors.empty?
            %p.error= errors.join('. ')

        %fieldset
          .control-group
            %label.control-label.required= t('.new_manager')
            .controls
              = text_field_tag :account_name, params[:account_name],
              id: 'org_new_manager', class: 'col-md-7', placeholder: t('.enter_name')
              = hidden_field_tag :account_id

          .actions
            - if logged_in? && @organization.edit_authorized?
              %input.btn.btn-primary.margin_left_10{ style: 'margin-top: -10px', type: 'submit', value: t('.add'), id: 'org_new_manager_submit' }
            - else
              = disabled_button(t('.add'), class: 'btn-primary')
