- page_context[:select_top_menu_nav] = 'select_organizations'
- content_for(:html_title) { t('.page_title', organization_name: @organization.name) }
= render partial: 'organizations/show/header'

.row
  .col-md-12
    .mezzo
      .padding_left_20
        %h2= t('.title')
        .col-md-5.pull_left#org_summary
          - if @organization.description.blank?
            = t('.no_desc')
            = link_to t('.add_desc'), edit_organization_path(@organization)
          - else
            = @organization.description
          = render partial: '/shared/add_this', locals: { text: "#{@organization.name} organization" }
        .col-md-6.col-md-offset-1
          = render partial: 'organizations/show/quick_reference'

.row
  .col-md-12
    .mezzo.padding_one_top
    = render partial: '/organizations/show/pictogram'
