- combined ||= false
- mobile ||= false
- chart_id = mobile ? 'cve-cvss3-mobile' : 'cve-cvss3'
- if @cve
  - if combined
    .col-lg-6.col-xs-12.text-center.chart-half
      .highchart-header.border-right
        %span Related record
        %br
        %span.bold= bdsa_cve_id(@cve_data)
        %br
        %span CVSS v3.x
      .chart-wrapper
        %div{ id: chart_id, 'data-cvss' => "#{bdsa_cvss(@cve)}", 'data-severity' => "#{@cve['severity']}" }
      = render partial: 'severity', locals: { cvss: @cve, type: 'CVE' }
  - else
    .col-lg-3.col-xs-12.text-center.no-left-padding
      .chart-container
        .highchart-header.border-right
          %span Related record
          %br
          %span.bold= bdsa_cve_id(@cve_data)
          %br
          %span CVSS v3.x
        .chart-wrapper
          %div{ id: chart_id, 'data-cvss' => "#{bdsa_cvss(@cve)}", 'data-severity' => "#{@cve['severity']}" }
        = render partial: 'severity', locals: { cvss: @cve, type: 'CVE' }
