%header.row
  .header-info.col-lg-10.col-xs-9
    .header-ids
      %small Black Duck Security Advisory
      %span.badge-bdsa= params[:id]
      - if @cve_data
        %span.badge-cve
          = bdsa_cve_id(@cve_data)
          %i.fa.fa-external-link
    %h1.header-title-main= @response['title']
    .header-meta
      %i.fa.fa-clock-o.meta-icon
      %span.meta-label Published:
      %span.meta-value= humanize_datetime(@response['publishedDate'])
      %i.fa.fa-clock-o.meta-icon
      %span.meta-label Last Modified:
      %span.meta-value= humanize_datetime(@response['lastModifiedDate'])
  .col-lg-2.col-xs-3.cybersecurity-logo.pull-right
    %a{ href: "https://www.blackduck.com/resources/cybersecurity-research-center.html", target: '_blank' }
      %img{ itemprop: 'image', src: image_path('logo/cyrc-500.png'), alt: 'Black Duck Cybersecurity' }
    = link_to 'Learn more about BDSAs', 'https://www.blackduck.com/blog/black-duck-security-advisories-benefits.html', class: 'btn btn-primary learn-more btn-sm', target: '_blank'
.row.details
  .col-lg-6.col-xs-12
    .summary-info
      .summary-icon
        %i.fa.fa-3x.fa-light.fa-thermometer-full
      .summary-content
        %span.summary-title= cvss3_severity(@response['cvss3']) || 'Temporal score not available'
        %span.summary-label BDSA
    .summary-info
      .summary-icon
        %i.fa.fa-3x.fa-light.fa-gift
      .summary-content
        - if @response['vendorFixDate']
          %span.summary-title Fix Available
          %span.summary-label= humanize_datetime(@response['vendorFixDate'])
        - else
          %span.summary-title No Fix Available
    .summary-info
      .summary-icon
        %i.fa.fa-3x.fa-light.fa-exclamation-circle
      .summary-content
        - if @response['exploitAvailableDate']
          %span.summary-title Exploit Available
          %span.summary-label= humanize_datetime(@response['exploitAvailableDate'])
        - else
          %span.summary-title No Exploit
    .summary-info
      .summary-icon
        %i.fa.fa-3x.fa-light.fa-calendar
      .summary-content
        - if @response['disclosureDate']
          %span.summary-title= bdsa_vulnerability_age(@response['disclosureDate'])
          %span.summary-label Vulnerability Age
        - else
          %span.summary-title No Data
    - if @response['description'].present?
      .content-container.description-container
        %p= find_and_preserve(markdown_format(@response['description']))
        %span.bold.date Severity:
        %span.bordered{class: "#{@response['cvss3']['severity'].downcase}"}= @response['cvss3']['severity'].titleize
        - if @response['credit'].present?
          %br
          %br
          %span.bold.date Credit:
          %span= @response['credit']
    - if @response['workaround'].present? || @response['solution'].present?
      .content-container.workaround-container
        = render partial: 'workaround'
    - if bdsa_references(@response['references'])
      .content-container.references-container
        = render partial: 'references'
    - if @cwe_data
      .content-container.cwe-container
        = render partial: 'cwe'
  - if @cve
    .col-lg-6.col-xs-12.charts-combined-desktop
      .chart-container
        .row.charts-row
          = render partial: 'bdsa', locals: { combined: true, mobile: false }
          = render partial: 'cve', locals: { combined: true, mobile: false }
    .charts-mobile-only
      = render partial: 'bdsa', locals: { combined: false, mobile: true }
      = render partial: 'cve', locals: { combined: false, mobile: true }
  - else
    = render partial: 'bdsa', locals: { combined: false, mobile: false }
