%header.row
  .bd-logo.col-lg-2.col-xs-2
    %img{ itemprop: 'image', src: image_path('logo/BD_logo.png'), alt: 'Black Duck' }
  .header-info.col-lg-8.col-xs-7
    .header-title
      %small Black Duck Security Advisory
      %span BDSA
      %h4= @response['title'] 
    .header-details
      %span.right-border.date= params[:id]
      - if @cve_data
        %span.right-border= bdsa_cve_id(@cve_data)
      %span.bold Published:
      %span.right-border.date= humanize_datetime(@response['publishedDate'])
      %span.bold Last Modified:
      %span.date= humanize_datetime(@response['lastModifiedDate'])
  .col-lg-2.col-xs-3.cybersecurity-logo.pull-right
    %a{ href: "https://www.blackduck.com/resources/cybersecurity-research-center.html", target: '_blank' }
      %img{ itemprop: 'image', src: image_path('logo/cyrc-500.png'), alt: 'Black Duck Cybersecurity' }
    = link_to 'Learn more about BDSAs', 'https://www.blackduck.com/blog/black-duck-security-advisories-benefits.html', class: 'btn btn-primary learn-more btn-sm', target: '_blank'
.row.details
  .col-lg-6.col-xs-12
    .row.vuln-summary
      .col-lg-3.col-xs-6.summary-info
        .row.overflow-hidden
          .col-lg-8.col-xs-10
            %span= cvss3_severity(@response['cvss3']) || 'Temporal score not available'
            %br
            %span BDSA
          .col-lg-4.col-xs-2
            %i.fa.fa-3x.fa-light.fa-thermometer-full
      .col-lg-3.col-xs-6.summary-info
        .row.overflow-hidden
          .col-lg-8.col-xs-10
            - if @response['vendorFixDate']
              %span Fix Available
              %br
              %span= humanize_datetime(@response['vendorFixDate'])
            - else
              %span No Fix Available
          .col-lg-4.col-xs-2
            %i.fa.fa-3x.fa-light.fa-gift
      .col-lg-3.col-xs-6.summary-info
        .row.overflow-hidden
          .col-lg-8.col-xs-10
            - if @response['exploitAvailableDate']
              %span Exploit Available
              %br
              %span= humanize_datetime(@response['exploitAvailableDate'])
            - else
              %span No Exploit
          .col-lg-4.col-xs-2
            %i.fa.fa-3x.fa-light.fa-exclamation-circle
      .col-lg-3.col-xs-6.summary-info
        .row.overflow-hidden
          .col-lg-8.col-xs-10
            - if @response['disclosureDate']
              %span= bdsa_vulnerability_age(@response['disclosureDate'])
              %br
              %span Vulnerability Age
            - else
              %span No Exploit
          .col-lg-4.col-xs-2
            %i.fa.fa-3x.fa-light.fa-calendar
    %p= find_and_preserve(markdown_format(@response['description']))
    %span.bold.date Severity:
    %span.bordered{class: "#{@response['cvss3']['severity'].downcase}"}= @response['cvss3']['severity'].titleize
    - if @response['credit'].present?
      %br
      %br
      %span.bold.date Credit:
      %span= @response['credit']
    = render partial: 'workaround'
    = render partial: 'references'
    = render partial: 'cwe'
  = render partial: 'bdsa'
  = render partial: 'cve'
