.row.project_row.row-eq-height
  - if @project.enlistments.empty?
    .alert.alert-info.alert-block.col-md-11{ style: 'margin-left: 15px;' }
      %h3= bootstrap_icon('icon-info-sign', t('.code_locations_removed'))
      .indent{ style: 'padding: 15px 0 0 15px;' }
        %p= t('.code_locations_removed_explanation')

  .col-md-4.right_border.top_section{ itemscope: '', itemtype: 'http://schema.org/Language' }
    %h2.center= t('.code')
    = render partial: 'projects/show/lines_of_code_chart'

  .col-md-4.right_border.top_section
    %h2.center= t('.activity')
    .col-md-12.manage_padding.chart_container
      - if @analysis.present?
        - chart_url = commits_history_project_analysis_url(project_id: @project.to_param, id: 'latest')
        %h4= link_to t('.commits_per_month'), summary_project_commits_path(@project)
        .col-md-12.manage_padding
          #activity_chart.chart.watermark440{ 'datasrc' => chart_url, style: 'width: 100%; min-height: 210px' }
      - else
        %h4= t('.commits_per_month')
        - add_code_link = link_to t('.add_a_code_location'), new_project_enlistment_path(@project)
        %p= t('.no_code_locations', link: add_code_link)
    .clearfix

  .col-md-4.community_container.top_section
    %h2.center= t('.community')
    .col-md-12.manage_padding.chart_container
      %div{ style: 'width: 100%;' }= render partial: 'projects/show/committers_per_month_chart'
      .clearfix
    .clearfix

.row.project_row.row-eq-height
  .col-md-4.right_border.bottom_section.languages_container
    = render partial: 'projects/show/languages'
  .col-md-4.right_border.bottom_section
    .col-xs-12.resize_well
      .well.activity_well
        %table.unstyled#activity_table{ width: 'auto' }
          %tbody
            %tr
              %td.col-xs-5.no_padding_left{ valign: 'top' }
                %h4.section_header.thirty_day= t('.thirty_day_summary')
                %small.summary_timespan.thirty_day
                  - if @analysis.present? && @analysis.thirty_day_summary && @analysis.oldest_code_set_time
                    = (@analysis.oldest_code_set_time - 30.days).strftime('%b %e %Y')
                    &mdash;
                    = @analysis.oldest_code_set_time.strftime('%b %e %Y')
                  - else
                    = t('.not_available')
                .clearfix
                = render partial: 'projects/show/thirty_day_summary'
              %td.col-xs-5.col-xs-offset-1.no_padding_right{ valign: 'top' }
                %h4.section_header.twelve_month= t('.twelve_month_summary')
                %small.summary_timespan
                  - if @analysis.twelve_month_summary.present? && @analysis.oldest_code_set_time
                    = (@analysis.oldest_code_set_time - 12.months).strftime('%b %e %Y')
                    &mdash;
                    = @analysis.oldest_code_set_time.strftime('%b %e %Y')
                  - else
                    = t('.not_available')
                .clearfix
                = render partial: 'projects/show/twelve_month_summary'
  .col-md-4.community_container.bottom_section
    .col-xs-12.resize_well
      .well.community_well
        .row
          .col-xs-12
            = render partial: 'projects/show/community_recent_committers'
        .row.proj_community_ratings#proj_rating
          = render partial: 'projects/show/community_rating', locals: { score: @score }
    .row.manage_padding
      .col-md-12 &nbsp;
    .row.manage_padding
      .col-md-6#stackoverflow_recent_questions
      .col-md-6#stackoverflow_popular_questions
