- if @project.best_analysis && !@project.best_analysis.blank?
  - title = 'Ratings'
- else
  - title = 'Community Rating'

.clear#community_rating
%div
  %h4{ style: 'margin-left:5px;' }= link_to title, summary_project_reviews_path(@project)
  - if @project.ratings.count != 0
    %span{ style: 'margin-left: 8px;' }
      = @project.ratings.count
      = @project.ratings.count == 1 ? 'user rates' : 'users rate'
      this project:
    .clear
      %span
        .float_left{ style: 'margin-left:7px;' }
          = stars('average_rating_stars', @project.rating_average || 0)
      %span.float_left{ style: 'padding-left: 10px; padding-top: 3px;' }
        #{number_with_precision(@project.rating_average || 0, precision: 1)}/5.0
  - else
    %span{ style: 'padding-left: 8px; display: block;' }
      Be the first to rate this project

  .clear &nbsp;
  %span{ style: 'margin-left: 8px;' }
    - if @rating
      Click to edit your rating
    - else
      Click to add your rating
  .clear
    .jrating.float_left{ id: @project.to_param, class: needs_login, score: @score,
                         star_style: 'big', style: 'margin-left: 9px;' }
    %span.hidden#rating_spinner
      &nbsp;&nbsp;
      = image_tag('/images/spinner.gif')

    - if @rating
      %span.float_left#clear{ style: 'padding-left: 10px;' }
        = bootstrap_mini_button_link_to 'Clear', 'javascript:void(0);',
                                        'data-url' => project_rating_path(@project, @rating,
                                                                          show: '/projects/show/community_rating'),
                                                                          method: :delete
  - unless current_account && current_account.review(@project)
    .clear &nbsp;
    %span{ style: 'margin-left: 5px;' }
      = link_to 'Review this Project!', new_project_reviews_url(@project)
