- title      = @project.best_analysis.present? ? t('.page_title_1') : t('.page_title_2')
- avg        = @project.rating_average.to_f
- user_score = score.to_i
- logged_in  = current_user.present?

.rating-content
  .rating-top-row
    .rating-main
      %h4.community_rating_header= link_to title, summary_project_reviews_path(@project)
      - if @project.ratings.any?
        %p.rating-info
          = link_to t((@project.ratings.count == 1 ? '.one_user_rate' : '.users_rate'), n: @project.ratings.count), summary_project_reviews_path(@project), class: 'rating-link'

        .rating-display
          .stars-display
            - (1..5).each do |i|
              - if i <= avg.floor
                %svg.star-icon.star-filled{ viewBox: '0 0 24 24', fill: '#ffb91a', stroke: '#ffb91a', 'stroke-width': '2', 'stroke-linecap': 'round', 'stroke-linejoin': 'round', width: '14', height: '14', xmlns: 'http://www.w3.org/2000/svg' }
                  %polygon{ points: '12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2' }
              - elsif i == avg.ceil && (avg % 1) >= 0.3
                %svg.star-icon.star-half{ viewBox: '0 0 24 24', fill: '#ffb91a', stroke: '#ffb91a', 'stroke-width': '2', 'stroke-linecap': 'round', 'stroke-linejoin': 'round', width: '14', height: '14', xmlns: 'http://www.w3.org/2000/svg', style: 'opacity: 0.5' }
                  %polygon{ points: '12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2' }
              - else
                %svg.star-icon.star-empty{ viewBox: '0 0 24 24', fill: 'none', stroke: '#d1d5db', 'stroke-width': '2', 'stroke-linecap': 'round', 'stroke-linejoin': 'round', width: '14', height: '14', xmlns: 'http://www.w3.org/2000/svg' }
                  %polygon{ points: '12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2' }
          %span.rating-value
            = "#{number_with_precision(@project.rating_average || 0, precision: 1)} /5.0"
      - else
        %p.rating-info= t('.be_the_first')

    .rating-action
      %p.rating-info
        - if @rating
          = t('.click_to_edit')
        - else
          = t('.click_to_add')
      .interactive-stars{ 'data-rate-url' => rate_project_path(@project),
                          'data-unrate-url' => unrate_project_path(@project),
                          'data-user-score' => user_score,
                          'data-logged-in' => logged_in.to_s,
                          'data-show' => 'projects/show/community_rating' }
        - (1..5).each do |i|
          - filled = i <= user_score
          %button.star-btn{ type: 'button', 'data-rating' => i, title: "Rate #{i} out of 5" }
            %svg.star-svg{ viewBox: '0 0 24 24', fill: filled ? '#ffb91a' : 'none', stroke: filled ? '#ffb91a' : '#d1d5db', 'stroke-width': '2', 'stroke-linecap': 'round', 'stroke-linejoin': 'round', width: '16', height: '16', xmlns: 'http://www.w3.org/2000/svg' }
              %polygon{ points: '12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2' }
      - if @rating
        %a.clear-rating-btn.rating-link{ href: 'javascript:void(0);',
                                          'data-url' => unrate_project_path(@project, show: 'projects/show/community_rating') }
          = t('.clear')
      - unless current_user && Review.by_account(current_user).for_project(@project).count > 0
        %p.rating-info.rating-secondary
          = link_to new_project_review_path(@project), class: 'rating-link' do
            %svg.rating-action-icon{ viewBox: '0 0 24 24', fill: 'none', stroke: 'currentColor', 'stroke-width': '2', 'stroke-linecap': 'round', 'stroke-linejoin': 'round', width: '12', height: '12' }
              %polygon{ points: '12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2' }
            %span= t('.review_this_project')
