- get_coverity_data
.project_licenses
  .row.project_row
    .col-md-12.license_title_container
      %h4.license_panel_title
        = link_to @section_title, @section_link, target: "_blank"
    .clearfix
    .col-md-6
      .well
        = @analysis_metrics_title.html_safe
        = @analysis_metrics.html_safe
    .col-md-6
      .well
        = @cwe_top_25_title.html_safe
        = @cwe_top_25.html_safe
  .row.project_row
    .col-md-6
      .well
        = @outstanding_defects.html_safe
    .col-md-6
      .well
        = @outstanding_versus_fixed.html_safe
