- homepage ||= false
%ul.unstyled.nutshell#factoids
  %li
    \...
    .indent
      has had
      = link_to "#{number_with_delimiter @analysis.commit_count} commits", summary_project_commits_path(@project)
      made by
      = link_to "#{number_with_delimiter @analysis.committers_all_time} contributors",
                summary_project_contributors_path(@project)
      %br
      representing
      = link_to "#{number_with_delimiter @analysis.code_total} lines of code",
                languages_summary_project_analysis_path(@project, id: 'latest')
  - if @analysis.main_language
    %li
      \...
      .indent
        is
        = link_to "mostly written in #{@analysis.main_language.nice_name}",
                  languages_summary_project_analysis_path(@project, id: 'latest')
        %br
        with
        - get_factoid_display :comments, @project, @analysis
  %li
    \...
    .indent
      has
      - get_factoid_display :age, @project, @analysis
      %br
      maintained by
      - get_factoid_display :team, @project, @analysis
      %br
      with
      - get_factoid_display :activity, @project, @analysis
  - unless homepage
    %li
      \...
      .indent
        took an estimated
        = link_to "#{number_with_delimiter @analysis.man_years.ceil} years of effort",
                  estimated_cost_project_path(@project)
        (COCOMO model)

        - if @analysis.first_commit_time?
          %br
          = t('.starting')
          = link_to t('.first_commit_in', time: @analysis.first_commit_time.strftime('%B, %Y')),
                    project_commits_path(@project, sort: 'oldest')

        - if @analysis.last_commit_time?
          %br
          = t('.ending')
          = link_to t('.most_recent_commit', time: time_ago_in_words(@analysis.last_commit_time)),
                    project_commits_path(@project)
          = t('ago')
