#project_masthead
  .col-md-1.no_padding#project_icon
    %a{ href: project_path(@project), itemprop: 'url' }
      = @project.decorate.icon(:med)

  .col-md-11#project_header
    .pull-left.project_title
      %h1.float_left{ itemprop: 'name' }
        = link_to @project.name, project_path(@project), style: 'color: black', itemprop: 'url'
      %small.pull-left.clear_both
        != link_to bootstrap_icon('icon-cogs', t('projects.header.settings')), settings_project_path(@project)
        - if @project.is_a_duplicate
          - if current_user_is_admin? || (@current_account && @project.is_a_duplicate.account == @current_account)
            |
            != link_to bootstrap_icon('icon-flag', t('projects.header.edit_duplicate')),
                       edit_project_duplicate_path(@project, @project.is_a_duplicate)
        - else
          |
          = link_to bootstrap_icon('icon-flag', t('projects.header.duplicate')), new_project_duplicate_path(@project)
        - if current_user_is_admin?
          |
          = link_to bootstrap_icon('icon-legal', t('projects.header.job')), oh_admin_project_jobs_path(@project)
    .pull-right.no_padding#widgets
      .pull-left
        #add_this{ 'data-analytics-id' => ENV['ADDTHIS_ANALYTICS_ID'] }
          %p
            .addthis_custom_sharing.addthis
              %script{ src: '//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-500da8c658f6dda7' }
      .pull-right{ itemtype: 'CreativeWork', itemprop: 'interactionCount' }
        #i_use_this_container
          .use_count
            = link_to number_with_delimiter(@project.user_count), users_project_path(@project)
        - if logged_in?
          = render partial: 'projects/show/i_use_this', locals: { project: @project }
        - else
          .btn.btn-mini.i_use_this_btn{ 'data-target' => '#LoginModal', 'data-toggle' => 'modal' }= t('.i_use_this')
          .modal.fade#LoginModal{ 'aria-hidden' => 'true', 'aria-labelledby' => 'LoginModalLabel', :role => 'dialog' }
            .modal-dialog.modal-sm
              .modal-content{ style: 'width: 398px' }
                .modal-header
                  %button.close{ 'aria-label' => 'Close', 'data-dismiss' => 'modal', :type => 'button' }
                    %span{ 'aria-hidden' => 'true' } &times;
                  %h4.modal-title#LoginModalLabel= t('.login_required')
                .model-body
                  = render 'sessions/sign_in'
      .pull-left#project_header_activity_indicator
        - project_activity_level_class(@project, :thirtyfive)
        - project_activity_level_text(@project, :thirtyfive)

.clearfix
.row.mezzo
= yield :header_title if content_for?(:header_title)
= render partial: 'layouts/partials/alert'
