#project_masthead
  .col-md-1.no_padding#project_icon
    %a{ href: project_path(@project), itemprop: 'url' }
      - project_icon(@project, :med)

  .col-md-11#project_header
    .pull-left.project_title
      %h1.float_left{ itemprop: 'name' }
        = link_to @project.name, project_path(@project), style: 'color: black', itemprop: 'url'
      %small.pull-left.clear_both
        != link_to bootstrap_icon('icon-cogs', t('projects.header.settings')), settings_project_path(@project)
        - if @project.is_a_duplicate
          - if current_user_is_admin? || (@current_account && @project.is_a_duplicate.account == @current_account)
            |
            != link_to bootstrap_icon('icon-flag', t('projects.header.edit_duplicate')),
                       edit_project_duplicate_path(@project, @project.is_a_duplicate)
        - else
          |
          = link_to bootstrap_icon('icon-flag', t('projects.header.duplicate')), new_project_duplicate_path(@project)
    .col-md-3.pull-right.no_padding#widgets
      .pull-left#project_header_activity_indicator
        - project_activity_level_class(@project, :thirtyfive)
        - project_activity_level_text(@project, :thirtyfive)
      %div{ itemtype: 'CreativeWork', itemprop: 'interactionCount' }
        .pull-right#i_use_this_container
          .use_count
            = link_to number_with_delimiter(@project.user_count), users_project_path(@project)
          %button.btn.btn-default{"data-target" => "#iUseThisModal", "data-toggle" => "modal", :type => "button"}= t('.i_use_this')
          #iUseThisModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "iUseThisModalLabel", :role => "dialog", :tabindex => "-1"}
            .modal-dialog
              .modal-content
                .modal-header
                  %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                    %span{"aria-hidden" => "true"} &times;
                  %h4#myModalLabel.modal-title= t('.add_to_stacks')
                .modal-body= t('.add_to_your_stack', project: @project.name)
                / Save the ajax button calls for later.
                / - @account.stacks.each do |stack|
                /   - haml_tag :div, stack.title
                /   = check_box_tag 'stacked?'
                .modal-footer
                  = button_to t('.create_a_new_stack', project: @project.name), stacks_path, remote: true, params: { project_id: @project.id }
.clearfix
.row
  .col-md-12
    .mezzo
= yield :header_title if content_for?(:header_title)
= render partial: 'layouts/partials/alert'
