- if @analysis && !@analysis.empty?
  :ruby
    languages_image_options = { project_id: @project.to_param, id: 'latest', height: 90, width: 90 }
    language_data = Analysis::LanguagePercentages.new(@analysis).collection

  - if language_data.any?
    .languages-content
      .language-pie-container
        = image_tag languages_project_analysis_url(languages_image_options), class: 'language-pie-chart'

      .language-legend
        - language_data.take(5).each do |id, name, attr|
          - percent = attr[:percent] > 0 ? attr[:percent] : '<1'
          - color = attr[:color]
          .language-item
            .language-color-box{ style: "background-color: ##{color}" }
            %span.language-name
              = id ? link_to(name, language_path(id)) : name
            %span.language-percent= "#{percent}%"
  - else
    %p.no-data= t('.no_source')
- else
  %p.no-data= t('.no_source')
