- license= @project.licenses.first
.license_details
  %h5= license.name
  .row
    .col-md-4#permitted
      .well
        %h5 Permitted
        - permissions = license.permitted_license_permissions
        - permissions.each do |p|
          %p!= "<span title='#{p.description}'>#{p.name}</span> <i class='fa #{p.icon} float_right' aria-hidden='true'></i>"
    .col-md-4#forbidden
      .well
        %h5 Forbidden
        - permissions = license.forbidden_license_permissions
        - permissions.each do |p|
          %p!= "<span title='#{p.description}'>#{p.name}</span> <i class='fa #{p.icon} float_right' aria-hidden='true'></i>"
    .col-md-4#required
      .well
        %h5 Required
        - permissions = license.required_license_permissions
        - permissions.each do |p|
          %p!= "<span title='#{p.description}'>#{p.name}</span> <i class='fa #{p.icon} float_right' aria-hidden='true'></i>"
  .row
    %p.text-muted.small.center  These details are provided for information only. No information here is legal advice and should not be used as such.
