.license_details
  %h5.license_title= link_to license.name, license_url(license.to_param)
  .row
    .col-md-4#permitted
      .well.right_border
        %h5 Permitted
        - permissions = license.permitted_license_permissions
        - permissions.each do |p|
          %p
            %span{ 'data-tipso' => p.description }= p.name
            %i.fa.float_right{ 'aria-hidden' => 'true', class: 'fa-square', 'data-tipso' => p.name }
    .col-md-4#forbidden
      .well.right_border
        %h5 Forbidden
        - permissions = license.forbidden_license_permissions
        - permissions.each do |p|
          %p
            %span{ 'data-tipso' => p.description }= p.name
            %i.fa.float_right{ 'aria-hidden' => 'true', class: 'fa-square', 'data-tipso' => p.name }
    .col-md-4#required
      .well
        %h5 Required
        - permissions = license.required_license_permissions
        - permissions.each do |p|
          %p
            %span{ 'data-tipso' => p.description }= p.name
            %i.fa.float_right{ 'aria-hidden' => 'true', class: 'fa-square', 'data-tipso' => p.name }
  .row
    %p.text-muted.small.center= t('.info')
