%h4.quick_reference_heading= t('.quick_reference')
.col-xs-12
  - if @project.organization
    .col-xs-5.text-right= t('.organization')
    .col-xs-7{ style: 'margin-bottom: .5em;' }
      = link_to @project.organization.name, organization_path(@project.organization)
  .clearfix
  .col-xs-5.text-right.text-right
    = link_to t('.proj_links'), project_links_path(@project)
  .col-xs-7{ style: 'margin-bottom: .5em;' }
    - if @project.decorate.sorted_link_list.any?
      - @project.decorate.sorted_link_list.each do |link_category_name, links|
        - if links.size > 1
          = link_to project_links_path(@project) do
            = link_category_name
            %i= t('.no_of_links', count: links.size)
        - elsif links.size == 1
          - link_opts = link_category_name == 'Homepage' ? { itemprop: 'url' } : {}
          = link_to links.first.url, link_opts do
            %i.icon-external-link
            = link_category_name
        %br
    - else
      = link_to t('.add_proj_links'), project_links_path(@project)
  .clearfix
  .col-xs-5.text-right
    = link_to t('.code_locations'), project_enlistments_path(@project)
  .col-xs-7{ style: 'margin-bottom: .5em;' }
    - enlistments = @project.enlistments
    - if enlistments.present?
      - if enlistments.size > 1
        %i= link_to t('.n_locations', n: enlistments.size), project_enlistments_path(@project)
      - else
        = enlistments.first.code_location.url.truncate(35)
      %br
    - else
      = link_to t('.add_code_location'), project_enlistments_path(@project)
  .clearfix
  .col-xs-5.text-right
    = link_to t('.similar_projects'), similar_project_path(@project)
  .col-xs-7{ style: 'margin-bottom: .5em;' }
    #similar_projects{ data: { project_id: @project.to_param } }
    .hidden#related_spinner= image_tag('spinner.gif')
  .clearfix
  .col-xs-5.text-right
    = link_to t('.managers'), project_managers_path(@project)
  .col-xs-7{ style: 'margin-bottom: .5em;' }
    - if @project.active_managers.present?
      != project_managers_list
    - else
      = link_to t('.become_first', what: @project.name), new_project_manager_path(@project)
