- blog_url = 'https://community.synopsys.com/s/article/Black-Duck-Open-Hub-Project-Security'
.row.project_row
  - if @project.best_project_security_set.try(:most_recent_vulnerabilities?) || @project.project_vulnerability_report
    .col-md-12.security_title_container
      %h4.security-panel-title= t('.title')
    .clearfix
    .row-eq-height
      .col-md-4#vulnerability_per_version
        = render partial: 'projects/show/vulnerabilities_per_version'
      .col-md-4#vulnerability-report
        .well= render partial: 'projects/show/vulnerability_report'
      .col-md-4#did_you_know
        = render 'projects/show/site_features'
    = link_to t('.blog_link'), blog_url, class: 'security_blog_link', target: '_blank'
  - else
    .col-md-12#did_you_know
      %h4= t('.title_nvd')
      = render 'projects/show/site_features'
