%ul.unstyled.nutshell
  - if @analysis.factoids.any? && @analysis.twelve_month_summary.present?
    :ruby
      commits_fact = @analysis.factoids.select { |f| f.is_a? FactoidActivity }
      committers_fact = @analysis.factoids.select { |f| f.is_a? FactoidStaff }
      has_old_data = commits_fact.any? || committers_fact.any?
      commits = @analysis.twelve_month_summary.commits_count
      committers = @analysis.twelve_month_summary.committer_count
      summary = @analysis.previous_twelve_month_summary
      ticker_options = { summary: summary, young_analysis: @analysis.min_month && @analysis.min_month >= 12.months.ago }

    %li
      %big= commits
      = link_to t('.commits'), project_commits_path(@project, time_span: '12 months')
      .small{ style: 'padding-left: 22px;' }
        - if summary
          = render partial: 'projects/show/twelve_month_ticker',
                   locals: ticker_options.merge!(diff: 'commits_difference', count: 'commits_count')
        - elsif has_old_data
          = t('.must_reanalyize')
        - else
          = t('.no_commit_data')
    %li
      %big= committers
      = link_to t('.contributors'), project_contributors_path(@project, time_span: '12 months', sort: 'latest_commit')
      .small{ style: 'padding-left: 22px;' }
        - if summary
          = render partial: 'projects/show/twelve_month_ticker',
            locals: ticker_options.merge!(diff: 'committers_difference', count: 'committer_count')
        - elsif has_old_data
          = t('.must_reanalyize')
        - else
          = t('.no_commit_data')
