.oh-review-card
  .oh-review-card__body
    .rr-add-review
      .rr-add-review__icon
        %i.fa.fa-pencil
      .rr-add-review__content
        %p.rr-add-review__message
          - if @rating.try(:persisted?)
            = t('.not_reviewd').html_safe
          - else
            = t('.not_reviewd_or_rated').html_safe
        .rr-add-review__meta
          - if @rating.try(:score)
            %strong= t('reviews.my_rating')
            != rating_stars('rating_star', @rating.score.to_i)
  .oh-review-card__footer
    = icon_button(new_project_review_url(@project), text: t('reviews.new_review'), size: 'small', type: 'primary')
