- project ||= @project

.rr-community-card
  %h3.rr-community-card__title= t('.community_rating')
  .rr-community-card__grid
    .rr-community-card__stat
      .rr-community-card__stars
        != rating_stars('rating_star', project.rating_average.to_f)
      %p.rr-community-card__label Overall
    .rr-community-card__stat
      .rr-community-card__value= "#{number_with_precision(project.rating_average || 0, precision: 1)}/5.0"
      %p.rr-community-card__label Average Rating
    .rr-community-card__stat
      .rr-community-card__value= project.ratings.count
      %p.rr-community-card__label Number of Ratings
    .rr-community-card__stat
      .rr-community-card__value= project.reviews.count
      %p.rr-community-card__label Number of Reviews
