.review_container{ id: "existing_review_#{existing_review.id}" }
  %h3.oh-review-section-title
    %i.fa.fa-pencil
    = t('reviews.my_review', name: truncate(@project.name, length: 40))

  .oh-review-card
    .oh-review-card__body
      .oh-review-author-row
        .oh-review-avatar
          %span= existing_review.account&.login&.first&.upcase || 'U'
        .oh-review-meta
          .oh-review-meta__header
            .oh-review-meta__left
              %p.oh-review-author
                = existing_review.account&.login
                %span.oh-review-author__says= ' says:'
              .oh-review-title-row
                %label.oh-review-title= existing_review.title
                != rating_stars('rating_star', existing_review.score.to_f)
            .oh-review-meta__right
              != rating_stars('rating_star', existing_review.score.to_f)
          .oh-review-timestamp
            %i.fa.fa-clock-o
            = t('reviews.written_ago', time: time_ago_in_words(existing_review.created_at))
          .oh-review-comment= simple_format(existing_review.comment.fix_encoding_if_invalid)

    .oh-review-card__footer
      = icon_button(edit_project_review_path(existing_review.project, existing_review), icon: 'pencil',
        text: t('reviews.edit_review'), size: 'medium', type: 'info')
      - if current_user_is_admin? || existing_review.account == current_user
        = icon_button(review_path(existing_review), icon: 'trash', text: t('reviews.remove_review'), size: 'medium',
          type: 'danger', method: :delete, data: { confirm: t('reviews.remove_confirmation') })
