.small.soft.helpful_below
  - if logged_in?
    - unless review.account == current_user

      - helpful = Helpful.new(account: current_user, review: review)
      = form_for [review, helpful], remote: true do |f|
        = f.hidden_field :account_id
        = f.hidden_field :review_id
        %input.hidden{ type: :checkbox, name: :yes }

        = t('.did_this_helpful')
        - if review.helpful_to_account?(current_user)
          %span.voted= t('reviews.helpful_yes')
        - else
          %a.set-checkbox-and-submit-form{ href: 'javascript:void(0)', 'data-check-box' => 1 }= t('reviews.helpful_yes')
        \|
        - if review.not_helpful_to_account?(current_user)
          %span.voted= t('reviews.helpful_no')
        - else
          %a.set-checkbox-and-submit-form{ href: 'javascript:void(0)', 'data-check-box' => 0 }= t('reviews.helpful_no')
  - else
    = t('.did_this_helpful')
    %a.needs_login{ href: 'javascript:void(0)' }= t('reviews.helpful_yes')
    \|
    %a.needs_login{ href: 'javascript:void(0)' }= t('reviews.helpful_no')
