.oh-review-card.review_container{ id: "review_summary_#{review_summary.id}" }
  - account = review_summary.account
  .oh-review-card__body
    .oh-review-author-row
      .oh-review-avatar
        %span= account.name.first.upcase
      .oh-review-meta
        .oh-review-meta__header
          .oh-review-meta__left
            %p.oh-review-author
              = link_to h(truncate(account.name, length: 20)), account_url(account), title: account.name
              %span.oh-review-author__says says:
            .oh-review-title-row
              - if review_summary.title
                %label.oh-review-title= truncate(review_summary.title.camelize, length: 35)
              != rating_stars('rating_star', review_summary.score.to_f, mini: true)
        .oh-review-timestamp
          %i.fa.fa-clock-o
          %abbr{ title: review_summary.created_at }
            = t('reviews.written_ago', time: time_ago_in_words(review_summary.created_at))
        .oh-review-comment= simple_format(review_summary.comment.fix_encoding_if_invalid)
        .oh-review-helpful
          = render partial: 'helpful_count_status', locals: { review: review_summary }
          = render partial: 'helpful_yes_or_no_links', locals: { review: review_summary }
  .oh-review-card__footer
    = render partial: 'buttons', locals: { review: review_summary }
