- content_for(:html_title) { t('.title') }
\%h2.pull_left
  = link_to t('reviews.rating_and_reviews'), summary_project_reviews_path(@project)
  = t('new')
= project_analysis_timestamp(@project)
.clearfix
%br
.col-md-9.no_padding{ style: 'margin-left:137px;' }
  .well
    = form_for([@project, @review]) do |f|
      = render partial: 'fields', locals: { f: f }
