- content_for(:html_title) { t('.title', name: @project.name) }

.rr-page
  .rr-page__title
    .rr-page__title-icon
      %i.fa.fa-star
    %h2
      %strong= t('.rating_and_reviews')

  = render partial: 'community_and_your_rating'

  = render partial: 'new_or_existing_review'

  - if @project.reviews.exists?
    .rr-reviews-grid
      .rr-reviews-grid__col
        %h3.rr-section-title
          .rr-section-title__icon.rr-section-title__icon--green
            %i.fa.fa-thumbs-up
          = link_to t('.most_helpful_reviews'), project_reviews_path(@project, sort: 'helpful')
        = render partial: 'review_summary', collection: @most_helpful_reviews
      .rr-reviews-grid__col
        %h3.rr-section-title
          .rr-section-title__icon
            %i.fa.fa-clock-o
          = link_to t('.most_recent_reviews'), project_reviews_path(@project, sort: 'recently_added')
        = render partial: 'review_summary', collection: @recent_reviews
    - if @project.reviews.count > 1
      .rr-see-all
        = icon_button(project_reviews_path(@project), text: t('.see_all_reviews'), size: 'small', type: :primary)
  - else
    %p.rr-no-reviews= t('.no_review')
