- raw_email = raw('&#105;&#110;&#102;&#111;&#064;&#111;&#112;&#101;&#110;&#104;&#117;&#098;&#046;&#110;&#101;&#116;')

.col-md-12.text-center
  .footer_content{style: 'margin-left: 27%'}
    .footer-left
      %a.logo_link{ href: root_path }
        %img.logo_img{ itemprop: 'image', src: image_path('logo/BlackDuckLogo.svg'), alt: 'Open Hub' }

    .footer-mid
      = "ABOUT Black Duck"
      %p
      %p
        %a{ href: 'https://www.blackduck.com/solutions/application-security-testing.html' }= 'Application Security Testing'
      %p
        %a{ href: 'https://www.blackduck.com/services.html' }= 'Application Security Services'
      %p
        %a{ href: 'https://www.blackduck.com/services/security-program/strategy-planning.html' }= 'AppSec Program Development'
      %p
        %a{ href: 'https://www.blackduck.com/training.html', target: '_blank' }= 'Training'

    .footer-right
      = "ABOUT OPEN HUB"
      %p
      %p
        %a{ href: 'https://community.synopsys.com/s/black-duck-open-hub' }= t :forum
      %p
        %a{ href: 'https://community.synopsys.com/s/article/Black-Duck-Open-Hub-Terms-of-Use' }= t :terms
      %p
        %a{ href: 'https://community.synopsys.com/s/article/Black-Duck-Open-Hub-Open-Hub-Privacy-Policy' }= t :privacy_blog
      %p
        %a{ href: 'https://github.com/blackducksoftware/ohloh-ui', target: '_blank' }= t('copyright.source_code')
      %p
        %a{ href: "mailto:#{raw_email}".html_safe }= t :contact_us


    .footer-bottom
      %sup &copy;
      = Time.current.year
      %span{ itemscope: '', itemtype: 'http://schema.org/CreativeWork' }
        %span{ itemprop: 'publisher' }
          %a{ href: 'http://www.synopsys.com', target: '_blank' }= "Black Duck Software, Inc."
          = t('copyright.rights_text')
