.footer-left
  %ul.nav.nav-pills
    %li
      %a{ href: 'http://blog.openhub.net/us' }= t :about
    %li
      %a{ href: forums_path }= t :forum
    %li
      %a{ href: 'http://blog.openhub.net/terms' }= t :terms
    %li
      %a{ href: 'http://blog.openhub.net/privacy' }= t :privacy_blog

.footer-mid
  %a{ href: 'http://creativecommons.org/licenses/by/3.0/', rel: 'license', target: '_blank' }
    %img{ alt: 'Creative Commons License', src: '//i.creativecommons.org/l/by/3.0/88x31.png' }
  Copyright 2014 -
  = Time.current.year
  %span{ itemscope: '', itemtype: 'http://schema.org/CreativeWork' }
    %span{ itemprop: 'publisher' }
      %a{ href: 'http://www.blackducksoftware.com', target: '_blank' }= 'Black Duck Software, Inc.,'
  %span{ itemprop: 'description' }
    Open Hub and the Open Hub logo are trademarks of Black Duck Software, Inc. in the United States
    and/or other jurisdictions. All other trademarks are the property of their respective holders.
  %span{ itemscope: '', itemtype: 'http://schema.org/CreativeWork' }
    %span{ itemprop: 'publishingPrinciples' }
      %a{ rel: 'license', href: 'http://creativecommons.org/licenses/by/3.0/', target: '_blank' }
        Creative Commons Attribution 3.0 Unported License.

.footer-right
  %img{ src: image_path('footer/blackduck_mascot.png') }
  .clear &nbsp;
  %sup &copy;
  = Time.current.year

  %span{ itemscope: '', itemtype: 'http://schema.org/CreativeWork' }
    %span{ itemprop: 'publisher' }
      %a{ href: 'http://www.blackducksoftware.com', target: '_blank' }= 'Black Duck Software, Inc.'
      %br
      All Rights Reserved.

- if Rails.env.production?
  = render partial: 'layouts/tracking_scripts/google_analytics'
  = render partial: 'layouts/tracking_scripts/adroll'
  = render partial: 'layouts/tracking_scripts/demandbase_ad_code'
