.footer-left
  %a.logo_link{ href: root_path }
    %img.logo_img{ itemprop: 'image', src: image_path('logo/synopsys_logo.png'), alt: 'Open Hub' }

.footer-mid
  = "ABOUT SYNOPSYS"
  %p
    %a{ href: 'http://www.google.com' }= "Google, Inc."
  %p
    %a{ href: 'http://www.yahoo.com' }= "Yahoo, Inc."

.footer-right
  = "ABOUT OPEN HUB"
  %ul.nav.nav-pills
    %li
      %a{ href: forums_path }= t :forum
    %li
      %a{ href: 'http://blog.openhub.net/terms' }= t :terms
    %li
      %a{ href: 'http://blog.openhub.net/privacy' }= t :privacy_blog
    %li
      %a{ href: 'https://github.com/blackducksoftware/ohloh-ui', target: '_blank' }= t('copyright.source_code')

.footer-bottom
  %sup &copy;
  = Time.current.year
  %span{ itemscope: '', itemtype: 'http://schema.org/CreativeWork' }
    %span{ itemprop: 'publisher' }
      %a{ href: 'http://www.synopsys.com', target: '_blank' }= "Synopsys, Inc."
      = t('copyright.rights_text')

- if Rails.env.production?
  = render partial: 'layouts/tracking_scripts/google_analytics'
  = render partial: 'layouts/tracking_scripts/adroll'
  = render partial: 'layouts/tracking_scripts/demandbase_ad_code'
