.footer-left
  %ul.nav.nav-pills
    %li
      %a{ href: 'http://blog.openhub.net/about' }= t :about
    %li
      %a{ href: forums_path }= t :forum
    %li
      %a{ href: 'http://blog.openhub.net/terms' }= t :terms
    %li
      %a{ href: 'http://blog.openhub.net/privacy' }= t :privacy_blog

.footer-mid
  %a{ href: 'http://creativecommons.org/licenses/by/3.0/', rel: 'license', target: '_blank' }
    %img{ alt: 'Creative Commons License', src: '//i.creativecommons.org/l/by/3.0/88x31.png' }
  = t('copyright.start_year')
  = Time.current.year
  %span{ itemscope: '', itemtype: 'http://schema.org/CreativeWork' }
    %span{ itemprop: 'publisher' }
      %a{ href: 'http://www.blackducksoftware.com', target: '_blank' }= t('copyright.company_name')
      ,
  %span{ itemprop: 'description' }
    = t('copyright.description')
  %span{ itemscope: '', itemtype: 'http://schema.org/CreativeWork' }
    %span{ itemprop: 'publishingPrinciples' }
      %a{ rel: 'license', href: 'http://creativecommons.org/licenses/by/3.0/', target: '_blank' }
        = t('copyright.license_text')

.footer-right
  %p.careers
    %a{ href: 'https://github.com/blackducksoftware/ohloh-ui', target: '_blank' }= t('copyright.source_code')
  %p.careers
    %a{ href: 'https://www.blackducksoftware.com/about/careers', target: '_blank' }= t('copyright.careers')
  .clear &nbsp;
  %sup &copy;
  = Time.current.year
  %span{ itemscope: '', itemtype: 'http://schema.org/CreativeWork' }
    %span{ itemprop: 'publisher' }
      %a{ href: 'http://www.blackducksoftware.com', target: '_blank' }= t('copyright.company_name')
      %br
      = t('copyright.rights_text')

- if Rails.env.production?
  = render partial: 'layouts/tracking_scripts/google_analytics'
  = render partial: 'layouts/tracking_scripts/adroll'
  = render partial: 'layouts/tracking_scripts/demandbase_ad_code'
