:ruby
  explore_projects_class = params[:action] == 'explore/projects' ? 'select' : ''
  explore_orgs_class = params[:action] == 'explore/orgs' ? 'select' : ''
  tools_select = params[:action] == 'tools' ? 'select' : ''

#navbar-inner
  #nav-top-bar
    %ul.new_main_menu{ class: page_context[:select_top_menu_nav] }
      %li.menu_item.projects
        = link_to t(:projects_menu), projects_explores_path, class: explore_projects_class
      %li.menu_item.people
        = link_to t(:people_menu), people_path, class: params[:action] == 'people' ? 'select' : ''
      %li.menu_item.organizations
        = link_to t(:organizations_menu), orgs_explores_path, class: explore_orgs_class
      %li.menu_item.tools
        = link_to t(:tools_menu), tools_path, class: tools_select
      %li.menu_item.blog
        %a{ href: 'https://community.blackduck.com/s/black-duck-open-hub?tabset-c30ff=d9d77', target: '_blank' }= t :blog
      %li.menu_item.bdsa
        %a{ href: bdsa_vulnerabilities_path, target: '_blank' }= t :bdsa
      = render 'shared/search.html.haml'
