- page_column = page_context[:footer_menu_list].count == 2 ? 6 : 3
- page_context[:footer_menu_list].each do |section|
  .actions.margin_top_20.margin_bottom_40{ class: ("col-md-#{page_column} col-xs-#{page_column} no_padding" if page_context[:nav_type].eql?('footer_nav')) }
    %ul.nav.nav-stacked.nav-pills
      - header, *links = section
      - header_class, header_name, header_url, header_type = header
      %h4{ class: [('selected' if header_class == page_context[:select_footer_nav]), ('linked' if header_url)] }
        - if header_url
          %a{ href: header_url }
            %i{ class: "icon #{header_class}" }
            = header_name
        - else
          %i{ class: "icon #{header_class}" }
          = header_name
      - if header_type.eql?('select')
        = select(:language, :url, options_for_select(links), {}, id: 'nav-select', class: 'chzn-select')
      - else
        - links.each do |link|
          - link_class, link_name, link_url = link
          %li.footer-nav{ class: ('nav-active' if link_class == page_context[:select_footer_nav]) }
            - if link_name == 'SBOM'
              = link_to h(link_name), link_url, remote: true,
                    data: { toggle: 'modal', target: '#sbom-details.modal', keyboard: true }
            - else
              %a{ href: link_url }= link_name
#avatar-dialog.modal.pmd-modal.fade#sbom-details{"aria-hidden" => "true", :style => "display: none;", :tabindex => "-1"}
  .modal-dialog.modal-md
    .modal-content
