- if @session_projects.any?
  / Toggle Button
  .compare-toggle-tab
    %button#compare_toggle_btn.compare-toggle-button
      %i.fa.fa-exchange
      Compare Projects (#{@session_projects.size}/3)
      %i.fa.fa-chevron-up.toggle-icon

  / Expandable Tray Content
  .compare-tray-content
    .compare-tray-inner
      / Selected Projects Grid
      .compare-projects-grid
        - @session_projects.each do |project|
          .compare-project-slot
            %button.remove-project{ type: 'button', data: { project_id: project.to_param } }
              %i.fa.fa-times
            .project-slot-icon
              - if project.logo.present?
                = image_tag project.logo.url(:small), alt: project.name
              - else
                %i.fa.fa-cube
            .project-slot-info
              %p.project-slot-name{ title: project.name }= project.name.truncate(25)
              - if project.best_analysis
                %p.project-slot-meta= "#{project.best_analysis.code_total.to_human} lines"
                %p.project-slot-meta= "#{project.active_committers} contributors"

        - (3 - @session_projects.size).times do
          .compare-project-slot.empty-slot
            %i.fa.fa-plus
            %span Select Project

      / Compare Action Button
      .compare-action
        %form{ action: compare_projects_path, method: :get }
          - @session_projects.each_with_index do |p, i|
            %input{ type: 'hidden', name: "project_#{i}", value: p.name }
          %button.btn-compare-submit{ type: 'submit', disabled: @session_projects.size < 2 }
            - if @session_projects.size >= 2
              = "Compare #{@session_projects.size} Projects"
            - else
              Compare (Select at least 2)
