- if @stacks.empty?
  %p= t('.stacks_feature')
  %p= t('.no_stack')
  %p
    = link_to '#', class: 'btn create_and_stack', id: "project_#{project.id}_account_#{current_user.id}" do
      = t('.add_html', name: project.name)

- else
  - unless display_as_project_page && params[:ref]
    %p= t('.add_this', name: project.name)
  - @stacks.each do |stack|
    - stacked = !stack.stacked_project?(project).nil?
    %form.create_stack_entry{ id: "stackit_#{project.id}_#{stack.id}" }
      .control-group
        .controls
          .checkbox
            %input{ check_box_params(stacked, stack, @project) }
            %span.col-md-2= h(stack.name)
            %span.status{ style: 'padding: 0 8px 8px' } &nbsp;
    .clearfix
  - if @stacks.size < Stack::MAX_STACKS_PER_ACCOUNT
    %p
      = link_to '#', class: 'btn create_and_stack', id: "project_#{project.id}_account_#{current_user.id}" do
        = t('.create_html', name: project.name)
