.modal.fade#stack-entries-modal{ 'aria-hidden' => 'true',
  'aria-labelledby' => 'iUseThisModalLabel', :role => 'dialog', :tabindex => '-1' }
  .modal-dialog.modal-dialog-centered.stack-entries-dialog
    .modal-content.stack-entries-content
      .modal-header.stack-entries-header
        %h4.modal-title.stack-entries-title#iUseThisModalLabel
          %i.fa.fa-list-ul{ 'aria-hidden' => 'true' }
          = t('.add_to_stacks')
        %button.close.stack-entries-close{ 'aria-label' => 'Close', 'data-dismiss' => 'modal', :type => 'button' }
          %span{ 'aria-hidden' => 'true' } &times;

      .modal-body.stack-entries-body
        %p.stack-entries-subtitle
          = t('.add_to_your_stack', project: @project.name)

        .stack-entries-list
          - current_user.stacks.each do |stack|
            .stack-entries-row
              .stack-entries-row-left
                - stack_entry = stack.stack_entries.where(project_id: @project.id).take
                .stack-entries-checkbox-wrap
                  = check_box_tag 'stacked', 0, false,
                    class: 'stack-entries-checkbox',
                    'data-stack-id' => stack.to_param,
                    'data-project-url-name' => @project.to_param,
                    'data-stack-entry-id' => stack_entry.to_param
                  %label.stack-entries-label{ for: 'stacked' }
                    %i.fa.fa-th-large.stack-entries-stack-icon{ 'aria-hidden' => 'true' }
                    = stack.title
              .stack-entries-row-right
                = image_tag 'spinner.gif', class: 'hidden spinner stack-entries-spinner', alt: 'Loading'
                %span.stack-entries-message

      .modal-footer.stack-entries-footer
        - stack = Stack.new
        - stack.stack_entries.build(project_id: @project.id)

        = form_for stack, html: { class: 'stack-entries-new-form' } do |f|
          = hidden_field_tag :project_id, @project.id
          = f.fields_for :stack_entries do |stack_entry_form|
            = stack_entry_form.hidden_field :project_id

          = f.submit t('.new_stack', project: @project.name),
            class: 'btn btn-primary btn-block stack-entries-submit'
