- if !current_user.project_core.stacked?(@project.id) && current_user.stacks.count <= 1
  - current_user.stack_core.default.projects << @project
  - @auto_stacked = true
  %h3.primary
    = t('.success')
    = link_to @project.name, project_path(@project)
    = t('.is_now')
    = link_to t('.your_stack'), stack_path(current_user.stack_core.default)
    = t('.on_hub')
- elsif current_user.project_core.stacked?(@project)
  %h3.primary
    = t('.success_with_name', name: @project.name)
    - if current_user.stacks.count > 1
      = t('.one_of')
    - else
      = t('.in_ur')
      = link_to t('.stack'), stack_path(current_user.stack_core.default)
  - @auto_stacked = true
- else
  - raise t('.unexpected') unless current_user.stacks.count > 1
  %h3.primary= t('.welcome', name: @project.name)
