- chart_url = commits_by_language_chart_account_url(@account, scope: 'full').to_s

.margin_top_10.margin_left_20
  %h2.nomargin.col-md-2= t('.title')
  .pull-right
    = render partial: 'accounts/show/vita_timestamp', locals: { best_vita: @account.best_vita }
  .clearfix
  .pull-right#sort_by
    %select.chzn-select.language_category#streamgraph_category
      %option{ value: '#' }= t('.sort_option.hash')
      %option{ value: '2' }= t('.sort_option.two')
      %option{ value: '1' }= t('.sort_option.one')
      %option{ value: '0' }= t('.sort_option.zero')
  .clearfix
.stream_graph.full#ohloh_streamgraph{ 'datascope' => 'full', 'datasrc' => chart_url }
