- chart_url = commits_by_language_account_charts_url(@account, scope: 'full').to_s

.margin_top_10
  %h2.nomargin.col-md-2= t('.title')
  .pull-right
    = render partial: 'accounts/show/account_analysis_timestamp', locals: { best_account_analysis: @account.best_account_analysis }
  .clearfix
  .pull-right.chosen.languages#sort_by
    %select.chzn-select.language_category#streamgraph_category
      %option{ value: '#' }= t('.sort_option.hash')
      %option{ value: '2' }= t('.sort_option.two')
      %option{ value: '1' }= t('.sort_option.one')
      %option{ value: '0' }= t('.sort_option.zero')
  .clearfix
.stream_graph.full.languages#ohloh_streamgraph{ 'datascope' => 'full', 'datasrc' => chart_url }
