:ruby
  content_for(:html_title) { t('.page_title', name: @account.name) }
  page_context[:select_top_menu_nav] = 'select_people'
  page_context[:select_footer_nav] = :languages

- if @account.decorate.account_analysis_status_message.blank?
  .col-md-12
    = render partial: 'accounts/languages/commits_by_language'
  - if @vlfs.present?
    .col-md-12#language_detail
      %table.table.table-striped.table-condensed
        %thead= render partial: 'contributions/language_header'
        %tbody= render partial: 'contributions/language_fact', collection: @vlfs
- else
  %h2= t('accounts.languages.index.title')
  .col-md-12
    %p= @account.decorate.account_analysis_status_message
