#most-active-orgs
  .most-active-card
    .card-header
      %h2= t('.title')
    .card-body
      - @most_active_orgs.each do |org_thirty_day_activity|
        - org = org_thirty_day_activity.organization
        .org-item
          .org-logo
            = link_to org.decorate.icon(:med), organization_path(org), title: org.name, class: 'logo'
          .org-info
            = link_to h(truncate(org.name, length: 24)), organization_path(org), title: org.name, class: 'org-name'
            .org-stats
              = link_to org_thirty_day_activity.commits_per_affiliate,
                organization_path(org, view: 'affiliated_committers'), class: 'commits-value'
              %span.stat-label= t('.commits_or_affiliates')
    .card-footer
      .footer-text
        %p= t('.within_30_days')
      .footer-timestamp
        %p
          = t '.last_calculated', duration: time_ago_in_words(@most_active_orgs.first.created_at) if @most_active_orgs.first
