#newest-orgs
  .newest-orgs-card
    .card-header
      %h2= t('.title')
    .card-body
      - @newest_orgs.each do |org|
        .org-item
          .org-logo
            = link_to org.decorate.icon(:med), organization_path(org), title: org.name, class: 'logo'
          .org-info
            = link_to h(truncate(org.name, length: 24)), organization_path(org), title: org.name, class: 'org-name'
            .org-stats
              %span.projects-count
                = link_to t('.projects_count', count: org.projects_count),
                  organization_path(org, view: 'portfolio_projects'), class: 'projects-value'
              %span.added-time= t('.added', duration: time_ago_in_words(org.updated_at))
    .card-footer
      = link_to t('.more_html'), organizations_path(sort: 'newest'), class: 'more-link'
