.well.col-md-3.col-lg-2.margin_top_10#explore_sidebar
  %div
    %h3.margin_left_10= t('.search')
    %form.margin_left_10.search#explore_search_form{ action: projects_path }     
      %input{ type: :hidden, name: 'ref', value: 'explore_project' }
      %input.explore_search.margin_top_10{ type: :text, name: 'query', placeholder: t('.enter_string'), title: 'Search Projects' }
      .icon-search.search.submit
    %h3.margin_left_10= t('.tags')
    .margin_left_10{ style: 'min-height: 100px; padding-left: 10px' }
      .row
        #tagcloud
          - @tags.each do |tag|
            = link_to h(tag[0]), tags_path(names: tag[0]), data: { weight: tag[1] }
    .margin_left_10
      %form.autocomplete-submit{ rel: 'tag_jump' }
        %input.explore_search.tag_autocomplete.autocompletable#input_tag{ type: :text, placeholder: t('.enter_tag'),
        data: { source: '/autocompletes/tags', select: 'submitForm' }, title: 'Search Tag' }

    %h3.margin_left_10= t('.compare')
    %form.margin_left_10.projects_compare.margin_left_15{ action: '/p/_compare' }
      - compare_project_inputs.each do |options|
        %input.proj.explore_compare{ options.merge({title: 'Compare Project'}) }
      %input.btn.btn-primary.btn-small#compare_btn{ type: 'submit', value: 'Compare' }

    %h3.margin_left_10= t('.similar')
    %form.autocomplete-submit.similar_projects.margin_left_10{ rel: 'similar_project_jump' }
      %input.autocompletable.explore_search#project{ type: 'text', placeholder: t('.enter_project'),
      autocomplete: 'off', data: { source: '/autocompletes/project', select: 'submitFormWithId' }, title: 'Similar Projects' }
      .icon-search.search.submit
      %span.error.hidden= t('.invalid_select')

    %h3.margin_left_10= t('.add')
    %p.justify.margin_left_10{ style: 'line-height: 20px' }
      = t('.community')
      = t('.dont_see_a_project')
    .margin_left_10
      = link_to t('.add_new_project'), new_project_path, class: 'btn btn-primary btn-small'
