#explore_sidebar.well.col-md-3.margin_left_10{ style: 'min-height:650px;' }
  %h3= t('.search')
  .margin_left_10
    %form.search#explore_search_form{ action: projects_path }
      %input{ type: :hidden, name: 'ref', value: 'explore_project' }
      %input.explore_search{ type: :text, name: 'q', rel:'ghost', data_ghost_text: 'Enter search string' }
      .icon-search.search.submit

  %h3= t('.tags')
  .margin_left_10{ style: 'min-height: 100px; padding-left: 15px' }
    .row
      #tagcloud
        - @tags.each do |tag|
          = link_to tag[0], tag_path(tag[0]), data_wieght: tag[1]
  .margin_left_10
    %form{ rel: 'tag_jump' }
      %input.explore_search#input_tag{ type: :text, class: 'tag_autocomplete', rel:'ghost', placeholder: t('.enter_tag')}
      .icon-search.search.submit

  %p &nbsp;
  %h3= t('.compare')
  %form.projects_compare.margin_left_15{ action: '/p/compare' }
    %input.proj.explore_compare#project_1{ type: 'text', name: 'project_1', placeholder: t('.enter_project'), rel: 'ghost', autocomplete: 'off' }
    %input.proj.explore_compare#project_2{ type: 'text', name: 'project_2', placeholder: t('.enter_project'), rel: 'ghost', autocomplete: 'off'}
    %input#auto_submit{ type: 'hidden', value: 'false' }
    %input.pull-right.btn.btn-primary.btn-small#compare_btn{ type: 'submit', value: 'Compare' }

  %p &nbsp;
  %p &nbsp;
  %h3= t('.similar')
  %form.similar_projects.margin_left_10{ rel: 'similar_project_jump' }
    %input.proj.explore_search#project{type: 'text', placeholder: t('.enter_project'), rel:'ghost', autocomplete: 'off' }
    %input#proj_id{ type: 'hidden' }
    .icon-search.search.submit
    %span.error.hidden= t('.invalid_select')

  %p &nbsp;
  %h3= t('.add')
  %p.justify.margin_left_10= t('.community')
  %p.justify.margin_left_10
    = t('.favorite')
    = link_to t('.add_here'), new_project_path
