%h1.margin_bottom_20= t('.title')
.row
  = render partial: 'most_active_orgs'
  = render partial: 'orgs_by_30_day_commit_volume'
.row
  = render partial: 'newest_orgs'
  = render partial: 'stats_by_sector'
