- page_context[:select_top_menu_nav] = 'select_organizations'
- content_for :html_title do
  = t('.page_title')

%h1.margin_bottom_20= t('.title')
.row
  .col-md-3
    = render partial: 'most_active_orgs'
    = render partial: 'newest_orgs'
  .col-md-9
    = render partial: 'orgs_by_30_day_commit_volume'
    = render partial: 'stats_by_sector'
