- page_context[:select_top_menu_nav] = 'select_organizations'
- content_for :html_title do
  = t('.page_title')

.explore-page-wrapper
  .explore-header-top
    %h1= t('.title')
    = render 'shared/search'

.explore-page-wrapper
  .orgs-layout
    .left-column
      = render partial: 'most_active_orgs'
      = render partial: 'newest_orgs'
    .right-column
      = render partial: 'orgs_by_30_day_commit_volume'
      = render partial: 'stats_by_sector'
