- page_context[:select_top_menu_nav] = 'select_projects'
- content_for :html_title do
  = t('.page_title')

#explore_projects
  %h1= t('.title')

  = render 'projects_sidebar'

  = render 'hot_projects'

  = render 'project_demographics'
