- content_for(:html_title) { t('.html_title') }

.row-fluid
  .well.well-large.col-md-8.col-md-offset-2.margin_top_20
    %p
      = t('.verification_prompt')

    %button.btn.btn-primary#digits-sign-up
      = t('.verify_using_phone_number')

= form_tag account_verifications_path(@account), id: :new_verification do
  = hidden_field_tag 'verification[service_provider_url]'
  = hidden_field_tag 'verification[credentials]'
