!!!
%html
  %head
    %meta{ content: 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type' }
    %meta{ charset: 'utf-8' }
    %title OpenHub Admin
    %meta{ content: 'width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no', name: 'viewport' }
    = stylesheet_link_tag 'admin/admin', media: 'all'
    = javascript_include_tag 'application'
    %link{ href: '//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic' }
  %body.hold-transition.skin-blue.sidebar-mini
    .wrapper
      %header.main-header
        %a.logo{ href: "#{oh_admin_root_path}" }
          %span.logo-lg
            %b OpenHub Admin
        - if current_user.present?
          %nav.navbar.navbar-static-top
            .navbar-custom-menu
              %ul.nav.navbar-nav
                %li.dropdown.user.user-menu
                  %a.dropdown-toggle{ 'data-toggle': 'dropdown' }
                    %img.user-image{ alt: 'User Image', src: avatar_img_path(current_user) }
                    %span.hidden-xs= current_user.name
      %aside.main-sidebar
        %section.sidebar
          - if current_user.present?
            .user-panel
              .pull-left.image
                %img.img-circle{ alt: 'User Image', src: avatar_img_path(current_user, 160) }
              .pull-left.info
                %p
                  = current_user.name
                %a{ href: '#' }
                  %i.fa.fa-circle.text-success
                  Online
          %ul.sidebar-menu{ 'data-widget': 'tree' }
            %li.header MAIN NAVIGATION
            %li
              %a{ href: '#' }
                %i.fa.fa-book
                %span Project Jobs
            %li
              %a{ href: "#{oh_admin_broken_links_path}" }
                %i.fa.fa-book
                %span Broken Links
            %li
              %a{ href: "#{oh_admin_license_permissions_path}" }
                %i.fa.fa-book
                %span License Permissions
      .content-wrapper
        - if flash[:success]
          %p.alert.alert-success= flash[:success]

        %section.content-header
          = yield
