!!!
%html
  %head
    - page_title = content_for?(:html_title) ? yield(:html_title).to_s : t('.openhub')
    %title= page_title
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }
    %meta{ name: 'description', content: page_context[:description] }
    %meta{ name: 'keywords', content: page_context[:keywords] }
    %meta{ name: 'firebase-consumer-key', content: ENV['FIREBASE_API_KEY'] }
    %meta{ name: 'firebase-app-id', content: ENV['FIREBASE_PROJECT_ID'] }
    %meta{ name: 'firebase-app-url', content: ENV['FIREBASE_AUTH_DOMAIN'] }
    %meta{ name: 'google-site-verification', content: 'jKkWeVQ0tB1bffJYg7xXAtcIM-nrjjVxhP3ohb8UH2A' }
    %link{ href: 'https://cdn.firebase.com/libs/firebaseui/3.4.0/firebaseui.css', rel: 'stylesheet', type: 'text/css' }/

    = yield :custom_head
    = stylesheet_link_tag 'application', media: 'all'
    = csrf_meta_tags

  %body{ zoom: 1 }
    = yield :session_projects_banner
    .container#page
      %header= render partial: 'layouts/partials/header'
      = render partial: 'layouts/partials/page', locals: { responsive_layout: false }
      .clear
      %footer= render partial: 'layouts/partials/footer'
    = render partial: 'cookies/consent_banner' unless cookies[:cookie_consented]
    = render partial: 'layouts/partials/js_scripts'

