-!!! 5
%html
  %head
    - page_title = page_context[:title] ? "#{page_context[:title]} - Open Hub" : 'Open Hub'
    %title= page_title
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }
    %meta{ name: 'description', content: page_context[:description] }
    %meta{ name: 'keywords', content: page_context[:keywords] }
    %meta{ name: 'google-site-verification', content: 'jKkWeVQ0tB1bffJYg7xXAtcIM-nrjjVxhP3ohb8UH2A' }
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = csrf_meta_tags
    /TODO: Refactor javascript include tag to only accommodate views that need recaptcha
    = javascript_include_tag 'https://www.google.com/recaptcha/api.js'
  %body{zoom: 1}
    .container#page
      %header= render partial: 'layouts/partials/header'
      = render partial: 'layouts/partials/page'
      .clear
      %footer= render partial: 'layouts/partials/footer'
