:ruby
  vf = account.best_account_analysis.account_analysis_fact
  pos_ids, more_pos_count = @cbp_map[account.id]
  sorted_cbl = account.decorate.sorted_commits_by_language

.people-card
  .people-card__body
    .people-card__row
      .people-card__avatar-info
        = avatar_for account, size: 96
        .people-card__info
          %h3.people-card__name
            = link_to h(truncate(account.name, length: 18)), account_path(account), title: h(account.name)
          %p.people-card__meta.word_break_all= truncate(account.markup.try(:first_line), length: 75)
          - if account.projects.any?
            - manages_count_text = t 'people.claimed_person.manages', what: pluralize(account.projects.count, 'project')
            %p.people-card__meta= link_to manages_count_text, account_projects_path(account)
          %p.people-card__meta= t '.member_since', since: account.created_at.strftime('%B %Y')
      .people-card__commits
        - if vf.commits > 0
          .people-card__commits-count= vf.commits
          .people-card__commits-label
            = link_to pluralize_without_count(vf.commits, 'Commit'), account_positions_path(account)
        - else
          .people-card__commits-count 0
          .people-card__commits-label Commits
      .people-card__activity
        - if vf.commits > 0 && @positions_map.any?
          .people-card__row-langs
            %span.people-card__label= t('.in')
            .people-card__lang-tags
              - if sorted_cbl.empty?
                %span.people-card__no-lang= t('.no_lang_summary')
              - else
                - sorted_cbl.first(3).each_with_index do |(lang, lang_hash), i|
                  - if i == 0
                    %span.people-card__lang-primary
                      = link_to lang_hash[:nice_name], language_path(lang)
                  - else
                    %span.people-card__lang-secondary
                      = link_to lang_hash[:nice_name], language_path(lang)
          .people-card__row-projects
            %span.people-card__label= t('.to')
            .people-card__project-list
              - pos_ids.each do |pos_id|
                - project = @positions_map[pos_id].try(:project)
                - next unless project
                .people-card__project-item
                  = project.decorate.icon(:small, width: 20)
                  = link_to h(truncate(project.name, length: 10)), project_path(project), class: 'people-card__project-name'
          %p.people-card__other-links
            - if sorted_cbl.length > 3
              - other_langs_count = sorted_cbl.length - 3
              - pluaral_term = pluralize_without_count(other_langs_count, 'language')
              - langs_link = t('.langs_link_text1', other_langs_count: other_langs_count, pluaral_term: pluaral_term)
              = link_to langs_link, account_languages_path(account), class: 'people-card__link'
            - else
              = link_to t('.langs_link_text2'), account_languages_path(account), class: 'people-card__link'
            %span.people-card__link-dot •
            - if more_pos_count > 0
              - pluaral_term1 = pluralize_without_count(more_pos_count, 'project')
              = link_to t('.positions_link_text1', more_pos_count: more_pos_count, pluaral_term: pluaral_term1), account_positions_path(account), class: 'people-card__link'
            - else
              = link_to t('.positions_link_text2'), account_positions_path(account), class: 'people-card__link'
        - else
          %p.people-card__no-commits= t('.no_commits')
      .people-card__kudos
        .people-card__kudos-rank= account.kudo_rank
        .people-card__kudos-badge
          = render 'badges_row', badges: [BadgeDecorator.new(Badge::KudoRankBadge.new(account))]
