= form_for @account, html: { id: :account_form, class: 'well' } do |f|
  = f.fields_for :firebase_verification do |firebase_form|
    = firebase_form.hidden_field :credentials, id: :credentials
  %fieldset
    %legend= t('.new_account')
    .controls
      %label.control-label.required= t('.login')
      = f.text_field(:login, id: :login)
      - error_tag(@account, :login)
      %p.help-block
        = t('.login_help')
    .control-group
      %label.control-label.required= t('email_address')
      = f.text_field(:email, id: :email)
      - error_tag(@account, :email)
      %p.help-block
        = t('.email_help_1')
        %br
        = t('.email_help_2')
        %br
        = t('.email_help_3')
        = link_to t('gravatar'), 'https://gravatar.com', target: '_blank'
        = t('.email_help_4')

    .control-group
      %label.control-label.required= t('password')
      = f.password_field(:password, id: :password)
      - error_tag(@account, :password)
      %p.help-block= t('.password_help')

    - firebase_attribute = 'firebase_verification.unique_id'
    - verified = @account.firebase_verification.try(:unique_id?) && @account.errors[firebase_attribute].empty?
    .label.label-info.verified{ id: ('hidden-verified-label' unless verified) }
      = t('.phone_number_verified')
    - unless verified
      .control-group
        #firebaseui-auth-container
        - error_tag(@account, firebase_attribute)

      %p.help-block
        = t('.phone_disclaimer')

    .actions
      %input.btn.btn-primary{ type: :submit, value: t('.sign_up') }
