= form_for @account, html: { id: :account_form } do |f|
  %fieldset
    .signup-field-group
      %label.signup-field-label= t('.login')
      .signup-field-input-wrapper
        %i.fa.fa-user.signup-field-icon
        = f.text_field(:login, id: :login, class: 'signup-field-input', placeholder: 'Your login name')
      - error_tag(@account, :login)
      %p.signup-field-hint= t('.login_help')

    .signup-field-group
      %label.signup-field-label= t('email_address')
      .signup-field-input-wrapper
        %i.fa.fa-envelope-o.signup-field-icon
        = f.text_field(:email, id: :email, class: 'signup-field-input', placeholder: 'you@example.com')
      - error_tag(@account, :email)
      %p.signup-field-hint
        = t('.email_help_1')

    .signup-field-group
      %label.signup-field-label= t('password')
      .signup-field-input-wrapper
        %i.fa.fa-lock.signup-field-icon
        = f.password_field(:password, id: :password, class: 'signup-field-input signup-field-input--password', placeholder: 'Create a password')
      - error_tag(@account, :password)
      %p.signup-field-hint= t('.password_help')

    / Honeypot — keep hidden for spam protection
    .control-group{ style: 'position: absolute; left: -9999px; opacity: 0;' }
      %label Age (mandatory)
      = text_field_tag :mandatory_age, nil, autocomplete: 'off', tabindex: '-1'

    = hidden_field_tag :visitor_id, Time.current.to_i

    .signup-field-group
      = render 'shared/captcha'

    .signup-field-actions
      %input.signup-submit-btn{ type: :submit, value: 'Create Account' }
