%meta{ name: 'ROBOTS', content: 'NOINDEX, NOFOLLOW' }

.col-md-10
  %h2= t('.sad')
  %p= t('.info')
  %p= t('.rejoin')
  %p= t('.feedback')

  %form{ url: destroy_feedback_accounts_path(login: params[:login]), method: 'post' }
    .controls
      - DeletedAccount::REASONS_MAP.sort.each do |val, label|
        %label.checkbox
          %input{ type: 'checkbox', name: 'reasons[]', value: val, checked: [1, 2, 6].include?(val) }
            = label
    .controls
      %textarea.col-md-7{ name: 'reason_other', rows: '5' }
    .actions
      %input.btn.btn-primary{ type: 'submit', value: 'Submit' }
.clearfix &nbsp;
