- content_for(:html_title) { t('.page_title') }
- page_context[:select_top_menu_nav] = 'select_people'

.people-page-container
  = link_to people_path, class: 'accounts-back-link' do
    ← Back to contributors

  .people-page-header
    %h1.people-page-title= t '.people'
    = render 'shared/global_search', placeholder: t('shared.global_search.placeholder')

  %h2.people-section-title= t '.header'

  = render partial: 'shared/search_dingus', locals: { collection: @people, sort_context: :people }

  = render partial: 'account', collection: @people.map(&:account)

  = will_paginate @people
