- content_for(:html_title) { t('.html_title') }

.col-xs-6.col-sm-7#welcome-message-container
  = render 'welcome'

- if @account.errors.none?
  .col-xs-12.col-sm-5#sign-up-options
    -if only_device?
      .col-xs-3.pull-left#sign-up-git
        = link_to 'javascript:', { class: 'btn btn-primary github-oauth' }.merge(github_data_attributes) do
          = t('.sign_up_with')
          %br
            %i.fa.fa-github
              Github
    -else
      .row-first
      = link_to 'javascript:', { class: 'btn btn-primary btn-block github-oauth' }.merge(github_data_attributes) do
        = t('.sign_up_with')
        %br
          %i.fa.fa-github
            Github

      %p.help-block
        = t('.github_disclaimer')
    -if only_device?
      .col-xs-3.pull-right#sign-up-email
        = link_to 'javascript:', id: 'email-sign-up', class: 'btn btn-primary' do
          = t('.sign_up_with')
          %br
            %i.fa.fa-envelope-o
              Email
    -else
      = link_to 'javascript:', id: 'email-sign-up', class: 'btn btn-primary btn-block' do
        = t('.sign_up_with')
        %br
          %i.fa.fa-envelope-o
            Email

.col-xs-12.col-sm-5.no_right_padding{ id: ('sign-up-fields' if @account.errors.none?) }
  - if flash[:message]
    %p= flash[:message]
  - unless @account.invite_code.blank?
    %p= t('.invite_code_message')
  = render 'fields'
