- content_for :html_title do
  = t('.settings_title', name: @account.name)
- account_context
- page_context[:select_footer_nav] = :settings

.settings-page-header
  .settings-page-header-row
    .settings-page-icon
      %i.fa.fa-cog
    %h2.settings-page-h2= t('.settings')
  %p.settings-page-description= t('.configure_desc', name: @account.name)

.settings-grid
  %a.settings_module{ href: edit_account_path(@account) }
    .settings-icon-wrapper.gradient-purple
      %i.fa.fa-user
    .settings-text
      %h4= t('.account_basics')
      %span.settings_description= t('.account_basics_settings')

  %a.settings_module{ href: alter_password_edit_account_path(@account) }
    .settings-icon-wrapper.gradient-red
      %i.fa.fa-lock
    .settings-text
      %h4= t('.password')
      %span.settings_description= t('.change_passwords')

  %a.settings_module{ href: account_api_keys_path(@account) }
    .settings-icon-wrapper.gradient-blue
      %i.fa.fa-key
    .settings-text
      %h4= t('.api_keys')
      %span.settings_description= t('.api_key_settings')

  %a.settings_module{ href: edit_account_privacy_account_path }
    .settings-icon-wrapper.gradient-green
      %i.fa.fa-shield
    .settings-text
      %h4= t('.privacy')
      %span.settings_description= t('.email_settings')
