- content_for :html_title do
  = t('.settings_title', name: @account.name)
- account_context
- page_context[:select_footer_nav] = :settings

.full-width.margin_left_20.margin_right_20
.clear_left
.col-xs-12.col-sm-12.col-md-12
  %h3= t('.settings')
  .account_settings_options
    .row.account_setting_row
      .col-md-6.col-sm-6.col-xs-12.settings_specifications
        %h4= link_to t('.account_basics'), edit_account_path(@account)
        %span.pull-left
          %a.account_settings_icon.settings_account_basics{ href: edit_account_path(@account) }
        %span= t('.account_basics_settings')
      .col-md-6.col-sm-6.col-xs-12.settings_specifications
        %h4= link_to t('.password'), alter_password_edit_account_path(@account)
        %span.pull-left
          %a.account_settings_icon.settings_account_password{ href: alter_password_edit_account_path(@account) }
        %span= t('.change_passwords')
    .row.account_setting_row
      .col-md-6.col-sm-6.col-xs-12.settings_specifications
        %h4= link_to t('.api_keys'), account_api_keys_path(@account)
        %span.pull-left
          %a.account_settings_icon.settings_api_keys{ href: account_api_keys_path(@account) }
        %span= t('.api_key_settings')
      .col-md-6.col-sm-6.col-xs-12.settings_specifications
        %h4= link_to t('.privacy'), edit_account_privacy_account_path
        %span.pull-left
          %a.account_settings_icon.settings_privacy{ href: edit_account_privacy_account_path }
        %span= t('.email_settings')
