- set_page_context(select_top_menu_nav: :select_people,
                   footer_menu_list: @account.decorate.sidebar_for(current_user),
                   select_footer_nav: :account_summary)
- content_for(:html_title) { t('accounts.show.page_title', name: @account.name) }

- content_for :twitter_card do
  %meta{ content: 'summary', name: 'twitter:card' }
  %meta{ content: '@bdopenhub', name: 'twitter:site' }
  %meta{ content: h(@account.name).to_s, name: 'twitter:title' }
  %meta{ content: @twitter_detail.description.to_s, name: 'twitter:description' }
  %meta{ content: avatar_img_path(@account, 80).to_s, name: 'twitter:image' }
  %meta{ content: 'https://www.openhub.net', name: 'twitter:domain' }

= render partial: 'accounts/show/summary'
.clearfix
= render partial: 'accounts/show/admin' if current_user_is_admin?
.mezzo.padding_one_top
  %h3= t('.dev_history')
  .col-sm-12.col-md-12
    - if @account.decorate.account_analysis_status_message
      %p= @account.decorate.account_analysis_status_message
    - else
      = render partial: 'accounts/show/commits_by_projects'
      = render partial: 'accounts/show/commits_by_language'
