- content_for :twitter_card do
  %meta{ content: 'summary', name: 'twitter:card' }
  %meta{ content: '@bdopenhub', name: 'twitter:site' }
  %meta{ content: "#{h(@account.name)}", name: 'twitter:title'}
  %meta{ content: "#{twitter_card_description(@account)}", name: 'twitter:description'}
  %meta{ content: "#{avatar_img_path(@account, 80)}", name: 'twitter:image'}
  %meta{ content: 'https://www.openhub.net', name: 'twitter:domain'}

.row
  .span12
    = render partial: 'accounts/show/summary'
- if @account.admin?
  = render partial: 'accounts/show/admin'
.mezzo.padding_one_top
  %h3= t('.dev_history') Development History
  .span12
    - @account.decorate.vita_status_message do
      = render partial: 'accounts/show/commits_by_projects'
      = render partial: 'accounts/show/commits_by_language'
