- if @status == true
  %h1.margin_bottom_15= t('.title')
  %p#email_unsubscribed
    = t('.sad')
    %i= t('.except')
    = t('admin_emails')
    = link_to t('.settings'), edit_account_privacy_account_path(@account)
    = t('.privacy')

- elsif @status == false
  %h1.margin_bottom_15= t('.already')
  %p#email_already_unsubscribed
    = t('.not_again')
    = link_to t('.settings'), edit_account_privacy_account_path(@account)
    = t('.privacy')
- else
  %h1.margin_bottom_15= t('.unable')
  %p#unknown_user
    = t('.cannot')
    = link_to t('.settings'), new_session_path
    = t('.privacy')

%p
  = t('.respect')
  = link_to t('.policy'), 'http://blog.openhub.net/privacy', target: '_blank'
